*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-size: inherit;
}

html {
	scroll-behavior: smooth;
	scroll-padding: 15%;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-size: var(--fs-base);
	font-family: var(--ff-primary);
	font-weight: var(--fw-base);
	color: var(--color-base);
	background-color: var(--bg-body);
	line-height: var(--lh-base);
	text-underline-offset: 20%;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;

	overflow-x: hidden;
}

header {
	background-color: var(--bg-header);
}

.body-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 90vh;
	overflow: hidden;
}

footer {
	z-index: var(--z-footer);
	background-color: var(--bg-footer);
	margin-top: auto;
}

h1,
.h1 {
	font-size: var(--h1);
}

h2,
.h2 {
	font-size: var(--h2);
}

h3,
.h3 {
	font-size: var(--h3);
}

h4,
.h4 {
	font-size: var(--h4);
}

h5,
.h5 {
	font-size: var(--h5);
}

h6,
.h6 {
	font-size: var(--h6);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	line-height: var(--lh-heading);
	font-weight: var(--fw-heading);
	color: var(--color-heading);
}

hr {
	border: none;
	background-color: var(--hr-color);
	width: var(--hr-width);
	min-height: var(--hr-height);
	border-radius: var(--hr-br);
	margin-left: auto;
	margin-right: auto;
}

blockquote {
	padding: var(--spacer-2);
	border-left: 0.25rem solid var(--color-primary);
}

:focus-visible {
	outline: none;
}

button,
[type='button'] {
	display: inline-flex;
	border: none;
	background-color: transparent;
	user-select: none;
}

a,
[type='link'] {
	display: inline-flex;
	cursor: pointer;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

ul,
ol,
menu,
dt {
	padding: 0;
	list-style: none;
	list-style-position: inside;
}

input {
	outline: none;
	border: var(--border, none);

	&[type='search']::-webkit-search-cancel-button {
		display: none;
	}
}

::selection {
	background-color: var(--selection-bg);
	color: var(--selection-color);
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
