*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	scroll-padding: 15%;
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	font-size: 100%;
}

body {
	font-size: var(--fs-base);
	font-family: var(--ff-primary);
	font-weight: var(--fw-base);
	color: var(--color-base);
	background-color: var(--color-bg-body);
	line-height: var(--lh);
	text-underline-offset: var(--underline-offset);

	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;

	overflow-x: hidden;
}

select,
textarea,
input,
button {
	font-family: var(--ff-primary);
	font-size: var(--f-base);
}

header {
	background-color: var(--color-bg-header);
}

.body-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 90vh;
	overflow: hidden;
}

footer {
	z-index: var(--z-footer);
	background-color: var(--color-bg-footer);
	margin-top: auto;
}

:focus-visible {
	outline-color: var(--color-focus-outline);
	//outline: none;
}

header,
button,
img,
picture {
	user-select: none;
}

img,
svg {
	vertical-align: middle;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

ul,
ol,
menu,
dt {
	padding: 0;
	list-style: none;
}

.fs-0 {
	font-size: var(--fs-0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: var(--lh-headings);
	font-weight: var(--fw-headings);
}

button,
[type='button'] {
	border: none;
	background-color: transparent;
}

a,
[type='link'],
[href] {
	display: inline-block;
	cursor: pointer;
}

hr {
	border: none;
	background-color: var(--hr-color);
	width: var(--hr-width);
	min-height: var(--hr-height);
	border-radius: var(--hr-br);
	margin-left: auto;
	margin-right: auto;
}

input {
	outline: none;
	border: none;

	&[type='search']::-webkit-search-cancel-button {
		display: none;
	}
}

blockquote {
	padding: var(--spacer);
	border-left: 0.25rem solid var(--color-primary);
}

::selection {
	background-color: var(--color-bg-selection);
	color: var(--color-selection);
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
