*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-size: inherit;
}

html {
	scroll-behavior: smooth;
	scroll-padding: 15%;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-size: var(--fs-md);
	font-weight: var(--fw-regular);
	line-height: var(--lh-md);
	font-family: var(--ff-primary);
	text-underline-offset: var(--underline-offset);
	color: var(--color-text-secondary);
	background: var(--color-bg-body);
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

.body-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

h1,
.h1 {
	font-size: var(--h1);
}

h2,
.h2 {
	font-size: var(--h2);
}

h3,
.h3 {
	font-size: var(--h3);
}

h4,
.h4 {
	font-size: var(--fs-lg);
}

h5,
.h5 {
	font-size: var(--fs-md);
}

h6,
.h6 {
	font-size: var(--fs-sm);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	line-height: var(--lh-sm);
	font-weight: var(--fw-bold);
	color: var(--color-text-primary);
}

strong {
	color: var(--color-text-primary);
}

hr {
	border: none;
	background-color: var(--color-primary);
	width: 100%;
	min-height: var(--border-thickness);
	margin: 0 auto;
}

blockquote {
	padding: var(--space-4);
	border-left: calc(var(--border-thickness) * 2) solid var(--color-primary);
}

:focus-visible {
	outline: none;
}

button,
[role='button'],
input[type='submit'] {
	cursor: pointer;
	background: unset;
	user-select: none;
	display: inline-flex;
}

:is(button, input[type='radio'], input[type='checkbox'])[disabled] {
	pointer-events: none !important;
	opacity: 0.5;
}

a,
[role='link'],
button,
[role='button'],
input,
input[type='submit'],
label,
select,
textarea,
fieldset {
	border: none;
	border-radius: 0;
}

input,
textarea {
	color: inherit;
}

input[type='radio'],
input[type='checkbox'] {
	appearance: none;
}

a,
[role='link'],
input[type='radio'],
input[type='checkbox'] {
	display: inline-block;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	background: hsl(0, 0%, 50%);
}

ul,
ol,
menu,
dt {
	padding: 0;
	list-style: none;
	list-style-position: inside;
}

input[type='search']::-webkit-search-cancel-button {
	display: none;
}

::placeholder {
	transition: var(--transition-md);
	color: var(--color-text-secondary);
}

::selection {
	background-color: var(--color-primary);
	color: var(--color-text-reverse);
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
