.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: clamp-smart(300, 440);
	line-height: 1;
	text-align: center;
}

.hero__title {
	font-size: clamp-smart(40px, 100px);
	font-weight: var(--fw-bold);
	color: var(--color-text-white);
}

.hero__subtitle {
	font-size: clamp-smart(20px, 50px);
	margin-top: 0.5em;
	color: var(--color-text-white);
}
