.hero__title {
	font-size: clamp-smart(40px, 100px);
	font-weight: var(--fw-bold);
	text-align: center;
	line-height: 1;
	color: var(--color-text-reverse);
}

.hero__subtitle {
	font-size: clamp-smart(20px, 50px);
	margin-top: 0.5em;
	text-align: center;
	color: var(--color-text-reverse);
	line-height: var(--lh-sm);
}