:root {
	/*
|--------------------------------------------------------------------------
|	COLORS
|--------------------------------------------------------------------------
*/
	// variables from sass color map
	// @include map-scss-vars-into-css-vars($colors, '--color');

	// brand color (primary)
	--primary-hue: 201;
	--primary-saturation: 100%;
	--primary-lightness: 37%;
	--darken: 8%;

	// basic colors
	--color-white: hsl(0, 0%, 100%);
	--color-black: hsl(0, 5%, 15%);

	// color scheme light
	--color-primary: hsl(var(--primary-hue) var(--primary-saturation) var(--primary-lightness));

	--color-primary-dark: hsl(
		var(--primary-hue) var(--primary-saturation) calc(var(--primary-lightness) - var(--darken))
	);

	--color-surface: hsl(var(--primary-hue) var(--primary-saturation) 97%);

	--color-accent: var(--color-primary);
	--color-disabled: hsl(var(--primary-hue) 40% 40%);

	// background
	--color-bg: var(--color-white);
	--color-bg-body: var(--color-bg);
	--color-bg-header: var(--color-bg);
	--color-bg-footer: var(--color-surface);

	// text
	--color-text-primary: hsl(var(--primary-hue) 100% 15%);
	--color-text-secondary: hsl(var(--primary-hue) 20% 45%);
	--color-text-reverse: var(--color-white);

	// feedback
	--color-feedback-error: hsl(4, 90%, 58%);
	--color-feedback-success: hsl(147, 100%, 35%);
	--color-feedback-warning: hsl(39, 93%, 59%);

	/*
|-------------------------------------------------------------------------|
|	TYPOGRAPHY
|-------------------------------------------------------------------------|
*/
	// font family
	--ff-primary: 'Poppins', Arial, sans-serif;

	// heading sizes
	--h1: #{clamp-smart(40, 60)};
	--h2: #{clamp-smart(26, 36)};
	--h3: #{clamp-smart(20, 28)};
	--h4: #{clamp-smart(18, 20)};

	// font sizes
	@include map-scss-vars-into-css-vars($font-sizes, '--fs');

	// line heights
	--lh-md: 1.7; // base
	--lh-sm: 1.2; // headings

	--underline-offset: 0.3em;

	// font weights
	// variables from sass font weights map
	@include map-scss-vars-into-css-vars($font-weights, '--fw');

	/*
|--------------------------------------------------------------------------
|	STRUCTURE
|--------------------------------------------------------------------------
*/	
	--header-height: clamp-smart(2.75rem, 3.75rem);
	// buttons, inputs;
	--target-size: 2.75em;

	// spacers
	@include map-scss-vars-into-css-vars($spacers, '--space');

	--space-container: var(--space-3);

	// borders
	--border-color: var(--color-primary);
	--border-thickness: 1px;
	--border-radius: 1rem;
	--border: var(--border-thickness) solid var(--border-color);

	// shadows
	--shadow-alpha: 0.12;
	--shadow-color: hsla(var(--primary-hue) var(--primary-saturation) var(--primary-lightness) / var(--shadow-alpha));
	--shadow-spread: 1rem;
	--shadow: 0 0 var(--shadow-spread) var(--shadow-color);

	// transitions
	--transition-sm: 0.15s ease-in-out;
	--transition-md: 0.225s ease-out;
	--transition-lg: 0.3s ease-in-out;

	// z-index
	--z-tooltip: 500;
	--z-dropdown: 400;
	--z-dialog: 300;
}
