:root {
	color-theme: light;

	/*
	|--------------------------------------------------------------------------
	|	COLORS
	|--------------------------------------------------------------------------
	*/

	// base colors
	--color-white: hsl(0, 0%, 100%);

	// feedback
	--color-feedback-error: hsl(4, 90%, 58%);
	--color-feedback-success: hsl(147, 100%, 35%);
	--color-feedback-warning: hsl(39, 93%, 59%);

	// brand (primary) color HSL destructor
	--h: 0;
	--s: 0%;
	--l: 34%;
	--hsl: var(--h) var(--s) var(--l);

	// brand colors
	--color-primary: hsl(var(--hsl));
	--color-primary-light: hsl(var(--h) var(--s) calc(var(--l) + 10%));

	--color-accent: var(--color-primary-light);

	// backgrounds
	--color-bg: hsl(var(--h) var(--s) 97%);
	--color-bg-primary: var(--color-white);

	--color-bg-body: var(--color-bg);
	--color-bg-header: var(--color-bg-primary);
	--color-bg-footer: var(--color-bg);

	// text
	--color-text-primary: hsl(var(--h) 0% 25%);
	--color-text-secondary: hsl(var(--h) 0% 35%);
	--color-text-reverse: var(--color-white);

	// backdrop
	--backdrop: rgb(0 0 0 / 0.5);
	--backdrop-shadow: 0 0 40px 15px rgba(0 0 0 / 0.1);

	/*
	|-------------------------------------------------------------------------|
	|	TYPOGRAPHY
	|-------------------------------------------------------------------------|
	*/

	// font family
	--ff-primary: 'Poppins', Arial, sans-serif;

	// heading sizes
	--h1: #{clamp-smart(40, 60)};
	--h2: #{clamp-smart(26, 36)};
	--h3: #{clamp-smart(20, 28)};
	--h4: #{clamp-smart(18, 20)};

	// font sizes
	@include map-scss-vars-into-css-vars($font-sizes, '--fs');

	// line heights
	--lh-md: 1.7; // base
	--lh-sm: 1.25; // headings

	--underline-offset: 0.3em;

	// font weights
	// variables from sass font weights map
	@include map-scss-vars-into-css-vars($font-weights, '--fw');

	/*
	|--------------------------------------------------------------------------
	|	STRUCTURE
	|--------------------------------------------------------------------------
	*/

	// default: used for logo as leading header size
	--header-height: clamp-smart(2.75rem, 3.75rem);

	// buttons, inputs;
	--target-size: 2.75em;

	// spacers
	@include map-scss-vars-into-css-vars($spacers, '--space');
	--space-container: var(--space-3);

	// borders
	--border-color: hsl(var(--hsl) / 0.5);
	--border-thickness: 1px;
	--border-radius: ;
	--input-border-color-focus: var(--color-accent);
	--border: var(--border-thickness) solid var(--border-color);

	// shadows
	--shadow-color: hsla(var(--hsl) / 0.3);
	--shadow-spread: 1px;
	--shadow: 0 0 var(--shadow-spread) var(--shadow-color);
	--input-focus-shadow: 0 0 0 4px var(--shadow-color);

	// transitions
	--transition-sm: 0.15s ease-in-out;
	--transition-md: 0.225s ease-out;
	--transition-lg: 0.3s ease-in-out;
}
