:root {
	/*
|--------------------------------------------------------------------------
|	COLORS
|--------------------------------------------------------------------------
*/
	// variables from sass color map
	@include map-scss-vars-into-css-vars($colors, '--color');

	// alerts
	--color-error: hsl(4, 90%, 58%);
	--color-success: hsl(147, 100%, 35%);
	--color-warning: hsl(41, 100%, 80%);

	// backgrounds
	--bg-body: var(--color-white);
	--bg-header: var(--color-white);
	--bg-footer: var(--color-white);

	// typography
	--color-base: var(--color-black);
	--color-muted: var(--color-grey);
	--color-heading: var(--color-black);

	// selection
	--selection-color: var(--color-white);
	--selection-bg: var(--color-primary);

	/*
|--------------------------------------------------------------------------
|	TYPOGRAPHY
|--------------------------------------------------------------------------
*/
	// font family
	--ff-primary: 'Montserrat', Arial, sans-serif;

	// heading sizes
	--h1: #{clamp-smart(40, 60)};
	--h2: calc(var(--h1) * 0.6);
	--h3: calc(var(--h1) * 0.5);
	--h4: calc(var(--h1) * 0.4);
	--h5: #{clamp-smart(16, 18)};
	--h6: 0.875rem;

	// font sizes
	@include map-scss-vars-into-css-vars($font-sizes, '--fs');

	// line heights
	--lh-base: 1.7;
	--lh-sm: 1.3;
	--lh-lg: 2;
	--lh-heading: 1.2;

	// font weights
	// variables from sass font weights map
	@include map-scss-vars-into-css-vars($font-weights, '--fw');
	--fw-base-body: var(--fw-base);
	--fw-heading: var(--fw-lg);

	/*
|--------------------------------------------------------------------------
|	STRUCTURE
|--------------------------------------------------------------------------
*/

	// spacers
	@include map-scss-vars-into-css-vars($spacers, '--spacer');

	// container
	--container-space-x: var(--spacer-2);
	--container-space-y: var(--spacer-3);

	// borders
	--border-color: var(--color-primary);
	--border-thickness: 1px;
	--border-radius: 100vmax;
	--border: var(--border-thickness) solid var(--border-color);

	// line
	--hr-color: var(--color-primary);
	--hr-width: 90%;
	--hr-height: 2px;
	--hr-br: 100vmax;

	// shadows
	--shadow: 0 0 1rem rgba(0 0 0 / 0.25);

	// transitions
	--transition: 0.25s ease-out;

	// z-index
	--z-tooltip: 500;
	--z-dropdown: 400;
	--z-dialog: 300;
	--z-hamburger-toggler: 200;
	--z-hamburger: 100;
	--z-hamburger-backdrop: 90;
	--z-header: 50;
	--z-footer: 40;

	/*
|--------------------------------------------------------------------------
|	ELEMENTS
|--------------------------------------------------------------------------
*/
	// icons
	--icon-color: var(--color-primary);

	// forms
	--input-border-color: var(--border-color);
	--input-border-focus-color: var(--color-focus);
	--input-border-error-color: var(--color-error);
	--input-bg-color: var(--color-white);
	--input-bg-focus-color: var(--color-gray);
	--input-placeholder-color: var(--color-black);
}
