:root {
	color-theme: light;

	/*
	|--------------------------------------------------------------------------
	|	COLOR PALETTE
	|--------------------------------------------------------------------------
	*/

	--white-hsl: 0 0% 100%;
	--white: hsl(var(--white-hsl));

	--black-hsl: 0 0% 10%;
	--black: hsl(var(--black-hsl));

	--primary-hsl: 221 51% 16%;
	--primary: hsl(var(--primary-hsl));

	--primary-text: hsl(221 35% 10%);
	--primary-text-muted: hsl(221 25% 35%);
	--primary-bg: hsl(221 51% 98%);

	--accent-hsl: 19 97% 51%;
	--accent: hsl(var(--accent-hsl));

	/*
	|--------------------------------------------------------------------------
	|	COLORS
	|--------------------------------------------------------------------------
	*/

	--color-primary: hsl(var(--primary-hsl));
	--color-accent: var(--accent);

	// text
	--color-text: var(--primary-text);
	--color-text-muted: var(--primary-text-muted);
	--color-text-white: var(--white);

	// backgrounds
	--color-surface: var(--white);
	--color-bg: var(--primary-bg);
	--color-bg-header: var(--color-surface);
	--color-bg-footer: var(--color-bg);
	--backdrop-color: hsl(var(--black-hsl) / 0.4);

	// feedback
	--color-feedback-error: hsl(4, 90%, 58%);
	--color-feedback-success: hsl(147, 100%, 35%);
	--color-feedback-warning: hsl(39, 93%, 59%);

	/*
	|-------------------------------------------------------------------------|
	|	TYPOGRAPHY
	|-------------------------------------------------------------------------|
	*/

	// font family
	--ff-primary: 'Poppins', Arial, sans-serif;

	// heading sizes
	--h1: #{clamp-smart(40, 60)};
	--h2: #{clamp-smart(24, 28)};
	--h3: #{clamp-smart(20, 24)};

	// font sizes
	@include map-scss-vars-into-css-vars($font-sizes, '--fs');

	// line heights
	--lh-md: 1.7; // base
	--lh-sm: 1.25; // headings

	--underline-offset: 0.3em;

	// font weights
	// variables from sass font weights map
	@include map-scss-vars-into-css-vars($font-weights, '--fw');

	/*
	|--------------------------------------------------------------------------
	|	STRUCTURE
	|--------------------------------------------------------------------------
	*/

	// default: brand logo used as leading header size
	--header-height: #{clamp-smart(44px, 60px)};

	// buttons, inputs;
	--target-size: 2.75rem;

	// spacers
	@include map-scss-vars-into-css-vars($spacers, '--space');
	--space-container: var(--space-4);

	// borders
	--border-color: hsl(var(--primary-hsl) / 0.3);
	--border-color-accent: var(--color-primary);
	--border-thickness: 1px;
	--border: var(--border-thickness) solid var(--border-color);

	// border-radius
	--rounded-full: 9999px;

	// transitions
	--transition-sm: 0.1s ease-in-out;
	--transition-md: 0.2s ease-in-out;
	--transition-lg: 0.3s ease-in-out;

	// shadows
	--shadow-color-hsl: var(--primary-hsl);
	--shadow-sm: 0 0 1px hsl(var(--shadow-color-hsl) / 0.03), 0 0 2px hsl(var(--shadow-color-hsl) / 0.03),
		0 0 4px hsl(var(--shadow-color-hsl) / 0.03);
	--shadow-md: 0 3px 3px hsl(var(--shadow-color-hsl) / 0.03), 0 6px 6px hsl(var(--shadow-color-hsl) / 0.03),
		0 12px 12px hsl(var(--shadow-color-hsl) / 0.03);
	--shadow-lg: 0 9px 9px hsl(var(--shadow-color-hsl) / 0.01), 0 18px 18px hsl(var(--shadow-color-hsl) / 0.01),
		0 36px 36px hsl(var(--shadow-color-hsl) / 0.01);
}
