:root {
	/*
|--------------------------------------------------------------------------
|	COLORS
|--------------------------------------------------------------------------
*/
	// variables from sass color map
	// @include map-scss-vars-into-css-vars($colors, '--color');

	// brand color (primary)
	--primary-hue: 201;
	--primary-saturation: 100%;
	--primary-lightness: 37%;
	--lighten: 12%;
	--darken: 8%;

	// basic colors
	--color-white: hsl(0, 0%, 100%);
	--color-black: hsl(0, 5%, 15%);

	// color scheme light
	--color-primary: hsl(var(--primary-hue) var(--primary-saturation) var(--primary-lightness));

	--color-primary-light: hsl(
		var(--primary-hue) var(--primary-saturation) calc(var(--primary-lightness) + var(--lighten))
	);

	--color-primary-dark: hsl(
		var(--primary-hue) var(--primary-saturation) calc(var(--primary-lightness) - var(--darken))
	);

	--color-bg-primary: var(--color-white);
	--color-bg-secondary: hsl(var(--primary-hue) var(--primary-saturation) 93%);
	--color-surface: hsl(var(--primary-hue) var(--primary-saturation) 99%);

	// backgrounds
	--bg-body: var(--color-bg-primary);
	--bg-header: var(--color-bg-primary);
	--bg-footer: var(--color-bg-primary);

	// typography
	--color-text: hsl(var(--primary-hue) 100% 15%);
	--color-text-reverse: var(--color-white);
	--color-text-dim: hsl(var(--primary-hue) 20% 45%);
	--color-text-accent: var(--color-primary);

	// alerts
	--color-error: hsl(4, 90%, 58%);
	--color-success: hsl(147, 100%, 35%);
	--color-warning: hsl(41, 100%, 80%);

	/*
|-------------------------------------------------------------------------|
|	TYPOGRAPHY
|-------------------------------------------------------------------------|
*/
	// font family
	--ff-primary: 'Montserrat', Arial, sans-serif;

	// heading sizes
	--h1: #{clamp-smart(40, 60)};
	--h2: calc(var(--h1) * 0.7);
	--h3: calc(var(--h1) * 0.45);
	--h4: calc(var(--h1) * 0.4);
	--h5: #{clamp-smart(16, 18)};
	--h6: 0.875rem;

	// font sizes
	@include map-scss-vars-into-css-vars($font-sizes, '--fs');

	// line heights
	--lh-md: 1.7; // base
	--lh-sm: 1.2; // headings, inputs, buttons

	--underline-offset: 0.3em;

	// font weights
	// variables from sass font weights map
	@include map-scss-vars-into-css-vars($font-weights, '--fw');

	/*
|--------------------------------------------------------------------------
|	STRUCTURE
|--------------------------------------------------------------------------
*/

	// spacers
	@include map-scss-vars-into-css-vars($spacers, '--space');

	--container-space-x: var(--space-3);
	--container-space-y: var(--space-5);
	
	// space insets
	@include map-scss-vars-into-css-vars($space-insets, '--space-inset');

	// borders
	--border-color: var(--color-black);
	--border-thickness: 1px;
	--border-radius: 1rem;
	--border: var(--border-thickness) solid var(--border-color);

	// shadows
	--shadow-alpha: 0.12;
	--shadow-color: hsla(var(--primary-hue) var(--primary-saturation) var(--primary-lightness) / var(--shadow-alpha));
	--shadow-spread: 15px;
	--shadow: 0 0 var(--shadow-spread) var(--shadow-color);

	// transitions
	--transition-duration: 0.2s;
	--transition-timing-function: ease-out;
	--transition: var(--transition-duration) var(--transition-timing-function);

	// z-index
	--z-tooltip: 500;
	--z-dropdown: 400;
	--z-dialog: 300;
	--z-hamburger: 100;
	--z-hamburger-backdrop: 90;
	--z-header: 50;
}
