:root {
	/*
|--------------------------------------------------------------------------
|	COLORS
|--------------------------------------------------------------------------
*/
	// variables from sass color map
	@include map-scss-vars-into-css-vars($colors, '--color');

	--color-error: hsl(4, 90%, 58%);
	--color-success: hsl(147, 100%, 35%);
	--color-warning: hsl(41, 100%, 80%);

	--color-bg: var(--color-primary-light);
	--color-bg-body: var(--color-white);
	--color-bg-header: var(--color-white);
	--color-bg-footer: var(--color-white);

	// typography
	--color-text: var(--color-black);
	--color-text-muted: var(--color-gray);
	--color-text-headings: var(--color-black);
	--color-blockquote-border: var(--color-primary);

	// selection
	--color-text-selection: var(--color-white);
	--color-bg-selection: var(--color-primary);

	// focus
	--color-focus: var(--color-accent);

	/*
|--------------------------------------------------------------------------
|	TYPOGRAPHY
|--------------------------------------------------------------------------
*/

	--ff-primary: 'Montserrat', Arial, sans-serif;

	--fs-0: 1rem;
	--fs-1: #{clamp-smart(40, 60)};
	--fs-2: calc(var(--fs-1) * 0.6);
	--fs-3: calc(var(--fs-1) * 0.5);
	--fs-4: calc(var(--fs-1) * 0.4);
	--fs-5: #{clamp-smart(16, 18)};
	--fs-6: 0.875rem;

	// line heights
	--lh-base: 1.65;
	--lh-sm: 1.2;
	--lh-lg: 2;
	--lh-headings: 1.2;

	// font weights
	// variables from sass color map
	@include map-scss-vars-into-css-vars($font-weights, '--fw');
	--fw-base: var(--fw);
	--fw-headings: var(--fw-xl);

	/*
|--------------------------------------------------------------------------
|	STRUCTURE
|--------------------------------------------------------------------------
*/

	// spacers
	--spacer: #{clamp-smart(20, 24)};
	--spacer-sm: calc(var(--spacer) / 2);
	--spacer-md: calc(var(--spacer) * 1.5);
	--spacer-lg: calc(var(--spacer) * 3);

	// container
	--container-space-x: var(--spacer);
	--container-space-y: var(--spacer-lg);

	// borders
	--border-color: var(--color-primary);
	--border-thickness: 2px;
	--border-radius: 0.625rem;
	--border: var(--border-thickness) solid var(--border-color);

	// line
	--hr-color: var(--color-primary);
	--hr-width: 90%;
	--hr-height: 2px;
	--hr-br: 100vmax;

	// shadows
	--shadow: 0.5rem 0 1rem rgba(0 0 0 / 0.25);
	//--shadow-sm: 0.5rem 0 1rem rgba(0 0 0 / 0.25);
	//--shadow-lg: 0.5rem 0 1rem rgba(0 0 0 / 0.25);

	// transitions
	--transition: 0.3s ease-out;

	// z-index
	--z-tooltip: 500;
	--z-dropdown: 400;
	--z-dialog: 300;
	--z-hamburger-toggler: 200;
	--z-hamburger: 100;
	--z-hamburger-backdrop: 90;
	--z-header: 50;
	--z-footer: 40;

	/*
|--------------------------------------------------------------------------
|	ELEMENTS
|--------------------------------------------------------------------------
*/

	// buttons
	--color-btn-bg: var(--color-primary);
	--color-btn-hover: var(--color-primary-light);

	// icons
	--icon-color: var(--color-primary);

	// forms
	--input-border-color: var(--border-color);
	--input-border-focus-color: var(--color-focus);
	--input-border-error-color: var(--color-error);
	--input-bg-color: var(--color-white);
	--input-bg-focus-color: var(--color-gray);
	--input-placeholder-color: var(--color-black);
}
