/*--------------------------------------------------------------
# GLOBAL SELECTORS. PLACE CUSTOM SELECTORS ON TOP
--------------------------------------------------------------*/

.color {
	@include modifiers($map: $colors, $attribute: 'color');
}

.color-bg {
	@include modifiers($map: $colors, $attribute: 'background-color');
}

.fs {
	@include modifiers($map: $font-sizes, $attribute: 'font-size');
}

h {
	@include modifiers($map: $font-sizes, $attribute: 'font-size', $prefix: '');
}

.fw {
	@include modifiers($map: $font-weights, $attribute: 'font-weight');
}

.stretch-child > :first-child,
.stretch {
	@include stretch;
}

.z-negative {
	z-index: -1;
}

.lh-base {
	line-height: var(--lh);

	&-1 {
		line-height: 1;
	}

	&-sm {
		line-height: var(--lh-sm);
	}

	&-lg {
		line-height: var(--lh-lg);
	}
}

.text-decoration-none {
	text-decoration: none !important;
}

.shadow {
	box-shadow: var(--shadow);

	&-sm {
		box-shadow: var(--shadow-sm);
	}

	&-lg {
		box-shadow: var(--shadow-lg);
	}
}

.visually-hidden {
	@include visually-hidden();
}

.link-space {
	@include link-space();
}

.transition {
	transition: var(--transition) !important;

	&-stop {
		transition: none !important;
	}
}

.flex-center {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}

.rotate {
	&-right {
		rotate: -90deg;
	}

	&-left {
		rotate: 90deg;
	}

	&-top {
		rotate: -180deg;
	}
}

.hstack {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-self: stretch;
}

.vstack {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	align-self: stretch;
}

.aspect-ratio {
	&-1-1 {
		aspect-ratio: 1/1;
	}

	&-4-3 {
		aspect-ratio: 4/3;
	}

	&-16-9 {
		aspect-ratio: 16/9;
	}
}

.underline-reverse {
	&,
	& a {
		@include underline-reverse;
	}
}

.list-reset {
	list-style: none;
}
