/*--------------------------------------------------------------
# GLOBAL SELECTORS. PLACE CUSTOM SELECTORS ON TOP
--------------------------------------------------------------*/

.color {
	// text colors from sass map
	@include modifiers($colors, 'color');

	&-current {
		color: currentColor;
	}

	&-transparent {
		color: transparent;
	}
}

// background colors from sass map
.bg {
	@include modifiers($backgrounds, 'background');
}

// font sizes from sass map
.fs {
	@include modifiers($font-sizes, 'font-size');
}

// font weights from sass map
.fw {
	@include modifiers($font-weights, 'font-weight');
}

.stretch-child > :first-child,
.stretch {
	@include stretch;
}

.z-negative {
	z-index: -1;
}

.lh {
	&-sm {
		line-height: var(--lh-sm);
	}

	&-md {
		line-height: var(--lh-md);
	}

	&-none {
		line-height: 1;
	}
}

.shadow {
	box-shadow: var(--shadow);
}

.visually-hidden {
	@include visually-hidden();
}

.target-size {
	@include target-size();
}

.transition {
	transition: var(--transition-md) !important;

	&-stop {
		transition: none !important;
	}
}

.flex-center {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}

.rotate {
	&-90 {
		rotate: 90deg;
	}

	&-negative-90 {
		rotate: -90deg;
	}

	&-180 {
		rotate: 180deg;
	}
}

.hstack {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-self: stretch;
}

.vstack {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	align-self: stretch;
}

.ratio {
	&-1-1 {
		aspect-ratio: 1/1;
	}

	&-4-3 {
		aspect-ratio: 4/3;
	}

	&-16-9 {
		aspect-ratio: 16/9;
	}
}

.list-reset {
	list-style: none;
}
