/*--------------------------------------------------------------
# TEXT PRESETS
--------------------------------------------------------------*/

// section title
%text-preset-1 {
	font-size: var(--h2);
	line-height: var(--lh-sm);
	font-weight: var(--fw-bold);
	text-transform: uppercase;
	text-align: center;
}

// form label/navigation/accordion buttons/list title/dropdown title
%text-preset-2 {
	font-size: var(--fs-lg);
	font-weight: var(--fw-bold);
	text-transform: uppercase;
}

// list subtitle/card link/tab title/dropdown items
%text-preset-3 {
	font-size: var(--fs-md);
	font-weight: var(--fw-bold);
}

// data text, copyright text
%text-preset-4 {
	font-size: var(--fs-sm);
	text-transform: uppercase;
}

// making real classes from silent classes
@for $i from 1 through 10 {
	.text-preset-#{$i} {
		@include text-preset($i);
	}
}
