

/*--------------------------------------------------------------
# TEXT PRESETS
--------------------------------------------------------------*/

// base
%text-preset-1 {
	font-size: var(--fs-md);
	font-weight: var(--fw-regular);
	line-height: var(--lh-md);
}

// headings
%text-preset-2 {
	line-height: var(--lh-sm);
	font-weight: var(--fw-bold);
}

// section title
%text-preset-3 {
	font-size: var(--h2);
	line-height: var(--lh-sm);
	font-weight: var(--fw-bold);
	text-transform: uppercase;
	text-align: center;
}

// section subtitle
%text-preset-4 {
	font-size: var(--h3);
	line-height: var(--lh-sm);
	font-weight: var(--fw-bold);
	text-transform: uppercase;
}

// form/navigation/accordion title headings
%text-preset-5 {
	font-size: var(--fs-md);
	font-weight: var(--fw-bold);
	line-height: var(--lh-sm);
	text-transform: uppercase;
}

%text-preset-6 {

}

// low importance text
%text-preset-7 {
	font-size: var(--fs-sm);
	text-transform: uppercase;
}

// making real classes from silent classes
@for $i from 1 through 20 {
	.text-preset-#{$i} {
		@include text-preset($i);
	}
}
