[data-theme='colorless-dark'] {
	color-scheme: dark;

	img {
		filter: brightness(0.8) contrast(1.2);
	}

	// brand color (primary)
	--h: 0;
	--s: 0%;
	--l: 34%;
	--hsl: var(--h) var(--s) var(--l);

	// color scheme dark
	--color-primary: hsl(var(--hsl));
	--color-primary-light: hsl(var(--h) var(--s) calc(var(--l) + 20%));

	--color-accent: var(--color-primary-light);

	// background
	--color-bg: hsl(var(--h) 0% 10%);
	--color-bg-primary: hsl(var(--h) 0% 13%);

	--color-bg-body: var(--color-bg);
	--color-bg-header: var(--color-bg-primary);
	--color-bg-footer: var(--color-bg);

	// text
	--color-text-primary: hsl(var(--h) 0% 85%);
	--color-text-secondary: hsl(var(--h) 0% 75%);
	--color-text-reverse: var(--color-white);

	// shadow
	--shadow-color: hsla(var(--hsl) / 0.3);
	--input-focus-shadow: 0 0 0 4px var(--shadow-color);

	// border
	--border-color: hsl(var(--hsl) / 0.4);
	--border: var(--border-thickness) solid var(--border-color);
}

[data-theme='light-1'] {
	color-theme: light;

	/*
	|--------------------------------------------------------------------------
	|	COLORS
	|--------------------------------------------------------------------------
	*/

	// base colors
	--color-white: hsl(0, 0%, 100%);

	// feedback
	--color-feedback-error: hsl(4, 90%, 58%);
	--color-feedback-success: hsl(147, 100%, 35%);
	--color-feedback-warning: hsl(39, 93%, 59%);

	// brand (primary) color HSL destructor
	--h: 200;
	--s: 100%;
	--l: 34%;
	--hsl: var(--h) var(--s) var(--l);

	// brand colors
	--color-primary: hsl(var(--hsl));
	--color-primary-light: hsl(var(--h) var(--s) calc(var(--l) + 10%));

	--color-accent: var(--color-primary-light);

	// backgrounds
	--color-bg: hsl(var(--h) var(--s) 97%);
	--color-bg-primary: var(--color-white);

	--color-bg-body: var(--color-bg);
	--color-bg-header: var(--color-bg-primary);
	--color-bg-footer: var(--color-bg);

	// text
	--color-text-primary: hsl(var(--h) 0% 25%);
	--color-text-secondary: hsl(var(--h) 0% 35%);
	--color-text-reverse: var(--color-white);

	// backdrop
	--backdrop: rgb(0 0 0 / 0.5);
	--backdrop-shadow: 0 0 40px 15px rgba(0 0 0 / 0.1);

	// shadow
	--shadow-color: hsla(var(--hsl) / 0.3);
	--input-focus-shadow: 0 0 0 4px var(--shadow-color);

	// border
	--border-color: hsl(var(--hsl) / 0.4);
	--border: var(--border-thickness) solid var(--border-color);
}

[data-theme='dark-1'] {
	color-scheme: dark;

	img {
		filter: brightness(0.8) contrast(1.2);
	}

	// brand color (primary)
	--h: 200;
	--s: 100%;
	--l: 34%;
	--hsl: var(--h) var(--s) var(--l);

	// color scheme dark
	--color-primary: hsl(var(--hsl));
	--color-primary-light: hsl(var(--h) var(--s) calc(var(--l) + 20%));

	--color-accent: var(--color-primary-light);

	// background
	--color-bg: hsl(var(--h) 0% 10%);
	--color-bg-primary: hsl(var(--h) 0% 13%);

	--color-bg-body: var(--color-bg);
	--color-bg-header: var(--color-bg-primary);
	--color-bg-footer: var(--color-bg);

	// text
	--color-text-primary: hsl(var(--h) 0% 85%);
	--color-text-secondary: hsl(var(--h) 0% 75%);
	--color-text-reverse: var(--color-white);

	// shadow
	--shadow-color: hsla(var(--hsl) / 0.3);
	--input-focus-shadow: 0 0 0 4px var(--shadow-color);

	// border
	--border-color: hsl(var(--hsl) / 0.4);
	--border: var(--border-thickness) solid var(--border-color);
}

[data-theme='light-2'] {
	color-theme: light;

	/*
	|--------------------------------------------------------------------------
	|	COLORS
	|--------------------------------------------------------------------------
	*/

	// base colors
	--color-white: hsl(0, 0%, 100%);

	// feedback
	--color-feedback-error: hsl(4, 90%, 58%);
	--color-feedback-success: hsl(147, 100%, 35%);
	--color-feedback-warning: hsl(39, 93%, 59%);

	// brand (primary) color HSL destructor
	--h: 355;
	--s: 78%;
	--l: 56%;
	--hsl: var(--h) var(--s) var(--l);

	// brand colors
	--color-primary: hsl(var(--hsl));
	--color-primary-light: hsl(var(--h) var(--s) calc(var(--l) - 8%));

	--color-accent: var(--color-primary-light);

	// backgrounds
	--color-bg: hsl(var(--h) var(--s) 97%);
	--color-bg-primary: var(--color-white);

	--color-bg-body: var(--color-bg);
	--color-bg-header: var(--color-bg-primary);
	--color-bg-footer: var(--color-bg);

	// text
	--color-text-primary: hsl(var(--h) 0% 25%);
	--color-text-secondary: hsl(var(--h) 0% 35%);
	--color-text-reverse: var(--color-white);

	// backdrop
	--backdrop: rgb(0 0 0 / 0.5);
	--backdrop-shadow: 0 0 40px 15px rgba(0 0 0 / 0.1);

	// shadow
	--shadow-color: hsla(var(--hsl) / 0.3);
	--input-focus-shadow: 0 0 0 4px var(--shadow-color);

	// border
	--border-color: hsl(var(--hsl) / 0.4);
	--border: var(--border-thickness) solid var(--border-color);
}

[data-theme='dark-2'] {
	color-scheme: dark;

	img {
		filter: brightness(0.8) contrast(1.2);
	}

	// brand color (primary)
	--h: 355;
	--s: 78%;
	--l: 56%;
	--hsl: var(--h) var(--s) var(--l);

	// color scheme dark
	--color-primary: hsl(var(--hsl));
	--color-primary-light: hsl(var(--h) var(--s) calc(var(--l) + 8%));

	--color-accent: var(--color-primary-light);

	// background
	--color-bg: hsl(var(--h) 0% 10%);
	--color-bg-primary: hsl(var(--h) 0% 13%);

	--color-bg-body: var(--color-bg);
	--color-bg-header: var(--color-bg-primary);
	--color-bg-footer: var(--color-bg);

	// text
	--color-text-primary: hsl(var(--h) 0% 85%);
	--color-text-secondary: hsl(var(--h) 0% 75%);
	--color-text-reverse: var(--color-white);

	// shadow
	--shadow-color: hsla(var(--hsl) / 0.3);
	--input-focus-shadow: 0 0 0 4px var(--shadow-color);

	// border
	--border-color: hsl(var(--hsl) / 0.2);
	--border: var(--border-thickness) solid var(--border-color);
}

[data-theme='light-3'] {
	color-theme: light;

	/*
	|--------------------------------------------------------------------------
	|	COLORS
	|--------------------------------------------------------------------------
	*/

	// base colors
	--color-white: hsl(0, 0%, 100%);

	// feedback
	--color-feedback-error: hsl(4, 90%, 58%);
	--color-feedback-success: hsl(147, 100%, 35%);
	--color-feedback-warning: hsl(39, 93%, 59%);

	// brand (primary) color HSL destructor
	--h: 221;
	--s: 51%;
	--l: 16%;
	--hsl: var(--h) var(--s) var(--l);

	// brand colors
	--color-primary: hsl(var(--hsl));
	--color-primary-light: hsl(var(--h) var(--s) calc(var(--l) + 10%));

	--color-accent: hsl(19, 97%, 51%);

	// backgrounds
	--color-bg: hsl(var(--h) var(--s) 97%);
	--color-bg-primary: var(--color-white);

	--color-bg-body: var(--color-bg);
	--color-bg-header: var(--color-bg-primary);
	--color-bg-footer: var(--color-bg);

	// text
	--color-text-primary: hsl(var(--h) 0% 25%);
	--color-text-secondary: hsl(var(--h) 0% 35%);
	--color-text-reverse: var(--color-white);

	// backdrop
	--backdrop: rgb(0 0 0 / 0.5);
	--backdrop-shadow: 0 0 40px 15px rgba(0 0 0 / 0.1);

	// shadow
	--shadow-color: hsla(var(--hsl) / 0.3);
	--input-focus-shadow: 0 0 0 4px var(--shadow-color);

	// border
	--border-color: hsl(var(--hsl) / 0.4);
	--border: var(--border-thickness) solid var(--border-color);
}

[data-theme='dark-3'] {
	color-scheme: dark;

	img {
		filter: brightness(0.8) contrast(1.2);
	}

	// brand color (primary)
	--h: 19;
	--s: 97%;
	--l: 51%;
	--hsl: var(--h) var(--s) var(--l);

	// color scheme dark
	--color-primary: hsl(var(--hsl));
	--color-primary-light: hsl(var(--h) var(--s) calc(var(--l) + 5%));

	--color-accent: var(--color-primary-light);

	// background
	--color-bg: hsl(221 51% 12%);
	--color-bg-primary: hsl(221 41% 15%);

	--color-bg-body: var(--color-bg);
	--color-bg-header: var(--color-bg-primary);
	--color-bg-footer: var(--color-bg);

	// text
	--color-text-primary: hsl(var(--h) 0% 85%);
	--color-text-secondary: hsl(var(--h) 0% 75%);
	--color-text-reverse: var(--color-white);

	// shadow
	--shadow-color: hsl(221 51% 46% / 0.3);
	--input-focus-shadow: 0 0 0 4px var(--shadow-color);

	// border
	--border-color: hsl(var(--hsl) / 0.3);
	--border: var(--border-thickness) solid var(--border-color);
}
