[data-theme='colorless-dark'] {
	color-scheme: dark;

	img {
		filter: brightness(0.8) contrast(1.2);
	}

	// brand color (primary)
	--h: 0;
	--s: 0%;
	--l: 34%;
	--hsl: var(--h) var(--s) var(--l);

	// color scheme dark
	--color-primary: hsl(var(--hsl));
	--color-primary-light: hsl(var(--h) var(--s) calc(var(--l) + 20%));

	--color-accent: var(--color-primary-light);

	// background
	--color-surface: hsl(var(--h) 0% 10%);
	--color-surface-1: hsl(var(--h) 0% 13%);

	--color-surface-body: var(--color-surface);
	--color-surface-header: var(--color-surface-1);
	--color-surface-footer: var(--color-surface);

	// text
	--color-text-primary: hsl(var(--h) 0% 85%);
	--color-text-secondary: hsl(var(--h) 0% 75%);
	--color-text-reverse: var(--color-white);

	// shadow
	--shadow-color: hsla(var(--hsl) / 0.3);
	--input-focus-shadow: 0 0 0 4px var(--shadow-color);

	// border
	--border-color: hsl(var(--hsl) / 0.4);
	--border: var(--border-thickness) solid var(--border-color);
	--input-border-color-focus: var(--color-accent);
}

[data-theme='light-1'] {
	color-theme: light;

	// base colors
	--color-white: hsl(0, 0%, 100%);

	// brand (primary) color HSL destructor
	--h: 215;
	--s: 50%;
	--l: 23%;
	--hsl: var(--h) var(--s) var(--l);

	// brand colors
	--color-primary: hsl(var(--hsl));
	--color-primary-light: hsl(var(--h) 30% calc(var(--l) + 30%));

	--color-accent: hsl(355 78% 56%);

	// backgrounds
	--color-surface: hsl(182 43% 76%);
	--color-surface-1: hsl(105 60% 95%);

	--color-surface-body: var(--color-surface);
	--color-surface-header: var(--color-surface-1);
	--color-surface-footer: var(--color-surface);

	// text
	--color-text-primary: hsl(215 50% 15%);
	--color-text-secondary: hsl(215 10% 28%);
	--color-text-reverse: hsl(105 55% 96%);

	// backdrop
	--backdrop: rgb(0 0 0 / 0.5);
	--backdrop-shadow: 0 0 40px 15px rgba(0 0 0 / 0.1);

	// shadow
	--shadow-color: hsla(var(--hsl) / 0.2);
	--input-focus-shadow: 0 0 0 4px var(--shadow-color);

	// border
	--border-color: hsl(var(--hsl) / 0.5);
	--border: var(--border-thickness) solid var(--border-color);
	--input-border-color-focus: var(--color-primary);
}

[data-theme='dark-1'] {
	color-scheme: dark;

	img {
		filter: brightness(0.8) contrast(1.2);
	}

		// base colors
	--color-white: hsl(0, 0%, 100%);

	// hsl(355 78% 56%) accent
	// hsl(105 55% 96%) bg
	// hsl(182 43% 76%) brand-light
	// hsl(203 39% 44%) brand
	// hsl(215 50% 23%) brand-dark

	// brand (primary) color HSL destructor
	--h: 215;
	--s: 80%;
	--l: 63%;
	--hsl: var(--h) var(--s) var(--l);

	// brand colors
	--color-primary: hsl(var(--hsl));
	--color-primary-light: hsl(var(--h) 30% calc(var(--l) + 30%));

	--color-accent: hsl(355 78% 56%);

	// backgrounds
	--color-surface: hsl(182 13% 13%);
	--color-surface-1:  hsl(182 13% 16%);

	--color-surface-body: var(--color-surface);
	--color-surface-header: var(--color-surface-1);
	--color-surface-footer: var(--color-surface);

	// text
	--color-text-primary: hsl(105 35% 96%);
	--color-text-secondary: hsl(105 0% 75%);
	--color-text-reverse: hsl(105 55% 96%);

	// backdrop
	--backdrop: rgb(0 0 0 / 0.5);
	--backdrop-shadow: 0 0 40px 15px rgba(0 0 0 / 0.1);

	// shadow
	--shadow-color: hsla(var(--hsl) / 0.2);
	--input-focus-shadow: 0 0 0 4px var(--shadow-color);

	// border
	--border-color: hsl(var(--hsl) / 0.5);
	--border: var(--border-thickness) solid var(--border-color);
	--input-border-color-focus: var(--color-primary);
}

[data-theme='light-2'] {
	color-theme: light;

	// base colors
	--color-white: hsl(0, 0%, 100%);

	// brand (primary) color HSL destructor
	--h: 355;
	--s: 78%;
	--l: 56%;
	--hsl: var(--h) var(--s) var(--l);

	// brand colors
	--color-primary: hsl(var(--hsl));
	--color-primary-light: hsl(var(--h) var(--s) calc(var(--l) - 8%));

	--color-accent: var(--color-primary-light);

	// backgrounds
	--color-surface: hsl(var(--h) var(--s) 97%);
	--color-surface-1: var(--color-white);

	--color-surface-body: var(--color-surface);
	--color-surface-header: var(--color-surface-1);
	--color-surface-footer: var(--color-surface);

	// text
	--color-text-primary: hsl(var(--h) 0% 25%);
	--color-text-secondary: hsl(var(--h) 0% 35%);
	--color-text-reverse: var(--color-white);

	// backdrop
	--backdrop: rgb(0 0 0 / 0.5);
	--backdrop-shadow: 0 0 40px 15px rgba(0 0 0 / 0.1);

	// shadow
	--shadow-color: hsla(var(--hsl) / 0.3);
	--input-focus-shadow: 0 0 0 4px var(--shadow-color);

	// border
	--border-color: hsl(var(--hsl) / 0.4);
	--border: var(--border-thickness) solid var(--border-color);
	--input-border-color-focus: var(--color-accent);
}

[data-theme='dark-2'] {
	color-scheme: dark;

	img {
		filter: brightness(0.8) contrast(1.2);
	}

	// brand color (primary)
	--h: 355;
	--s: 78%;
	--l: 56%;
	--hsl: var(--h) var(--s) var(--l);

	// color scheme dark
	--color-primary: hsl(var(--hsl));
	--color-primary-light: hsl(var(--h) var(--s) calc(var(--l) + 8%));

	--color-accent: var(--color-primary-light);

	// background
	--color-surface: hsl(var(--h) 0% 10%);
	--color-surface-1: hsl(var(--h) 0% 13%);

	--color-surface-body: var(--color-surface);
	--color-surface-header: var(--color-surface-1);
	--color-surface-footer: var(--color-surface);

	// text
	--color-text-primary: hsl(var(--h) 0% 85%);
	--color-text-secondary: hsl(var(--h) 0% 75%);
	--color-text-reverse: var(--color-white);

	// shadow
	--shadow-color: hsla(var(--hsl) / 0.3);
	--input-focus-shadow: 0 0 0 4px var(--shadow-color);

	// border
	--border-color: hsl(var(--hsl) / 0.2);
	--border: var(--border-thickness) solid var(--border-color);
	--input-border-color-focus: var(--color-accent);
}

[data-theme='light-3'] {
	color-theme: light;

	// base colors
	--color-white: hsl(0, 0%, 100%);

	// brand (primary) color HSL destructor
	--h: 221;
	--s: 51%;
	--l: 16%;
	--hsl: var(--h) var(--s) var(--l);

	// brand colors
	--color-primary: hsl(var(--hsl));
	--color-primary-light: hsl(var(--h) var(--s) calc(var(--l) + 10%));

	--color-accent: hsl(19, 97%, 51%);

	// backgrounds
	--color-surface: hsl(var(--h) var(--s) 97%);
	--color-surface-1: var(--color-white);

	--color-surface-body: var(--color-surface);
	--color-surface-header: var(--color-surface-1);
	--color-surface-footer: var(--color-surface);

	// text
	--color-text-primary: hsl(var(--h) 0% 25%);
	--color-text-secondary: hsl(var(--h) 0% 35%);
	--color-text-reverse: var(--color-white);

	// backdrop
	--backdrop: rgb(0 0 0 / 0.5);
	--backdrop-shadow: 0 0 40px 15px rgba(0 0 0 / 0.1);

	// shadow
	--shadow-color: hsla(var(--hsl) / 0.12);
	--input-focus-shadow: 0 0 0 4px var(--shadow-color);

	// border
	--border-color: hsl(var(--hsl) / 0.4);
	--border: var(--border-thickness) solid var(--border-color);
	--input-border-color-focus: var(--color-primary);
}

[data-theme='dark-3'] {
	color-scheme: dark;

	img {
		filter: brightness(0.8) contrast(1.2);
	}

	color-theme: light;

	// base colors
	--color-white: hsl(0, 0%, 100%);

	// brand (primary) color HSL destructor
	--h: 221;
	--s: 51%;
	--l: 16%;
	--hsl: var(--h) var(--s) var(--l);

	// brand colors
	--color-primary: hsl(var(--hsl));
	--color-primary-light: hsl(var(--h) var(--s) calc(var(--l) + 20%));

	--color-accent: hsl(19, 97%, 51%);

	// backgrounds
	--color-surface: hsl(221 21% 10%);
	--color-surface-1: hsl(221 51% 16%);

	--color-surface-body: var(--color-surface);
	--color-surface-header: var(--color-surface-1);
	--color-surface-footer: var(--color-surface);

	// text
	--color-text-primary: hsl(var(--h) 0% 80%);
	--color-text-secondary: hsl(var(--h) 0% 75%);
	--color-text-reverse: var(--color-white);

	// backdrop
	--backdrop: rgb(0 0 0 / 0.5);
	--backdrop-shadow: 0 0 40px 15px rgba(0 0 0 / 0.1);

	// shadow
	--shadow-color: hsl(19 97% 51% / 0.12);
	--input-focus-shadow: 0 0 0 4px var(--shadow-color);

	// border
	--border-color: var(--color-primary-light);
	--border: var(--border-thickness) solid var(--border-color);
	--input-border-color-focus: hsl(19 97% 51%);

	.button {
		--button-bg: hsl(19 87% 41%);
	}

	.social-icons a {
		--button-bg: hsl(19 87% 41%);
	}

	.search__button {
		--button-bg: hsl(19 87% 41%);
	}

	.search__input {
		border-bottom-color: var(--color-accent);
	}
	
}
