[data-theme='dark'] {
	color-scheme: dark;

	img {
		filter: brightness(0.8) contrast(1.2);
	}

	// brand color (primary)
	--h: 0;
	--s: 0%;
	--l: 34%;
	--hsl: var(--h) var(--s) var(--l);

	// color scheme dark
	--color-primary: hsl(var(--hsl));
	--color-primary-light: hsl(var(--h) var(--s) calc(var(--l) + 20%));
	
	--color-accent: var(--color-primary-light);

	// background
	--color-bg: hsl(var(--h) 0% 10%);
	--color-bg-primary: hsl(var(--h) 0% 13%);

	--color-bg-body: var(--color-bg);
	--color-bg-header: var(--color-bg-primary);
	--color-bg-footer: var(--color-bg);

	// text
	--color-text-primary: hsl(var(--h) 0% 85%);
	--color-text-secondary: hsl(var(--h) 0% 75%);
	--color-text-reverse: var(--color-white);

	// borders
	--border-color: hsl(var(--hsl) / 0.5);

	// shadows
	--shadow-color: hsla(var(--hsl) / 0.2);
}
