.bg-gradient {
  position: absolute;
  @include box(100vw, 150%);
  z-index: -1;
  top: 50%;
  translate: 0 -50%;
  scale: 2 1;
  display: block;
}

.bg-gradient-bottom {
  background-image: linear-gradient(
    135deg,
    hsla(0deg, 0% ,100%, 0.33) 0%,
    hsla(26deg, 90%, 72%, 0.33) 29%,
    hsla(22deg, 88%, 88%, 0.33) 43%,
    hsla(214deg, 48%, 86%, 0.66) 57%,
    hsla(211deg, 54%, 66%, 0.66) 71%,
    hsla(0deg, 0% ,100%, 0.33) 100%
  );
}

.bg-gradient-up {
  background-image: linear-gradient(
    0deg,
    hsla(0deg, 0%, 100%, 1) 0%,
    hsla(29deg, 100%, 72%, 0) 50%,
    hsla(0deg, 0%, 100%, 1) 100%
  );
}
