.card-services {
  @include flex($flex-direction: column, $gap: var(--spacer));
  @include space(var(--spacer-lg), padding, all);
  position: relative;
  height: 100%;
  border-radius: var(--br);
  border: var(--border);
  transition: var(--transition);
  background-color: var(--color-light);

  &__logo {
    @include flex($justify-content: center, $align-items: center);
    @include box(4.75rem, 4.75rem);
    margin-bottom: 5px; // space to match shadow
    border-radius: var(--br);
    box-shadow: var(--shadow);
    transition: var(--transition);
  }

  &__icon {
    @include box(2rem, 2rem);
    fill: var(--color-light);
  }

  > :last-child {
    margin-top: auto;
  }

  .card-link {
    @include media-breakpoint-up(xl) {
      translate: 0 1.5rem;
      transition: var(--transition);
      visibility: hidden;
      opacity: 0;
    }
  }

  @include hover {
    border: 1px solid var(--color-dark);
    box-shadow: var(--shadow);

    .card-services__logo {
      translate: 5px 5px;
      box-shadow: none;
    }

    .card-link {
      visibility: visible;
      opacity: 1;
      translate: none;
    }
  }

  &:focus-visible {
    border: 1px solid var(--color-dark);
    box-shadow: var(--shadow);

    .card-services__logo {
      translate: 5px 5px;
      box-shadow: none;
    }

    .card-link {
      visibility: visible;
      opacity: 1;
      translate: none;
    }
  }
}
