.card-blog-post {
  @include flex($flex-direction: column);
  height: 100%;
  border-radius: var(--br);
  border: var(--border);
  transition: all 0.3s ease-out;

  &__content {
    @include flex($flex-direction: column, $justify-content: center, $gap: var(--spacer));
    @include space(var(--spacer-lg), padding, all);
    height: 100%;

    :last-child {
      margin-top: auto;
    }
  }

  .image {
    border-top-left-radius: var(--br);
    border-top-right-radius: var(--br);
    transition: all 0.3s ease-out;
    aspect-ratio: 5 / 3;
  }

  .card-btn {
    @include absolute(right 1.3889rem bottom -1.3889rem);
  }

  .header-link:focus-visible {
    color: var(--color-primary);
    text-decoration-color: var(--color-primary);
  }
}

.card-blog-post__img {
  position: relative;

  @include hover {
    .image {
      filter: contrast(125%);
    }

    .card-btn {
      background-color: var(--color-primary);
      translate: -5px -5px;
      box-shadow: var(--shadow);

      .arrow-right-icon {
        scale: 1.5;
        fill: var(--color-dark);
      }
    }
  }
}

.card-blog-post:focus-within {
  .image {
    filter: contrast(125%);
  }

  .card-btn {
    background-color: var(--color-primary);
    translate: -5px -5px;
    box-shadow: var(--shadow);

    .arrow-right-icon {
      scale: 1.5;
      fill: var(--color-dark);
    }
  }
}

.card-time {
  z-index: 1;
  color: var(--color-secondary-gray-light);
  font-size: var(--fs-0);
  font-weight: var(--fw-medium);
  margin: 0;
}
