.banner {
  @include flex($justify-content: center, $align-items: center);
  min-height: clamp(18.75rem, 15.568rem + 15.91vw, 27.5rem);
  position: relative;

  &__img {
    @include absolute(top 0 left 0);
    z-index: -1;
  }
}
