.card-btn {
  @include flex($justify-content: center, $align-items: center);
  @include box(2.875rem, 2.875rem);
  border-radius: var(--br-sm);
  background-color: var(--color-secondary);
  transition: all 0.3s ease-out;

  @include hover {
    background-color: var(--color-primary);
    box-shadow: var(--shadow);
    translate: -5px -5px;

    .arrow-right-icon {
      fill: var(--color-primary);
      scale: 1.5;
    }
  }

  &:focus-visible {
    background-color: var(--color-primary);
    box-shadow: var(--shadow);
    translate: -5px -5px;

    .arrow-right-icon {
      fill: var(--color-primary);
      scale: 1.5;
    }
  }
}

.card-btn .arrow-right-icon {
  fill: var(--color-light);
  @include box(0.625rem, 0.625rem);
  transition: all 0.3s ease-out;
}
