.dialogs {
}

.dialog {
  @include fixed(top 50% left 50%);
  @include flex($flex-direction: column, $row-gap: var(--spacer));
  z-index: var(--z-dialog);
  padding: var(--spacer);
  border: 1px solid var(--color-dark);
  background-color: var(--color-light);
  overflow: auto;
  overscroll-behavior: contain;
  visibility: hidden;
  opacity: 0;

  min-width: 300px;
  max-width: 35rem;
  max-height: 85vh;

  scale: 0;
  translate: -50% -50%;
  transition: 0.3s ease-in-out;

  &.active {
    visibility: visible;
    opacity: 1;
    scale: 1;
  }

  &_small {
    min-width: 260px;
    max-width: 25rem;
  }

  &__header {
    @include flex($justify-content: space-between, $align-items: center, $column-gap: 1rem);
  }

  &__controls {
    @include flex($flex-wrap: wrap, $justify-content: flex-end, $gap: var(--spacer-sm));
  }

  .cancel-icon {
    @include box(1.25rem, 1.25rem);
  }
}

/* ====================   DIALOG BACKDROP   ==================== */

.dialog-backdrop {
  @include fixed(top 0 left 0);
  @include box(100vw, 100vh);
  z-index: var(--z-dialog);
  background: rgba(0 0 0 / 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.dialog-backdrop.active {
  opacity: 1;
  visibility: visible;
}
