.logo {
  transition: var(--transition);

  &_footer {
  }

  &__icon {
    height: clamp(2.5rem, 2.0455rem + 2.2727vw, 3.75rem);
    width: clamp(2.5rem, 2.0455rem + 2.2727vw, 3.75rem);

    &_footer {
      height: clamp(5rem, 4.0909rem + 4.5455vw, 7.5rem);
      width: clamp(5rem, 4.0909rem + 4.5455vw, 7.5rem);
    }
  }

  @include hover {
    filter: drop-shadow(0 0 0.75rem var(--color-primary));
  }

  &:focus-visible {
    filter: drop-shadow(0 0 0.75rem var(--color-primary));
  }
}

.social {
  @include flex($flex-wrap: wrap, $align-items: center, $gap: 1rem);
  margin-top: var(--spacer);

  &__item {
  }

  &__link {
    @include flex($justify-content: center, $align-items: center);
    @include box(2.75rem, 2.75rem);
    border-radius: 100%;
    background-color: var(--color-dark);
    transition: var(--transition);

    @include hover {
      background-color: var(--color-primary);
    }

    &:focus-visible {
      background-color: var(--color-primary);
    }
  }

  &__icon {
    @include box(1rem, 1rem);
    fill: var(--color-light);
  }
}
