@mixin link($color-regular: var(--color-primary), $color-hover: var(--color-primary), $offset: 10%, $width: 2px) {
  transition: var(--transition);
  text-decoration: underline solid $width transparent;
  text-underline-offset: $offset;
  color: $color-regular;

  @include hover {
    color: $color-hover;
    text-decoration-color: $color-hover;
  }

  &:focus-visible {
    color: $color-hover;
    text-decoration-color: $color-hover;
  }
}

.link {
  @include link;
}
