@import 'swiper/swiper.scss';

.swiper {
  @include box(100%, 100%);
}

.swiper-slide {
  height: auto; // all swiper slides same height
}

.slider {
  //navigation
  &__buttons {
    @include flex($justify-content: flex-end, $align-items: center, $gap: var(--spacer-sm));
  }

  &__btn {
    @include flex($justify-content: center, $align-items: center);
    @include box(2.5rem, 2.5rem);
    background-color: var(--color-primary);
    transition: var(--transition);

    &_disabled {
      background-color: var(--color-primary-light);
    }

    @include hover {
      &:not(.slider__btn_disabled) {
        background-color: var(--color-accent);
      }
    }

    &:focus-visible:not(.slider__btn_disabled) {
      background-color: var(--color-accent);
    }
  }

  &__icon {
    @include box(1rem, 1rem);
    fill: var(--color-light);
    transition: var(--transition);
  }

  //pagination
  &__pagination {
    @include flex($justify-content: center, $align-items: center, $gap: 1rem);
  }

  &__bullet {
    @include box(3rem, 0.25rem);
    @include link-space();
    background-color: var(--color-primary-light);
    transition: var(--transition);

    &_active {
      background-color: var(--color-primary-dark);
    }

    @include hover {
      background-color: var(--color-accent);
      scale: 1.15 1.35;
      cursor: pointer;
    }
  }
}
