@include bp(lg) {
	.hamburger {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: var(--space-5);
		flex: 1;
		justify-content: space-between;
	}

	.hamburger__toggler {
		display: none !important;
	}

	.hamburger__header {
		display: none;
	}

}

@include bp(lg, max) {
	.hamburger {
		display: flex;
		gap: var(--space-6);
		position: fixed;
		right: 0;
		top: 0;
		flex-direction: column;
		visibility: hidden;
		min-width: 275px;
		width: auto;
		height: 100%;
		z-index: 1;
		padding: 0 var(--space-container) var(--space-container);
		background-color: var(--color-bg-header);
		translate: 100%;
		transition: var(--transition-md);
	}

	.hamburger__header {
		padding: var(--header-y-space) 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: var(--header-height);
	}

	// hamburger active state
	.hamburger.active {
		overflow: hidden auto;
		visibility: visible;
		translate: none;
	}

	// hamburger dropdowns
	.hamburger [data-dropdown-content] {
		position: unset;
		translate: unset;
		box-shadow: unset;
	}

	.hamburger .dropdown.active [data-dropdown-content] {
		translate: none;
	}

	.hamburger__toggler {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		flex-direction: column;
		margin-left: auto;
		transition: var(--transition-sm);
		width: var(--target-size);
		height: var(--target-size);

		@include hover(focus) {
			fill: var(--color-accent);
		}
	}


	.hamburger__icon {
		--toggler-icon-height: 1.5rem;

		fill: currentColor;
		height: var(--toggler-icon-height);

		width: var(--target-size);
	}

	.hamburger__icon--close {
		--toggler-icon-height: 1rem;
	}
}

/*
|--------------------------------------------------------------------------
| Hamburger backdrop
|--------------------------------------------------------------------------
*/

.hamburger__backdrop {
	height: 100vh;
	width: 100vw;
	inset: 0;
	position: fixed;
	background: var(--backdrop-color);
	visibility: hidden;
	opacity: 0;
	transition: opacity var(--transition-md), visibility var(--transition-md);
}

.hamburger__backdrop.active {
	opacity: 1;
	visibility: visible;
}
