.navigation {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  visibility: hidden;
  min-width: 320px;
  width: auto;
  height: 100vh;

  z-index: var(--z-hamburger);

  padding: 0 0.75rem 0.75rem 0.75rem;
  background-color: var(--color-white);
  translate: 100%;
  transition: var(--transition);

  @include bp(lg) {
    visibility: visible;
    position: static;
    translate: 0;
    padding: 0;
	 height: auto;
  }

  &.active {
    overflow: hidden auto;
    visibility: visible;
    translate: 0;
    box-shadow: 0.5rem 0 1rem 0.5rem rgba(0 0 0 / 0.25);
  }

  .social {
    @include bp(lg) {
      display: none;
    }
  }
}

/* ====================   HAMBURGER TOGGLER   ==================== */

.nav-toggler {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;

  &_open {
    flex-direction: column;
    min-height: 100%;

    &:focus-visible {
      outline: 2px solid var(--color-black);
      outline-offset: 3px;
    }
  }

  &_close {
    position: sticky;
    top: 0;
    right: 0;
    margin-bottom: var(--spacer-2);
    z-index: var(--z-hamburger-toggler);
    border-bottom: 1px solid var(--color-black);
    background-color: var(--color-white);
    min-height: 3.75rem;
    width: 100%;

    &:focus-visible {
      background-color: var(--color-primary);
      color: var(--color-white);
      border-color: var(--color-primary);

      .nav-toggler__text {
        translate: 0.5rem;
      }

      .nav-toggler__icon_close {
        translate: -0.5rem;
        fill: var(--color-white);
      }
    }
  }

  &__text {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: var(--transition);
  }

  &__icon {
    width: 2.25rem;
    height: 1.125rem;

    &_open {
      margin-bottom: 0.375rem;
    }

    &_close {
      width: 1.125rem;
      height: 1.125rem;
      margin-left: auto;
      transition: var(--transition);
    }
  }

  /* ====================   MEDIA BREAKPOINTS   ==================== */

  @include bp(lg) {
    display: none;
	
  }
}

/* ====================   HAMBURGER BACKDROP   ==================== */

.hamburger-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: var(--z-hamburger-backdrop);
  background: rgba(0 0 0 / 0.5);
  visibility: hidden;
  opacity: 0;
  margin: 0;
  transition: opacity var(--transition), visibility var(--transition);
}

.hamburger-backdrop.active {
  opacity: 1;
  visibility: visible;
}
