.header {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 50;
	box-shadow: none;
	background: var(--color-bg-header);
	box-shadow: var(--shadow-lg);
}

.header--unpinned {
}

.header--not-top {
}

.header__belt {
	--header-y-space: var(--space-container);

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: var(--space-4);
	padding: var(--header-y-space) var(--space-container);
}

.header .dropdown__content {
	background: var(--color-bg-header);
}

.header .search__input {
	background: var(--color-bg-header);
}



@import 'hamburger';
@import 'header-nav';
