.header-sticky-wrapper {
	position: sticky;
	top: 0;
	left: 0;
	z-index: var(--z-header);
	box-shadow: none;
}

.headroom_unpinned {
}

.headroom_not-top {
	box-shadow: 0 0 10px rgba(0 0 0 / 0.12);
}

.header {
	--container-space-y: var(--space-2);
	--header-space-y: var(--container-space-y);

	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: var(--spacer-2);
	background: var(--bg-header);
}

@import 'nav-toggler';
@import 'search';
@import 'navigation';
