.header-sticky-wrapper {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 50;
	box-shadow: none;
	transition: var(--transition);
}

.headroom_unpinned {
}

.headroom_not-top {
	box-shadow: 0 0 1.5rem 0.5rem rgba(0 0 0 / 0.075);
}

.header {
	--container-space-y: var(--space-2);
	--header-space-y: var(--container-space-y);

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: var(--space-3);
	background: var(--color-bg-header);
}

@import 'nav-toggler';
@import 'nav-backdrop';
@import 'nav-menu';
@import 'search';
@import 'navigation';
