.header-sticky-wrapper {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 50;
	box-shadow: none;
	background: var(--color-surface-header);
}

.headroom_unpinned {
}

.headroom_not-top {
	@include depth(5);
}

.header {
	--header-y-height: var(--space-container);

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: var(--space-4);
	padding: var(--header-y-height) var(--space-container);
}

// set header inner height with logo size
.brand-logo--header {
	height: clamp-smart(44, 60);
}

// set hamburger header inner height equal to logo size
.hamburger__toggler {
	height: clamp-smart(44, 60);
}

@import 'hamburger';
@import 'header-nav';
