.header-sticky-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  z-index: var(--z-header);
  box-shadow: none;
  transition: all 0.5s ease-out;
}

.headroom_unpinned {
}

.headroom_not-top {
  box-shadow: 0 -1rem 3rem 0 rgba(0 0 0 / 0.5);
}

.header {
  display: flex;
  align-items: center;
  gap: var(--spacer);
  flex-wrap: wrap;
  padding: 0.75rem;

  @include bp(xxl) {
    padding: 0.75rem var(--spacer-lg);
  }
}

/* ====================   IMPORTS   ==================== */

@import 'nav-menu';
@import 'search';
@import 'hamburger';
