.header-nav {
	--nav-space: var(--space-4);

	display: flex;
	flex-direction: column;
}

.header-nav__link {
	padding: var(--nav-space) 0;
	text-decoration: none;
}

.header-nav__list .header-nav__link {
	font-size: var(--fs-sm);
}

@include bp(lg) {
	.header-nav {
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
	}

	.header-nav__link {
		white-space: nowrap;
		padding: var(--nav-space);
	}

	.header-nav .dropdown__button {
		margin-left: calc(var(--nav-space) * -1 + 5px);
		padding-right: var(--nav-space);
	}

	.header-nav .dropdown .icon {
		width: 0.75em;
		height: 0.75em;
	}

	.dropdown .header-nav__link {
		padding: var(--space-3) var(--nav-space);
	}
}

[aria-current='page'] {
	color: var(--color-accent);
}