.navigation__backdrop {
	@include stretch;
	position: fixed;
	background: rgba(0 0 0 / 0.5);
	visibility: hidden;
	opacity: 0;
	transition: opacity var(--transition), visibility var(--transition);
}

.navigation__backdrop.active {
	opacity: 1;
	visibility: visible;
}