.nav-toggler {
	--toggler-size: 11px;

	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-direction: column;
	min-width: 44px;
	min-height: 44px;
	margin-left: auto;
	font-size: var(--toggler-size);
	font-weight: var(--fw-bold);
	text-transform: uppercase;
	
	transition: var(--transition);
	cursor: pointer;

	@include bp(lg) {
		display: none;
	}

	@include hover(focus) {
		color: var(--color-text-accent);
	}
}

.nav-toggler__icon {
	fill: currentColor;
	width: 3.175em;
	height: 2em;
}

.nav-toggler--close .nav-toggler__icon {
	height: 1.25em;
	width: 1.25em;
}
