.nav-menu {
  width: 100%;

  &__link {
    padding: var(--spacer-1) var(--spacer-1) var(--spacer-1) 0;
  }

  /* ====================   MEDIA BREAKPOINTS   ==================== */

  @include bp(lg) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &__link {
      padding: var(--spacer-1);
    }
  }
}

/* ====================   NAVIGATION DROPDOWN   ==================== */

.nav-menu .dropdown {
  &__content {
    @include bp(lg, max) {
      position: static;
      translate: none;
      box-shadow: none;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    @include bp(lg, max) {
      min-width: 2.75rem;
    }

    &:focus-visible {
      fill: var(--color-black);
    }
  }

  &.active {
    .dropdown__icon {
      fill: var(--color-black);
    }
  }

  @include bp(lg) {
    &__button {
      padding: var(--spacer-1) var(--spacer-1) var(--spacer-1) 0;
    }

    &__icon {
      width: 0.625rem;
      height: 0.625rem;
    }
  }
}
