// mobile menu (hamburger)
@include bp(lg, max) {
	.navigation {
		display: flex;
		gap: var(--space-3);
		position: fixed;
		right: 0;
		top: 0;
		flex-direction: column;
		visibility: hidden;
		min-width: 320px;
		width: auto;
		height: 100vh;
		overscroll-behavior: contain;
		z-index: 1;
		padding: var(--header-space-y) var(--container-space-x);
		background-color: var(--color-bg-primary);
		translate: 100%;
		transition: var(--transition);
	}

	.navigation .dropdown__content {
		position: unset;
		translate: unset;
		box-shadow: unset;
	}

	.navigation .dropdown.active .dropdown__content {
		translate: none;
	}
}

.navigation.active {
	overflow: hidden auto;
	visibility: visible;
	translate: none;
	box-shadow: 0 0 2rem 1rem rgba(0 0 0 / 0.1);
}
