.search {
	position: relative;
	width: 100%;
	max-width: 10rem;
	transition: max-width 0.3s ease-in-out;
}

.search:focus-within {
	max-width: 100%;
}

.search__input {
	padding-right: 3rem;
	width: 100%;
}

.search__input:focus-visible::placeholder {
	color: transparent;
}

.search__button {
	position: absolute;
	right: 0;
	top: 50%;
	translate: 0 -50%;
	padding: var(--space-2);
	transition: var(--transition);

	@include hover(focus) {
		fill: var(--color-accent);
		scale: 1.15;
	}
}

.search__icon {
	width: 1.25em;
	height: 1.25em;
}
