.search {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 10rem;
	transition: max-width 0.3s ease-in-out;

	&:focus-within {
		max-width: 100%;
	}

	&__input {
		padding-right: 3.25rem;
		width: 100%;
		&::placeholder {
			transition: var(--transition);
		}

		&:focus-visible {
			&::placeholder {
				color: transparent;
			}
		}
	}

	&__button {
		padding: var(--space-2);
		display: flex;
		align-items: center;
		justify-content: center;
		transition: var(--transition);
		position: absolute;
		right: 0;

		@include hover(focus) {
			background-color: var(--color-primary);
			.search__icon {
				fill: var(--color-white);
			}
		}
	}

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 1.575em;
		height: 1.575em;
		transition: var(--transition);
	}
}

.navigation .search {
	margin: var(--space-1) 0;
	max-width: 100%;

	@include bp(md) {
		display: none;
	}
}
