.search-container {
	display: none;

	@include bp(md) {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}

.search {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 10rem;
	transition: max-width 0.6s ease-in-out;

	&:focus-within {
		max-width: 100%;
	}

	&__input {
		padding: 0.75rem 3rem 0.75rem 0.75rem;
		width: 100%;
		
		&::placeholder {
			transition: var(--transition);
		}

		&:focus-visible {
			&::placeholder {
				color: transparent;
			}
		}
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.75rem;
		transition: var(--transition);
		position: absolute;
		right: 0;

		@include hover(focus) {
			background-color: var(--color-primary);
			.search__icon {
				fill: var(--color-white);
			}
		}
	}

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 1.375rem;
		height: 1.375rem;
		transition: var(--transition);
	}
}

.navigation .search {
	margin: var(--spacer-1) 0;
	max-width: 100%;

	@include bp(md) {
		display: none;
	}
}
