.card {
	display: flex;
	flex-direction: column;
	height: 100%;
	box-shadow: var(--shadow);

	&__date {
		@include text-preset(7);
		color: var(--color-text-muted);
		
	}

	&__img {
	}

	&__title {
	}

	img {
		aspect-ratio: 2/1;
	}
}

.card__content {
	display: flex;
	flex-direction: column;
	gap: var(--spacer-2);
	padding: var(--spacer-2) var(--spacer-3);
	height: 100%;

	> :last-child:has(a),
	> a:last-child {
		margin-top: auto;
	}
}

.card__list {
	--card-list-text: var(--color-text-reverse);

	display: flex;
	align-items: center;
	gap: var(--spacer-1);
	flex-wrap: wrap;

	a {
		color: var(--card-list-text);
		font-size: var(--fs-sm);
		background: var(--color-primary);
		transition: var(--transition);
		padding: 0.5em 0.75em;
		text-decoration: none;
		@include link-space();

		@include hover(focus) {
			background: var(--color-primary-dark);
			color: var(--card-list-text);
		}
	}
}
