.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: var(--border);

  &__img {
    @include hover {
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacer);
    padding: var(--spacer);
    height: 100%;

    > :last-child {
      margin-top: auto;
    }
  }

  &__date {
    font-size: var(--fs-0);
  }

  &__header {
    font-size: var(--fs-4);
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    font-size: var(--fs-6);
    color: var(--color-light);

    li a {
      background-color: var(--color-accent-light);
      padding: 0.25rem 0.5rem;
      transition: var(--transition);
      @include link-space();

      @include hover {
        background-color: var(--color-accent-dark);
        color: var(--color-light);
      }

      &:focus-visible {
        background-color: var(--color-accent-dark);
        color: var(--color-light);
      }
    }
  }

  .image {
    aspect-ratio: 5 / 3;
  }

  &:focus-within {
  }
}
