.card {
	display: flex;
	flex-direction: column;
	height: 100%;

	&__date {
		@include text-preset(4);
	}

	img {
		aspect-ratio: 2/1;
	}
}

.card__content {
	display: flex;
	flex-direction: column;
	gap: var(--space-3);
	padding: var(--space-3) 0;
	height: 100%;

	@include bp(sm) {
		padding: var(--space-4) var(--space-3);
		background: var(--color-bg-primary);
	}

	> :last-child:has(a),
	> a:last-child {
		margin-top: auto;
	}
}

.card__list {
	--card-list-text: var(--color-text-reverse);

	display: flex;
	align-items: center;
	gap: var(--space-2);
	flex-wrap: wrap;
}

.card__list a {
	color: var(--card-list-text);
	font-size: var(--fs-sm);
	background: var(--color-primary-dark);
	transition: var(--transition-md);
	padding: var(--space-1) var(--space-2);
	text-decoration: none;

	@include hover(focus) {
		background: var(--color-primary);
		color: var(--card-list-text);
	}
}
