.card {
	display: flex;
	flex-direction: column;
	height: 100%;
	background: var(--color-primary-bg);

	&__content {
		display: flex;
		flex-direction: column;
		gap: var(--spacer-2);
		padding: var(--spacer-2) var(--spacer-3);
		height: 100%;

		> :last-child:has(a),
		a {
			margin-top: auto;
		}
	}

	&__date {
		font-size: var(--fs-sm);
		color: var(--color-muted);
	}

	&__list {
		display: flex;
		align-items: center;
		gap: var(--spacer-1);
		flex-wrap: wrap;
		color: var(--color-white);

		li a {
			font-size: var(--fs-sm);
			background: var(--color-primary);
			transition: var(--transition);
			padding: 0.25rem 0.5rem;
			@include link-space();

			@include hover(focus) {
				background: var(--color-primary-dark);
				color: var(--color-white);
			}
		}
	}

	.image {
		aspect-ratio: 5 / 3;
	}
}
