.footer {
}

.footer-nav {
	padding-bottom: var(--spacer-4);

	&__list-header {
		padding-top: var(--spacer-1);
		font-weight: var(--fw-xl);
	}

	&__column {
		display: flex;
		flex-direction: column;
	}

	&__list {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&__header {
		margin-bottom: var(--spacer-2);
		font-size: var(--h5);
		font-weight: var(--fw-xl);
		color: var(--color-primary);
		text-transform: uppercase;
	}

	&__link {
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 0.75rem 0;
		font-weight: var(--fw-md);
	}

	&__button {
		margin-top: auto;
		padding: 0.75rem 0;
	}
}

.copyright {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
