.footer-nav__group {
	display: flex;
	flex-direction: column;
}

.footer-nav__title {
	@include text-preset(5);
	margin-bottom: var(--space-3);
	color: var(--color-text-accent);
}

.footer-nav__subtitle {
	font-weight: var(--fw-semibold);
}

.footer-nav__list {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: var(--space-3);
}

.footer-nav__link {
	font-weight: var(--fw-medium);
	font-size: var(--fs-sm);
	@include underline-hover(reverse);
}

.footer-nav__copyright {
	@include text-preset(7);
	display: flex;
	justify-content: space-between;
	color: var(--color-text-dim);
	padding-top: var(--space-4);
}
