.footer {
	background-color: var(--color-bg-footer);
	margin-top: auto;
	padding-top: var(--space-8);
	padding-bottom: var(--space-4);
}

.footer-nav__group {
	display: flex;
	flex-direction: column;
}

.footer-nav__title {
	@include text-preset(2);
	margin-bottom: var(--space-4);
}

.footer-nav__subtitle {
	@include text-preset(3);
}

.footer-nav__list {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: var(--space-4);
}

.footer-nav__link {
	@include target-space;
	@include underline(focus);
	font-size: var(--fs-sm);
}

.footer-nav__copyright {
	@include text-preset(4);
	display: flex;
	justify-content: space-between;
	color: var(--color-text-secondary);
	margin-top: var(--space-8);
}
