.footer-nav {
	padding-bottom: var(--spacer-4);

	&__list-header {
		padding-top: var(--spacer-1);
		font-weight: var(--fw-xxl);
	}

	&__column {
		display: flex;
		flex-direction: column;
	}

	&__list {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&__header {
		@include text-preset(5);
		margin-bottom: var(--spacer-1);
		color: var(--color-primary);
	}

	&__link {
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 0.75rem 0;
		font-weight: var(--fw-lg);
		font-size: var(--fs-sm);
		@include underline-hover(reverse);
	}

	&__button {
		margin-top: auto;
		padding: 0.75rem 0;
	}
}

.copyright {
	@include text-preset(7);
	color: var(--color-text-muted);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
