a,
[role='link'] {
	--link-transition: var(--transition-sm);
	--link-color: var(--color-text);
	--link-color-hover: var(--color-accent);
}

a,
[role='link'] {
	color: var(--link-color);
	transition: var(--link-transition);

	@include hover(focus) {
		color: var(--link-color-hover);
	}
}

%link-box {
	@include target-space;
	@include text-preset(3);
	@include chevron;
	display: inline-flex;
	text-decoration: none;
	color: var(--color-accent);
}
