[href],
a {
	--color-link: var(--color-text);
	--color-link-hover: var(--color-accent);
	--transition-link: 0.2s ease-in-out;
	--underline-thickness: var(--border-thickness);
	--underline-offset: 20%;

	color: var(--color-link);
	transition: var(--transition-link);
	text-underline-offset: var(--underline-offset);
	text-decoration-thickness: var(--underline-thickness);

	@include underline-reverse();

	@include hover {
		color: var(--color-link-hover);
	}

	&:focus-visible {
		color: var(--color-link-hover);
		outline: none;
	}
}

.link-heading {
	--color-link: var(--color-primary);
	--color-link-hover: var(--color-primary);
	--underline-offset: 30%;
	@include underline();
}

.nav-link {
	--color-link-hover: var(--color-primary);
}

/* 

.box-link {
	display: inline-flex;
	align-items: center;
	@include link-space();
	color: var(--color-primary);
	font-size: var(--fs-0);
	font-weight: var(--fw-medium);
	text-transform: uppercase;
	transition: var(--transition);
	line-height: 1;

	&__icon {
		width: 0.75rem;
		height: 0.75rem;
		margin-left: 0.25rem;
		fill: var(--color-primary);
		transition: var(--transition);
	}

	&:focus-visible {
		color: var(--color-secondary);

		.box-link__icon {
			fill: var(--color-secondary);
			translate: 0.375rem;
		}
	}

	@include hover {
		color: var(--color-accent);

		.box-link__icon {
			fill: var(--color-accent);
			translate: 0.25rem;
		}
	}
}
 */
