@mixin underline-hover($type: null) {
	text-decoration-color: currentColor;

	@if $type == reverse {
		text-decoration-color: transparent;
	}

	@include hover(focus) {
		text-decoration-color: transparent;

		@if $type == reverse {
			text-decoration-color: currentColor;
		}
	}
}
