a,
[role='link'] {
	--link-transition: var(--transition-sm);
	--link-color: var(--color-text-primary);
	--link-color-hover: var(--color-accent);
}

a,
[role='link'] {
	color: var(--link-color);
	transition: var(--link-transition);

	@include hover(focus) {
		color: var(--link-color-hover);
	}
}

%link-title {
	--link-color: var(--color-accent);
	--link-color-hover: var(--color-primary-light);

	text-decoration: none;
}

%link-box {
	@extend %link-title;
	@include target-size;
	@include text-preset(3);
	@include chevron;
	text-transform: uppercase;
}
