.skip-link {
	top: var(--space-container);
	left: var(--space-container);
	position: fixed;
	z-index: 999;
	background-color: var(--color-black);
	padding: var(--space-3);
	font-weight: bold;
	font-size: var(--fs-lg);
	text-transform: uppercase;
	opacity: 0;
	translate: -200% 0;
	transition: 0.25s ease;

	&:focus-visible {
		translate: none;
		opacity: 1;
		color: var(--color-white);
	}
}
