.skip-link {
	top: var(--space-container);
	left: var(--space-container);
	position: fixed;
	z-index: 999;
	background-color: var(--color-bg);
	padding: var(--space-3);
	font-weight: bold;
	font-size: var(--fs-lg);
	outline: 2px solid currentColor;
	translate: -150% 0;
	translate: none;
	color: var(--color-text-primary);
	transition: var(--transition-md);
}

.skip-link:not(:focus-visible) {
	@include visually-hidden;
}
