@mixin btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.875rem 2.25rem;
  background-color: var(--color-dark);
  color: var(--color-light);
  font-weight: var(--fw-bold);
  border: 1px solid var(--color-dark);
  transition: var(--transition);
  line-height: 1;
  //border-radius: var(--br);
  //box-shadow: var(--shadow);

  &:focus-visible {
    background-color: var(--color-light);
    color: var(--color-dark);
  }

  @include hover {
    background-color: var(--color-light);
    color: var(--color-dark);
  }
}

@mixin btn-reverse {
  @extend .btn;
  background-color: var(--color-light);
  color: var(--color-dark);

  &:focus-visible {
    background-color: var(--color-dark);
    color: var(--color-light);
  }

  @include hover {
    background-color: var(--color-dark);
    color: var(--color-light);
  }
}

/* ====================   IMPORTS   ==================== */

.btn {
  @include btn();
}

.btn-reverse {
  @include btn-reverse();
}
