<div class="dialogs">
	<div data-dialog class="dialog">
		<p data-dialog-label class="dialog__title">Dialog title</p>
		<p data-dialog-desc>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam cumque culpa natus qui voluptate deserunt minima
			quod nam. Qui, iure?
		</p>

		<menu class="dialog__controls">
			<li><button class="button" data-dialog-open="two" type="button">Dialog</button></li>
			<li><button class="button button--outline" data-dialog-close type="button">Close</button></li>
		</menu>
	</div>

	<div data-dialog="two" class="dialog dialog--small">
		<div class="dialog__header">
			<p class="dialog__title">Dialog title</p>
			<button data-dialog-close type="button" aria-label="close dialog">
				<svg aria-hidden="true" class="icon">
					<use href="images/icons/sprite-mono.svg#cancel"></use>
				</svg>
			</button>
		</div>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, omnis.</p>
	</div>
</div>
