<div class="container">
	<nav aria-label="Footer" class="footer-nav">
		<div class="row row-cols-sm-2 row-cols-lg-4 gy-4">
			<div class="col-12 footer-nav__group">
				<ul class="footer-nav__list">
					<li>
						<a href="index.html" aria-label="Logo-name home. Logo-name logo.">
							<svg aria-hidden="true" class="brand-logo brand-logo--large">
								<use href="images/icons/sprite-multi.svg#logo"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>

			<div class="col-12 footer-nav__group">
				<h2 class="footer-nav__title">Services</h2>

				<ul class="footer-nav__list">
					<li><a class="footer-nav__link" href="#">Cloud Solutions</a></li>
					<li><a class="footer-nav__link" href="#">Your Local IT Help desk</a></li>
					<li><a class="footer-nav__link" href="#">Disaster Recovery</a></li>
					<li><a class="footer-nav__link" href="#">Systems Security</a></li>
					<li><a class="footer-nav__link" href="#">Hardware Procurement</a></li>
					<li><a class="footer-nav__link" href="#">Phones and Internet</a></li>
				</ul>
			</div>

			<div class="col-12 footer-nav__group">
				<h2 class="footer-nav__title">Company</h2>

				<ul class="footer-nav__list">
					<li><a class="footer-nav__link" href="about.html">About</a></li>
					<li>
						<a class="footer-nav__link" href="portfolio.html">Portfolio</a>
					</li>
					<li>
						<a class="footer-nav__link" href="blog.html">Blog</a>
					</li>
					<li><a class="footer-nav__link" href="contact.html">Contact</a></li>
					<li>
						<a class="footer-nav__link" href="privacy-policy.html">Privacy Policy</a>
					</li>
					<li><a class="footer-nav__link" href="therms.html">Terms & Conditions</a></li>
				</ul>
			</div>

			<div class="col-12 footer-nav__group">
				<h2 class="footer-nav__title">Contact</h2>

				<ul class="footer-nav__list">
					<li>
						<div class="footer-nav__subtitle">Phone</div>
						<a href="tel:1800843695" class="footer-nav__link" aria-label="Make a phone call">1800 843 695</a>
					</li>

					<li>
						<div class="footer-nav__subtitle">Address</div>
						<a
							class="footer-nav__link"
							aria-label="Open Google Map"
							href="https://goo.gl/maps/cWDnimrLcYismybL7"
							target="_blank"
							>Suite 6, Level 13, 350 Collins Street, Melbourne VIC 3000</a
						>
					</li>

					<li class="mt-auto">
						<div class="footer-socials">@@include('social.html',{})</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="footer-nav__copyright">
			<p>©2023 Starter site</p>
			<p>Website by <a href="https://sgd.com.au/" class="link" target="_blank">SGD</a></p>
		</div>
	</nav>
</div>
