<div class="container-fluid container-xxl footer-container">
  <nav aria-label="Footer" class="footer-nav">
    <div class="row row-cols-sm-2 row-cols-lg-4">
      <div class="col-12 footer-nav__column">
        <ul class="footer-nav__list">
          <li>
            <a class="logo-hover" href="index.html" aria-label="The Owl home. The Owl logo.">
              <svg aria-hidden="true" class="logo-icon">
                <use href="images/icons/sprite-multi.svg#logo"></use>
              </svg>
            </a>
          </li>

          <li>
            <div class="footer-socials">@@include('social.html',{})</div>
          </li>
        </ul>
      </div>

      <div class="col-12 footer-nav__column">
        <h2 class="footer-nav__header">Services</h2>

        <ul class="footer-nav__list">
          <li><a class="footer-nav__link" href="about.html">Cloud Solutions</a></li>
          <li><a class="footer-nav__link" href="faq.html">Your Local IT Help desk</a></li>
          <li><a class="footer-nav__link" href="blog.html">Disaster Recovery</a></li>
          <li><a class="footer-nav__link" href="contact.html">Systems Security</a></li>
          <li><a class="footer-nav__link" href="blog.html">Hardware Procurement</a></li>
          <li><a class="footer-nav__link" href="contact.html">Phones and Internet</a></li>
        </ul>
      </div>

      <div class="col-12 footer-nav__column">
        <h2 class="footer-nav__header">Company</h2>

        <ul class="footer-nav__list">
          <li><a class="footer-nav__link" href="about.html">About</a></li>
          <li>
            <a class="footer-nav__link" href="portfolio.html">Portfolio</a>
          </li>
          <li>
            <a class="footer-nav__link" href="blog.html">Blog</a>
          </li>
          <li><a class="footer-nav__link" href="contact.html">Contact</a></li>
          <li>
            <a class="footer-nav__link" href="privacy-policy.html">Privacy Policy</a>
          </li>
          <li><a class="footer-nav__link" href="therms.html">Terms & Conditions</a></li>
        </ul>
      </div>

      <div class="col-12 footer-nav__column">
        <h2 class="footer-nav__header">Contact</h2>

        <ul class="footer-nav__list">
          <li>
            <div class="h-5">Phone</div>
            <a href="tel:1800843695" class="footer-nav__link ps-0" aria-label="Make a phone call">1800&nbsp;843&nbsp;695</a>
          </li>

          <li>
            <div class="h-5">Address</div>
            <a class="footer-nav__link ps-0" aria-label="Open Google Map" href="https://goo.gl/maps/cWDnimrLcYismybL7" target="_blank"
              >Suite 6, Level 13, 350 Collins Street, Melbourne VIC 3000</a
            >
          </li>

          <li class="footer-nav__btn">
            <a class="btn" href="#">Contact us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="copyright">
    <p>© 2022 Owl IT Services</p>
    <p>Website by SGD</p>
  </div>
</div>
