<!-- ====================   LOGO   ==================== -->

<a aria-label="Logo-name home. Logo-name logo." class="button brand-logo brand-logo--header" href="index.html">Brand</a>

<!-- ====================   NAVIGATION   ==================== -->

<nav aria-label="Main" class="hamburger" data-hamburger>
	<div class="hamburger__header">
		<button class="hamburger__toggler hamburger__toggler--close" data-hamburger-button="close" type="button">
			<svg aria-hidden="true" class="hamburger__icon">
				<use href="images/icons/sprite-mono.svg#cancel"></use>
			</svg>
		</button>
	</div>
	<div class="d-sm-none">@@include('search.html',{})</div>
	<ul class="header-nav">
		<li class="header-nav__item">
			<a data-nav-page href="about.html" class="header-nav__link">About</a>
		</li>

		<li data-dropdown="hover" class="header-nav__item dropdown">
			<div class="dropdown__controls">
				<a data-nav-page href="headers.html" class="header-nav__link">Services</a>
				<button type="button" class="dropdown__button" aria-label="Dropdown menu for headers">
					<svg aria-hidden="true" class="icon">
						<use href="images/icons/sprite-mono.svg#arrow"></use>
					</svg>
				</button>
			</div>
			<div data-dropdown-content class="dropdown__content">
				<ul class="header-nav__list">
					<li>
						<a href="index.html" class="header-nav__link">Lorem ipsum dolor</a>
					</li>

					<li>
						<a href="index.html" class="header-nav__link">Lorem ipsum dolor</a>
					</li>

					<li>
						<a href="index.html" class="header-nav__link">Lorem ipsum dolor</a>
					</li>
				</ul>
			</div>
		</li>

		<li class="header-nav__item">
			<a data-nav-page href="portfolio.html" class="header-nav__link">Portfolio</a>
		</li>

		<li class="header-nav__item">
			<a data-nav-page href="blog.html" class="header-nav__link">Blog</a>
		</li>

		<li class="header-nav__item">
			<a data-nav-page href="contact.html" class="header-nav__link">Contact</a>
		</li>
	</ul>

	<div class="d-lg-none">@@include('social.html',{})</div>
</nav>
<!-- ====================   SEARCH   ==================== -->
<div class="d-none d-sm-flex col col-lg-4 justify-content-lg-end">@@include('search.html',{})</div>

<!-- ====================   HAMBURGER-TOGGLER OPEN   ==================== -->
<button class="hamburger__toggler hamburger__toggler" data-hamburger-button="open" type="button">
	<svg aria-hidden="true" class="hamburger__icon">
		<use href="images/icons/sprite-mono.svg#hamburger" />
	</svg>
	Menu
</button>
