<!-- ====================   LOGO   ==================== -->

<div class="col-auto col-xl-3 d-flex align-items-center">
	<a aria-label="Logo-name home. Logo-name logo." href="index.html">
		<svg aria-hidden="true" class="site-logo">
			<use href="images/icons/sprite-multi.svg#logo" />
		</svg>
	</a>
</div>

<!-- ====================   NAVIGATION   ==================== -->

<nav aria-label="Main" class="navigation col-12 col-xl" data-hamburger>
	<button class="nav-toggler nav-toggler--close" data-hamburger-button="close" type="button">
		<svg aria-hidden="true" class="nav-toggler__icon">
			<use href="images/icons/sprite-mono.svg#cancel"></use>
		</svg>
	</button>

	@@include('search.html',{})

	<ul class="nav-menu">
		<li class="nav-menu__item">
			<a data-nav-page href="about.html" class="nav-menu__link">About</a>
		</li>

		<li data-dropdown="hover" class="nav-menu__item dropdown">
			<div class="dropdown__controls">
				<a data-nav-page href="services.html" class="nav-menu__link">Services</a>
				<button type="button" class="dropdown__button" aria-label="Dropdown menu for Services">
					<svg aria-hidden="true" class="icon">
						<use href="images/icons/sprite-mono.svg#arrow"></use>
					</svg>
				</button>
			</div>
			<div data-dropdown-content class="dropdown__content">
				<ul class="dropdown__list">
					<li>
						<a href="index.html" class="dropdown__link">Lorem ipsum dolor</a>
					</li>

					<li>
						<a href="index.html" class="dropdown__link">Lorem ipsum dolor</a>
					</li>

					<li>
						<a href="index.html" class="dropdown__link">Lorem ipsum dolor</a>
					</li>
				</ul>
			</div>
		</li>

		<li class="nav-menu__item">
			<a data-nav-page href="portfolio.html" class="nav-menu__link">Portfolio</a>
		</li>

		<li class="nav-menu__item">
			<a data-nav-page href="blog.html" class="nav-menu__link">Blog</a>
		</li>

		<li class="nav-menu__item">
			<a data-nav-page href="contact.html" class="nav-menu__link">Contact</a>
		</li>
	</ul>

	<div class="d-lg-none">@@include('social.html',{})</div>
</nav>

<!-- ====================   SEARCH   ==================== -->

<div class="col-auto col-md col-xl-2 col-xxl-3 d-flex align-items-center d-none d-lg-flex justify-content-end">
	@@include('search.html',{})
</div>

<!-- ====================   NAV-TOGGLER   ==================== -->

<button class="nav-toggler nav-toggler col-auto" data-hamburger-button="open" type="button">
	<svg aria-hidden="true" class="nav-toggler__icon">
		<use href="images/icons/sprite-mono.svg#hamburger" />
	</svg>
	Menu
</button>
