<!-- ====================   LOGO   ==================== -->

<div class="col-auto col-xl-3">
  <a aria-label="Logo-name home. Logo-name logo." class="logo" href="index.html">
    <svg aria-hidden="true" class="logo__icon">
      <use href="images/icons/sprite-multi.svg#logo" />
    </svg>
  </a>
</div>

<!-- ====================   NAVIGATION   ==================== -->

<nav aria-label="Main" class="navigation col-12 col-xl" data-hamburger>
  <button class="nav-toggler nav-toggler_close" data-hamburger-btn="close" type="button">
    <span class="nav-toggler__text nav-toggler__text_close">Close</span
    ><svg aria-hidden="true" class="nav-toggler__icon nav-toggler__icon_close">
      <use href="images/icons/sprite-mono.svg#cancel"></use>
    </svg>
  </button>

  @@include('search.html',{})

  <ul class="nav-menu">
    <li data-nav-page class="nav-menu__item">
      <a href="about.html" class="nav-menu__link nav-link">About</a>
    </li>

    <li data-dropdown="hover" class="nav-menu__item dropdown">
      <div class="dropdown__controls">
        <a href="components.html" class="nav-menu__link dropdown__link nav-link">Components</a>
        <button type="button" class="dropdown__btn" aria-label="Dropdown menu for components">
          <svg aria-hidden="true" class="dropdown__icon">
            <use href="images/icons/sprite-mono.svg#arrow"></use>
          </svg>
        </button>
      </div>
      <div data-dropdown-content class="dropdown__content">
        <ul class="dropdown-list">
          <li class="dropdown-list__item">
            <a href="tabs.html" class="dropdown-list__link">Tabs</a>
          </li>
          <li class="dropdown-list__item">
            <a href="dropdowns.html" class="dropdown-list__link">Dropdowns</a>
          </li>
          <li class="dropdown-list__item">
            <a href="dialogs.html" class="dropdown-list__link">Dialogs</a>
          </li>
        </ul>
      </div>
    </li>

    <li data-nav-page class="nav-menu__item">
      <a href="portfolio.html" class="nav-menu__link nav-link">Portfolio</a>
    </li>

    <li data-nav-page class="nav-menu__item">
      <a href="blog.html" class="nav-menu__link nav-link">Blog</a>
    </li>

    <li data-nav-page class="nav-menu__item">
      <a href="contact.html" class="nav-menu__link nav-link">Contact</a>
    </li>
  </ul>

  @@include('social.html',{})
</nav>

<!-- ====================   SEARCH   ==================== -->

<div class="col-auto col-md col-xl-2 col-xxl-3 search-container">@@include('search.html',{})</div>

<!-- ====================   NAV-TOGGLER   ==================== -->

<button class="nav-toggler nav-toggler_open col-auto" data-hamburger-btn="open" type="button">
  <svg aria-hidden="true" class="nav-toggler__icon nav-toggler__icon_open">
    <use href="images/icons/sprite-mono.svg#hamburger" />
  </svg>
  <span class="nav-toggler__text nav-toggler__text_open">menu</span>
</button>
