<!-- ====================   HERO   ==================== -->

<section class="section container-fluid container-xxl hero">
  <div class="row hero__content">
    <h1 class="col-12 col-xl-6">
      <span class="color-primary">IT Managed Services</span> for Your Business<span class="color-primary">.</span>
    </h1>
    <p class="col-12 col-xl-5">
      We offer business-focused IT services and solutions to help your business be more efficient and flexible.
    </p>
  </div>
  <div>
    <a class="btn" href="#">Get started</a>
  </div>
</section>

<!-- ====================   BANNER   ==================== -->

<div class="banner">
  <picture>
    <source
      sizes="100vw"
      srcset="
        images/main-page/hero-banner-320.avif   320w,
        images/main-page/hero-banner-640.avif   640w,
        images/main-page/hero-banner-960.avif   960w,
        images/main-page/hero-banner-1280.avif 1280w,
        images/main-page/hero-banner-1920.avif 1920w,
        images/main-page/hero-banner-2560.avif 2560w
      "
      type="image/avif"
    />
    <source
      sizes="100vw"
      srcset="
        images/main-page/hero-banner-320.webp   320w,
        images/main-page/hero-banner-640.webp   640w,
        images/main-page/hero-banner-960.webp   960w,
        images/main-page/hero-banner-1280.webp 1280w,
        images/main-page/hero-banner-1920.webp 1920w,
        images/main-page/hero-banner-2560.webp 2560w
      "
      type="image/webp"
    />
    <source
      sizes="100vw"
      srcset="
        images/main-page/hero-banner-320.jpg   320w,
        images/main-page/hero-banner-640.jpg   640w,
        images/main-page/hero-banner-960.jpg   960w,
        images/main-page/hero-banner-1280.jpg 1280w,
        images/main-page/hero-banner-1920.jpg 1920w,
        images/main-page/hero-banner-2560.jpg 2560w
      "
      type="image/jpeg"
    />
    <img alt class="image" draggable="false" height="2560" src="images/main-page/hero-banner-960.jpg" width="2560" />
  </picture>
  <div class="banner__gradient"></div>
  <div class="banner__particles" id="banner__particles"></div>
</div>

<!-- ====================   SERVICES   ==================== -->

<section class="section position-relative container-fluid container-xxl services">
  <div class="bg-gradient bg-gradient-bottom"></div>
  <div class="bg-gradient bg-gradient-up"></div>
  <div class="section__headers">
    <h2 class="h-5 text-center">Our services</h2>
    <p class="h-2 text-center" data-animate="section-header">
      <span class="text-accent">What</span> We Offer<span class="text-accent">.</span>
    </p>
  </div>
  <div class="row row-cols-md-2 row-cols-xl-3 gy-4">
    <div class="col-12">
      <a class="card-services" href="#">
        <div class="card-services__logo" style="background-color: #348acc">
          <svg aria-hidden="true" class="card-services__icon">
            <use href="images/icons/sprite-mono.svg#service-icons--cloud-computing" />
          </svg>
        </div>

        <h3 class="h-4">Cloud Solutions</h3>
        <p>
          Run your business entirely from the cloud, with email, data storage, systems management, data backup, disaster
          recovery, telephony, and more.
        </p>
        <div>
          <span class="card-link">
            Read more
            <svg aria-hidden="true" class="arrow-right-icon card-link__icon">
              <use href="images/icons/sprite-mono.svg#arrow" />
            </svg>
          </span>
        </div>
      </a>
    </div>

    <div class="col-12">
      <a class="card-services" href="#">
        <div class="card-services__logo" style="background-color: #c263e2">
          <svg aria-hidden="true" class="card-services__icon">
            <use href="images/icons/sprite-mono.svg#service-icons--support" />
          </svg>
        </div>

        <h3 class="h-4">Your Local IT Help desk</h3>

        <p>
          Get your business its own IT Help desk, located in Melbourne. It costs far less, and we have business
          experience most internal techs don't.
        </p>

        <div>
          <span class="card-link">
            Read more
            <svg aria-hidden="true" class="arrow-right-icon card-link__icon">
              <use href="images/icons/sprite-mono.svg#arrow" />
            </svg>
          </span>
        </div>
      </a>
    </div>

    <div class="col-12">
      <a class="card-services" href="#">
        <div class="card-services__logo" style="background-color: #00b188">
          <svg aria-hidden="true" class="card-services__icon">
            <use href="images/icons/sprite-mono.svg#service-icons--turn" />
          </svg>
        </div>

        <h3 class="h-4">Disaster Recovery</h3>

        <p>
          Our team will work with your business to configure the best fit disaster recovery solution to protect your
          important business data.
        </p>

        <div>
          <span class="card-link">
            Read more
            <svg aria-hidden="true" class="arrow-right-icon card-link__icon">
              <use href="images/icons/sprite-mono.svg#arrow" />
            </svg>
          </span>
        </div>
      </a>
    </div>

    <div class="col-12">
      <a class="card-services" href="#">
        <div class="card-services__logo" style="background-color: #f6921d">
          <svg aria-hidden="true" class="card-services__icon">
            <use href="images/icons/sprite-mono.svg#service-icons--verified" />
          </svg>
        </div>

        <h3 class="h-4">Systems Security</h3>

        <p>
          Ensure your important business data is protected with security software designed to find malware, prevent
          intrusions, and adapt to new threats fast.
        </p>

        <div>
          <span class="card-link">
            Read more
            <svg aria-hidden="true" class="arrow-right-icon card-link__icon">
              <use href="images/icons/sprite-mono.svg#arrow" />
            </svg>
          </span>
        </div>
      </a>
    </div>

    <div class="col-12">
      <a class="card-services" href="#">
        <div class="card-services__logo" style="background-color: #33c1e0">
          <svg aria-hidden="true" class="card-services__icon">
            <use href="images/icons/sprite-mono.svg#service-icons--laptop" />
          </svg>
        </div>

        <h3 class="h-4">Hardware Procurement</h3>

        <p>
          Computers, laptops, servers, network devices, custom workstations, boardroom conference systems, anything.
        </p>

        <div>
          <span class="card-link">
            Read more
            <svg aria-hidden="true" class="arrow-right-icon card-link__icon">
              <use href="images/icons/sprite-mono.svg#arrow" />
            </svg>
          </span>
        </div>
      </a>
    </div>

    <div class="col-12">
      <a class="card-services" href="#">
        <div class="card-services__logo" style="background-color: #e15b73">
          <svg aria-hidden="true" class="card-services__icon">
            <use href="images/icons/sprite-mono.svg#service-icons--earth" />
          </svg>
        </div>

        <h3 class="h-4">Phones and Internet</h3>

        <p>
          We'll set your business up with a cloud-based telephone system that allows your staff to work from anywhere.
          And we can connect your office with internet too!
        </p>

        <div>
          <span class="card-link">
            Read more
            <svg aria-hidden="true" class="arrow-right-icon card-link__icon">
              <use href="images/icons/sprite-mono.svg#arrow" />
            </svg>
          </span>
        </div>
      </a>
    </div>
  </div>
</section>

<!-- ====================  ABOUT   ==================== -->

<section class="section container-fluid container-xxl about">
  <div class="row g-xl justify-content-between">
    <div class="col-12 col-lg-5 about__text-content">
      <div class="section__headers">
        <h2 class="h-5">About us</h2>
        <p class="h-2" data-animate="section-header">
          <span class="text-accent">Managed IT</span> Supports<span class="text-accent">.</span>
        </p>
      </div>
      <p>
        We offer business-focused IT services and solutions to help your business be more efficient and flexible, work
        reliably, grow comfortably, and be secure in an era of constant threats to business data.
      </p>
      <a class="btn" href="about.html">Get started</a>
    </div>
    <div class="col-12 col-lg-6 about__img">
      <picture>
        <source
          sizes="(min-width: 992px) 50vw, 100vw"
          srcset="
            images/main-page/about-us-320.avif   320w,
            images/main-page/about-us-640.avif   640w,
            images/main-page/about-us-960.avif   960w,
            images/main-page/about-us-1280.avif 1280w,
            images/main-page/about-us-1920.avif 1920w,
            images/main-page/about-us-2560.avif 2560w
          "
          type="image/avif"
        />
        <source
          sizes="(min-width: 992px) 50vw, 100vw"
          srcset="
            images/main-page/about-us-320.webp   320w,
            images/main-page/about-us-640.webp   640w,
            images/main-page/about-us-960.webp   960w,
            images/main-page/about-us-1280.webp 1280w,
            images/main-page/about-us-1920.webp 1920w,
            images/main-page/about-us-2560.webp 2560w
          "
          type="image/webp"
        />
        <source
          sizes="(min-width: 992px) 50vw, 100vw"
          srcset="
            images/main-page/about-us-320.jpg   320w,
            images/main-page/about-us-640.jpg   640w,
            images/main-page/about-us-960.jpg   960w,
            images/main-page/about-us-1280.jpg 1280w,
            images/main-page/about-us-1920.jpg 1920w,
            images/main-page/about-us-2560.jpg 2560w
          "
          type="image/jpeg"
        />
        <img
          alt
          class="image"
          draggable="false"
          loading="lazy"
          height="2560"
          src="images/main-page/about-us-960.jpg"
          width="2560"
        />
      </picture>

      <p class="about__attachment">
        Lorem ipsum
        <span class="fw-bold"> +250 dolor sit amet<span class="color-primary">.</span> </span>
      </p>
    </div>
  </div>
</section>

<!-- ====================   PORTFOLIO  ==================== -->

<section class="section container-fluid container-xxl portfolio">
  <div class="section__headers">
    <h2 class="h-5">Portfolio</h2>
    <p class="h-2" data-animate="section-header">
      <span class="text-accent">Case</span>Studies<span class="text-accent">.</span>
    </p>
  </div>
  <div class="gy-lg">
    <div class="row row-cols-md-2 g-0 card">
      <div class="col-12 card__img">
        <a class="card__img-link" href="#" tabindex="-1">
          <picture>
            <source
              sizes="(min-width: 992px) 50vw, 100vw"
              srcset="
                images/main-page/portfolio-1-320.avif   320w,
                images/main-page/portfolio-1-640.avif   640w,
                images/main-page/portfolio-1-960.avif   960w,
                images/main-page/portfolio-1-1280.avif 1280w,
                images/main-page/portfolio-1-1920.avif 1920w,
                images/main-page/portfolio-1-2560.avif 2560w
              "
              type="image/avif"
            />
            <source
              sizes="(min-width: 992px) 50vw, 100vw"
              srcset="
                images/main-page/portfolio-1-320.webp   320w,
                images/main-page/portfolio-1-640.webp   640w,
                images/main-page/portfolio-1-960.webp   960w,
                images/main-page/portfolio-1-1280.webp 1280w,
                images/main-page/portfolio-1-1920.webp 1920w,
                images/main-page/portfolio-1-2560.webp 2560w
              "
              type="image/webp"
            />
            <source
              sizes="(min-width: 992px) 50vw, 100vw"
              srcset="
                images/main-page/portfolio-1-320.jpg   320w,
                images/main-page/portfolio-1-640.jpg   640w,
                images/main-page/portfolio-1-960.jpg   960w,
                images/main-page/portfolio-1-1280.jpg 1280w,
                images/main-page/portfolio-1-1920.jpg 1920w,
                images/main-page/portfolio-1-2560.jpg 2560w
              "
              type="image/jpeg"
            />
            <img
              alt="Buddy Jane"
              class="image"
              draggable="false"
              loading="lazy"
              height="2560"
              src="images/main-page/portfolio-1-960.jpg"
              width="2560"
            />
          </picture>
        </a>
      </div>

      <div class="col-12 card__content">
        <ul class="card-list">
          <li>
            <a href="#">System management</a>
          </li>
          <li>
            <a href="#">Disaster Recovery</a>
          </li>
        </ul>

        <h3 class="h-3">
          <a class="link" href="#">Buddy Jane</a>
        </h3>

        <p>
          Ensure your important business data is protected with security software designed to find malware, prevent
          intrusions, and adapt to new threats fast.
        </p>

        <div>
          <a class="card-link" href="#">
            Read more
            <svg aria-hidden="true" class="arrow-right-icon card-link__icon">
              <use href="images/icons/sprite-mono.svg#arrow" />
            </svg>
          </a>
        </div>
      </div>
    </div>

    <div class="row row-cols-md-2 g-0 card">
      <div class="col-12 card__img">
        <a class="card__img-link" href="#" tabindex="-1">
          <picture>
            <source
              sizes="(min-width: 992px) 50vw, 100vw"
              srcset="
                images/main-page/portfolio-2-320.avif   320w,
                images/main-page/portfolio-2-640.avif   640w,
                images/main-page/portfolio-2-960.avif   960w,
                images/main-page/portfolio-2-1280.avif 1280w,
                images/main-page/portfolio-2-1920.avif 1920w,
                images/main-page/portfolio-2-2560.avif 2560w
              "
              type="image/avif"
            />
            <source
              sizes="(min-width: 992px) 50vw, 100vw"
              srcset="
                images/main-page/portfolio-2-320.webp   320w,
                images/main-page/portfolio-2-640.webp   640w,
                images/main-page/portfolio-2-960.webp   960w,
                images/main-page/portfolio-2-1280.webp 1280w,
                images/main-page/portfolio-2-1920.webp 1920w,
                images/main-page/portfolio-2-2560.webp 2560w
              "
              type="image/webp"
            />
            <source
              sizes="(min-width: 992px) 50vw, 100vw"
              srcset="
                images/main-page/portfolio-2-320.jpg   320w,
                images/main-page/portfolio-2-640.jpg   640w,
                images/main-page/portfolio-2-960.jpg   960w,
                images/main-page/portfolio-2-1280.jpg 1280w,
                images/main-page/portfolio-2-1920.jpg 1920w,
                images/main-page/portfolio-2-2560.jpg 2560w
              "
              type="image/jpeg"
            />
            <img
              alt="Healing with Modern"
              class="image"
              draggable="false"
              loading="lazy"
              height="2560"
              src="images/main-page/portfolio-2-960.jpg"
              width="2560"
            />
          </picture>
        </a>
      </div>

      <div class="col-12 card__content">
        <ul class="card-list">
          <li>
            <a href="#">System management</a>
          </li>
          <li>
            <a href="#">Disaster Recovery</a>
          </li>
        </ul>

        <h3 class="h-3">
          <a class="link" href="#">Healing with Modern</a>
        </h3>

        <p>
          Ensure your important business data is protected with secure software designed to find malware, prevent
          intrusions, and adapt to new threats fast.
        </p>

        <div>
          <a class="card-link" href="#">
            Read more
            <svg aria-hidden="true" class="arrow-right-icon card-link__icon">
              <use href="images/icons/sprite-mono.svg#arrow" />
            </svg>
          </a>
        </div>
      </div>
    </div>

    <div class="row row-cols-md-2 g-0 card">
      <div class="col-12 card__img">
        <a class="card__img-link" href="#" tabindex="-1">
          <picture>
            <source
              sizes="(min-width: 992px) 50vw, 100vw"
              srcset="
                images/main-page/portfolio-3-320.avif   320w,
                images/main-page/portfolio-3-640.avif   640w,
                images/main-page/portfolio-3-960.avif   960w,
                images/main-page/portfolio-3-1280.avif 1280w,
                images/main-page/portfolio-3-1920.avif 1920w,
                images/main-page/portfolio-3-2560.avif 2560w
              "
              type="image/avif"
            />
            <source
              sizes="(min-width: 992px) 50vw, 100vw"
              srcset="
                images/main-page/portfolio-3-320.webp   320w,
                images/main-page/portfolio-3-640.webp   640w,
                images/main-page/portfolio-3-960.webp   960w,
                images/main-page/portfolio-3-1280.webp 1280w,
                images/main-page/portfolio-3-1920.webp 1920w,
                images/main-page/portfolio-3-2560.webp 2560w
              "
              type="image/webp"
            />
            <source
              sizes="(min-width: 992px) 50vw, 100vw"
              srcset="
                images/main-page/portfolio-3-320.jpg   320w,
                images/main-page/portfolio-3-640.jpg   640w,
                images/main-page/portfolio-3-960.jpg   960w,
                images/main-page/portfolio-3-1280.jpg 1280w,
                images/main-page/portfolio-3-1920.jpg 1920w,
                images/main-page/portfolio-3-2560.jpg 2560w
              "
              type="image/jpeg"
            />
            <img
              alt="OLX Motors Europe"
              class="image"
              draggable="false"
              loading="lazy"
              height="2560"
              src="images/main-page/portfolio-3-960.jpg"
              width="2560"
            />
          </picture>
        </a>
      </div>

      <div class="col-12 card__content">
        <ul class="card-list">
          <li>
            <a href="#">System management</a>
          </li>
          <li>
            <a href="#">Disaster Recovery</a>
          </li>
        </ul>

        <h3 class="h-3">
          <a class="link" href="#">OLX Motors Europe</a>
        </h3>

        <p>
          Ensure your important business data is protected with security software designed to find malware, prevent
          intrusions, and adapt to new threats fast.
        </p>

        <div>
          <a class="card-link" href="#">
            Read more
            <svg aria-hidden="true" class="arrow-right-icon card-link__icon">
              <use href="images/icons/sprite-mono.svg#arrow" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-section">
    <a class="btn" href="#">Explore more</a>
  </div>
</section>

<!-- ====================  PARTNERS  ==================== -->

<section class="section position-relative container-fluid container-xxl partners">
  <div class="bg-gradient bg-gradient-bottom"></div>
  <div class="bg-gradient bg-gradient-up"></div>

  <div class="row partners__content">
    <div class="col-12 col-lg-4 partners__content gy-lg">
      <div class="section__headers">
        <h2 class="h-5">Our Partners</h2>
        <p class="h-2" data-animate="section-header">
          <span class="text-accent">Working</span> With the Best<span class="text-accent">.</span>
        </p>
      </div>
      <p>
        Run your business entirely from the cloud, with email, data storage, systems management, data backup, disaster
        recovery, telephony, and more.
      </p>
      <div><a class="btn mt-0" href="partners.html">Get started</a></div>
    </div>
    <div class="col-12 col-lg-7">
      <div class="row gy-4">
        <div class="col-6 col-sm-4">
          <div class="partners__box">
            <svg aria-hidden="true" class="partners__icon">
              <use href="images/icons/sprite-mono.svg#partners--microsoft" />
            </svg>
          </div>
        </div>

        <div class="col-6 col-sm-4">
          <div class="partners__box">
            <svg aria-hidden="true" class="partners__icon">
              <use href="images/icons/sprite-mono.svg#partners--hp" />
            </svg>
          </div>
        </div>

        <div class="col-6 col-sm-4">
          <div class="partners__box">
            <svg aria-hidden="true" class="partners__icon">
              <use href="images/icons/sprite-mono.svg#partners--cisco" />
            </svg>
          </div>
        </div>

        <div class="col-6 col-sm-4">
          <div class="partners__box">
            <svg aria-hidden="true" class="partners__icon">
              <use href="images/icons/sprite-mono.svg#partners--cove" />
            </svg>
          </div>
        </div>

        <div class="col-6 col-sm-4">
          <div class="partners__box">
            <svg aria-hidden="true" class="partners__icon">
              <use href="images/icons/sprite-mono.svg#partners--lenovo" />
            </svg>
          </div>
        </div>

        <div class="col-6 col-sm-4">
          <div class="partners__box">
            <svg aria-hidden="true" class="partners__icon">
              <use href="images/icons/sprite-mono.svg#partners--hp-enterprise" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ====================   BLOG   ==================== -->

<section class="section container-fluid container-xxl blog">
  <div class="section__headers">
    <h2 class="h-5">IT Blog</h2>
    <p class="h-2" data-animate="section-header">
      <span class="text-accent">Expert</span> research<span class="text-accent">.</span>
    </p>
  </div>
  <div class="row gy-4">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card-blog-post">
        <a class="card-blog-post__img" href="#" tabindex="-1">
          <picture>
            <source
              sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
              srcset="
                images/main-page/blog-1-320.avif   320w,
                images/main-page/blog-1-640.avif   640w,
                images/main-page/blog-1-960.avif   960w,
                images/main-page/blog-1-1280.avif 1280w,
                images/main-page/blog-1-1920.avif 1920w,
                images/main-page/blog-1-2560.avif 2560w
              "
              type="image/avif"
            />
            <source
              sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
              srcset="
                images/main-page/blog-1-320.webp   320w,
                images/main-page/blog-1-640.webp   640w,
                images/main-page/blog-1-960.webp   960w,
                images/main-page/blog-1-1280.webp 1280w,
                images/main-page/blog-1-1920.webp 1920w,
                images/main-page/blog-1-2560.webp 2560w
              "
              type="image/webp"
            />
            <source
              sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
              srcset="
                images/main-page/blog-1-320.jpg   320w,
                images/main-page/blog-1-640.jpg   640w,
                images/main-page/blog-1-960.jpg   960w,
                images/main-page/blog-1-1280.jpg 1280w,
                images/main-page/blog-1-1920.jpg 1920w,
                images/main-page/blog-1-2560.jpg 2560w
              "
              type="image/jpeg"
            />
            <img
              alt="Packet Pushers Heavy Networking Podcast"
              class="image"
              draggable="false"
              loading="lazy"
              height="2560"
              src="images/main-page/blog-1-960.jpg"
              width="2560"
            />
          </picture>

          <span class="card-btn">
            <svg aria-hidden="true" class="arrow-right-icon">
              <use href="images/icons/sprite-mono.svg#arrow" />
            </svg>
          </span>
        </a>

        <div class="card-blog-post__content">
          <p class="card-time">12 April 2022</p>

          <h3 class="h-4" data-animate="blog-header-1">
            <a class="link" href="#"> Packet Pushers Heavy Networking Podcast </a>
          </h3>

          <ul class="card-list">
            <li>
              <a href="#">Management</a>
            </li>

            <li>
              <a href="#">IT</a>
            </li>

            <li>
              <a href="#">Disaster Recovery</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card-blog-post">
        <a class="card-blog-post__img" href="#" tabindex="-1">
          <picture>
            <source
              sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
              srcset="
                images/main-page/blog-2-320.avif   320w,
                images/main-page/blog-2-640.avif   640w,
                images/main-page/blog-2-960.avif   960w,
                images/main-page/blog-2-1280.avif 1280w,
                images/main-page/blog-2-1920.avif 1920w,
                images/main-page/blog-2-2560.avif 2560w
              "
              type="image/avif"
            />
            <source
              sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
              srcset="
                images/main-page/blog-2-320.webp   320w,
                images/main-page/blog-2-640.webp   640w,
                images/main-page/blog-2-960.webp   960w,
                images/main-page/blog-2-1280.webp 1280w,
                images/main-page/blog-2-1920.webp 1920w,
                images/main-page/blog-2-2560.webp 2560w
              "
              type="image/webp"
            />
            <source
              sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
              srcset="
                images/main-page/blog-2-320.jpg   320w,
                images/main-page/blog-2-640.jpg   640w,
                images/main-page/blog-2-960.jpg   960w,
                images/main-page/blog-2-1280.jpg 1280w,
                images/main-page/blog-2-1920.jpg 1920w,
                images/main-page/blog-2-2560.jpg 2560w
              "
              type="image/jpeg"
            />
            <img
              alt="Tips For Efficient Communication With Your IT Support Team"
              class="image"
              draggable="false"
              loading="lazy"
              height="2560"
              src="images/main-page/blog-2-960.jpg"
              width="2560"
            />
          </picture>

          <span class="card-btn">
            <svg aria-hidden="true" class="arrow-right-icon">
              <use href="images/icons/sprite-mono.svg#arrow" />
            </svg>
          </span>
        </a>

        <div class="card-blog-post__content">
          <p class="card-time">12 April 2022</p>

          <h3 class="h-4" data-animate="blog-header-2">
            <a class="link" href="#"> Tips For Efficient Communication With Your IT Support Team </a>
          </h3>

          <ul class="card-list">
            <li>
              <a href="#">Management</a>
            </li>

            <li>
              <a href="#">Business</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="card-blog-post">
        <a class="card-blog-post__img" href="#" tabindex="-1">
          <picture>
            <source
              sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
              srcset="
                images/main-page/blog-3-320.avif   320w,
                images/main-page/blog-3-640.avif   640w,
                images/main-page/blog-3-960.avif   960w,
                images/main-page/blog-3-1280.avif 1280w,
                images/main-page/blog-3-1920.avif 1920w,
                images/main-page/blog-3-2560.avif 2560w
              "
              type="image/avif"
            />
            <source
              sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
              srcset="
                images/main-page/blog-3-320.webp   320w,
                images/main-page/blog-3-640.webp   640w,
                images/main-page/blog-3-960.webp   960w,
                images/main-page/blog-3-1280.webp 1280w,
                images/main-page/blog-3-1920.webp 1920w,
                images/main-page/blog-3-2560.webp 2560w
              "
              type="image/webp"
            />
            <source
              sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
              srcset="
                images/main-page/blog-3-320.jpg   320w,
                images/main-page/blog-3-640.jpg   640w,
                images/main-page/blog-3-960.jpg   960w,
                images/main-page/blog-3-1280.jpg 1280w,
                images/main-page/blog-3-1920.jpg 1920w,
                images/main-page/blog-3-2560.jpg 2560w
              "
              type="image/jpeg"
            />
            <img
              alt="Packet Pushers Heavy Networking Podcast"
              class="image"
              draggable="false"
              loading="lazy"
              height="2560"
              src="images/main-page/blog-3-960.jpg"
              width="2560"
            />
          </picture>

          <span class="card-btn">
            <svg aria-hidden="true" class="arrow-right-icon">
              <use href="images/icons/sprite-mono.svg#arrow" />
            </svg>
          </span>
        </a>

        <div class="card-blog-post__content">
          <p class="card-time">15 March 2022</p>

          <h3 class="h-4" data-animate="blog-header-3">
            <a class="link" href="#"> Packet Pushers Heavy Networking Podcast </a>
          </h3>

          <ul class="card-list">
            <li>
              <a href="#">Management</a>
            </li>

            <li>
              <a href="#">Disaster Recovery</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
