<!-- ====================   BANNER   ==================== -->
<div class="banner">
	<picture>
		<source
			sizes="100vw"
			srcset="
				images/test-banner-image-320.avif   320w,
				images/test-banner-image-640.avif   640w,
				images/test-banner-image-960.avif   960w,
				images/test-banner-image-1280.avif 1280w,
				images/test-banner-image-1920.avif 1920w,
				images/test-banner-image-2560.avif 2560w
			"
			type="image/avif"
		/>
		<source
			sizes="100vw"
			srcset="
				images/test-banner-image-320.webp   320w,
				images/test-banner-image-640.webp   640w,
				images/test-banner-image-960.webp   960w,
				images/test-banner-image-1280.webp 1280w,
				images/test-banner-image-1920.webp 1920w,
				images/test-banner-image-2560.webp 2560w
			"
			type="image/webp"
		/>
		<source
			sizes="100vw"
			srcset="
				images/test-banner-image-320.jpg   320w,
				images/test-banner-image-640.jpg   640w,
				images/test-banner-image-960.jpg   960w,
				images/test-banner-image-1280.jpg 1280w,
				images/test-banner-image-1920.jpg 1920w,
				images/test-banner-image-2560.jpg 2560w
			"
			type="image/jpeg"
		/>
		<img
			alt
			class="banner__img stretch z-negative"
			draggable="false"
			height="2560"
			src="images/test-banner-image-960.jpg"
			width="2560"
		/>
	</picture>
	<h1 class="text-center">Starter site BANNER</h1>
</div>

<div class="container-sm">
	<div class="card-example vstack">
		<div class="card-example__subtitle">
			...country in Eastern Europe. It is the second-largest European country after Russia
		</div>
		<div class="card-example__content">
			<p>Ukraine's official and national language is Ukrainian; most people are also fluent in Russian</p>
		</div>
		<div><div class="card-example__title">Ukraine</div></div>
	</div>
</div>

<section class="container">
	<div data-accordion class="accordion">
		<!-- ====================   HEADINGS   ==================== -->

		<div class="accordion__item">
			<h2 class="accordion__header">
				<button data-accordion-button class="accordion__button" type="button">
					Headings
					<svg aria-hidden="true" class="accordion__icon">
						<use href="images/icons/sprite-mono.svg#arrow"></use>
					</svg>
				</button>
			</h2>
			<section data-accordion-content class="accordion__content">
				<h1>h1 and .h1 headings HEADINGS</h1>
				<h2>h2 and .h2 headings HEADINGS</h2>
				<h3>h3 and .h3 headings HEADINGS</h3>
				<h4>h4 and .h4 headings HEADINGS</h4>
				<h5>h5 and .h5 headings HEADINGS</h5>
				<h6>h6 and .h6 headings HEADINGS</h6>
			</section>
		</div>

		<!-- ====================   FONT SIZES   ==================== -->

		<div class="accordion__item">
			<h2 class="accordion__header">
				<button data-accordion-button class="accordion__button" type="button">
					Font sizes
					<svg aria-hidden="true" class="accordion__icon">
						<use href="images/icons/sprite-mono.svg#arrow"></use>
					</svg>
				</button>
			</h2>
			<section data-accordion-content class="accordion__content">
				<p class="fs-xs">.fs-xs Font SIZES <a href="" class="link-heading">link-heading LINK-HEADING</a></p>
				<p class="fs-sm">.fs-sm Font SIZES <a href="" class="link-heading">link-heading LINK-HEADING</a></p>
				<p class="fs-base">.fs-base Font SIZES <a href="" class="link-heading">link-heading LINK-HEADING</a></p>
				<p class="fs-lg">.fs-lg Font SIZES <a href="" class="link-heading">link-heading LINK-HEADING</a></p>
				<p class="fs-xl">.fs-xl Font SIZES <a href="" class="link-heading">link-heading LINK-HEADING</a></p>
			</section>
		</div>

		<!-- ====================   FONT WEIGHTS   ==================== -->

		<div class="accordion__item">
			<h2 class="accordion__header">
				<button data-accordion-button class="accordion__button" type="button">
					Font weights
					<svg aria-hidden="true" class="accordion__icon">
						<use href="images/icons/sprite-mono.svg#arrow"></use>
					</svg>
				</button>
			</h2>
			<section data-accordion-content class="accordion__content">
				<div class="fw-sm">
					<p>300 white .fw-sm font example:</p>

					<p class="color-primary">
						Primary text color.
						<span class="text-uppercase">Primary text color. </span>
						<span class="fst-italic">Primary text color. </span>
					</p>
					<p class="color-primary-dark">
						Primary-dark text color.
						<span class="text-uppercase">Primary-dark text color. </span>
						<span class="fst-italic">Primary-dark text color. </span>
					</p>
					<p class="color-primary-light">
						Primary-light text color.
						<span class="text-uppercase">Primary-light text color. </span>
						<span class="fst-italic">Primary-light text color. </span>
					</p>

					<p class="color-secondary">
						Secondary text color.
						<span class="text-uppercase">Secondary text color. </span>
						<span class="fst-italic">Secondary text color. </span>
					</p>
					<p class="color-secondary-dark">
						Secondary-dark text color.
						<span class="text-uppercase">Secondary-dark text color. </span>
						<span class="fst-italic">Secondary-dark text color. </span>
					</p>
					<p class="color-secondary-light">
						Secondary-light text color.
						<span class="text-uppercase">Secondary-light text color. </span>
						<span class="fst-italic">Secondary-light text color. </span>
					</p>

					<p class="color-accent">
						Accent text color.
						<span class="text-uppercase">Accent text color. </span>
						<span class="fst-italic">Accent text color. </span>
					</p>
					<p class="color-accent-dark">
						Accent-dark text color.
						<span class="text-uppercase">Accent-dark text color. </span>
						<span class="fst-italic">Accent-dark text color. </span>
					</p>
					<p class="color-accent-light">
						Accent-light text color.
						<span class="text-uppercase">Accent-light text color. </span>
						<span class="fst-italic">Accent-light text color. </span>
					</p>

					<div class="mt-sm">
						<p class="color-black">
							black text color.
							<span class="text-uppercase">black text color. </span>
							<span class="fst-italic">black text color. </span>
						</p>
						<p class="color-white bg-black p-sm">
							white text color.
							<span class="text-uppercase">white text color. </span>
							<span class="fst-italic">white text color. </span>
						</p>
					</div>
				</div>

				<hr />

				<div class="fw-base">
					<p>400 base .fw-base font example:</p>

					<p class="color-primary">
						Primary text color.
						<span class="text-uppercase">Primary text color. </span>
						<span class="fst-italic">Primary text color. </span>
					</p>
					<p class="color-primary-dark">
						Primary-dark text color.
						<span class="text-uppercase">Primary-dark text color. </span>
						<span class="fst-italic">Primary-dark text color. </span>
					</p>
					<p class="color-primary-light">
						Primary-light text color.
						<span class="text-uppercase">Primary-light text color. </span>
						<span class="fst-italic">Primary-light text color. </span>
					</p>

					<p class="color-secondary">
						Secondary text color.
						<span class="text-uppercase">Secondary text color. </span>
						<span class="fst-italic">Secondary text color. </span>
					</p>
					<p class="color-secondary-dark">
						Secondary-dark text color.
						<span class="text-uppercase">Secondary-dark text color. </span>
						<span class="fst-italic">Secondary-dark text color. </span>
					</p>
					<p class="color-secondary-light">
						Secondary-light text color.
						<span class="text-uppercase">Secondary-light text color. </span>
						<span class="fst-italic">Secondary-light text color. </span>
					</p>

					<p class="color-accent">
						Accent text color.
						<span class="text-uppercase">Accent text color. </span>
						<span class="fst-italic">Accent text color. </span>
					</p>
					<p class="color-accent-dark">
						Accent-dark text color.
						<span class="text-uppercase">Accent-dark text color. </span>
						<span class="fst-italic">Accent-dark text color. </span>
					</p>
					<p class="color-accent-light">
						Accent-light text color.
						<span class="text-uppercase">Accent-light text color. </span>
						<span class="fst-italic">Accent-light text color. </span>
					</p>

					<div class="mt-sm">
						<p class="color-black">
							black text color.
							<span class="text-uppercase">black text color. </span>
							<span class="fst-italic">black text color. </span>
						</p>
						<p class="color-white bg-black p-sm">
							white text color.
							<span class="text-uppercase">white text color. </span>
							<span class="fst-italic">white text color. </span>
						</p>
					</div>
				</div>

				<hr />

				<div class="fw-md">
					<p>500 md .fw-md font example:</p>

					<p class="color-primary">
						Primary text color.
						<span class="text-uppercase">Primary text color. </span>
						<span class="fst-italic">Primary text color. </span>
					</p>
					<p class="color-primary-dark">
						Primary-dark text color.
						<span class="text-uppercase">Primary-dark text color. </span>
						<span class="fst-italic">Primary-dark text color. </span>
					</p>
					<p class="color-primary-light">
						Primary-light text color.
						<span class="text-uppercase">Primary-light text color. </span>
						<span class="fst-italic">Primary-light text color. </span>
					</p>

					<p class="color-secondary">
						Secondary text color.
						<span class="text-uppercase">Secondary text color. </span>
						<span class="fst-italic">Secondary text color. </span>
					</p>
					<p class="color-secondary-dark">
						Secondary-dark text color.
						<span class="text-uppercase">Secondary-dark text color. </span>
						<span class="fst-italic">Secondary-dark text color. </span>
					</p>
					<p class="color-secondary-light">
						Secondary-light text color.
						<span class="text-uppercase">Secondary-light text color. </span>
						<span class="fst-italic">Secondary-light text color. </span>
					</p>

					<p class="color-accent">
						Accent text color.
						<span class="text-uppercase">Accent text color. </span>
						<span class="fst-italic">Accent text color. </span>
					</p>
					<p class="color-accent-dark">
						Accent-dark text color.
						<span class="text-uppercase">Accent-dark text color. </span>
						<span class="fst-italic">Accent-dark text color. </span>
					</p>
					<p class="color-accent-light">
						Accent-light text color.
						<span class="text-uppercase">Accent-light text color. </span>
						<span class="fst-italic">Accent-light text color. </span>
					</p>

					<div class="mt-sm">
						<p class="color-black">
							black text color.
							<span class="text-uppercase">black text color. </span>
							<span class="fst-italic">black text color. </span>
						</p>
						<p class="color-white bg-black p-sm">
							white text color.
							<span class="text-uppercase">white text color. </span>
							<span class="fst-italic">white text color. </span>
						</p>
					</div>
				</div>

				<hr />

				<div class="fw-lg">
					<p>600 lg .fw-lg font example:</p>

					<p class="color-primary">
						Primary text color.
						<span class="text-uppercase">Primary text color. </span>
						<span class="fst-italic">Primary text color. </span>
					</p>
					<p class="color-primary-dark">
						Primary-dark text color.
						<span class="text-uppercase">Primary-dark text color. </span>
						<span class="fst-italic">Primary-dark text color. </span>
					</p>
					<p class="color-primary-light">
						Primary-light text color.
						<span class="text-uppercase">Primary-light text color. </span>
						<span class="fst-italic">Primary-light text color. </span>
					</p>

					<p class="color-secondary">
						Secondary text color.
						<span class="text-uppercase">Secondary text color. </span>
						<span class="fst-italic">Secondary text color. </span>
					</p>
					<p class="color-secondary-dark">
						Secondary-dark text color.
						<span class="text-uppercase">Secondary-dark text color. </span>
						<span class="fst-italic">Secondary-dark text color. </span>
					</p>
					<p class="color-secondary-light">
						Secondary-light text color.
						<span class="text-uppercase">Secondary-light text color. </span>
						<span class="fst-italic">Secondary-light text color. </span>
					</p>

					<p class="color-accent">
						Accent text color.
						<span class="text-uppercase">Accent text color. </span>
						<span class="fst-italic">Accent text color. </span>
					</p>
					<p class="color-accent-dark">
						Accent-dark text color.
						<span class="text-uppercase">Accent-dark text color. </span>
						<span class="fst-italic">Accent-dark text color. </span>
					</p>
					<p class="color-accent-light">
						Accent-light text color.
						<span class="text-uppercase">Accent-light text color. </span>
						<span class="fst-italic">Accent-light text color. </span>
					</p>

					<div class="mt-sm">
						<p class="color-black">
							black text color.
							<span class="text-uppercase">black text color. </span>
							<span class="fst-italic">black text color. </span>
						</p>
						<p class="color-white bg-black p-sm">
							white text color.
							<span class="text-uppercase">white text color. </span>
							<span class="fst-italic">white text color. </span>
						</p>
					</div>
				</div>

				<hr />

				<div class="fw-xl">
					<p>700 xl .fw-xl font example:</p>

					<p class="color-primary">
						Primary text color.
						<span class="text-uppercase">Primary text color. </span>
						<span class="fst-italic">Primary text color. </span>
					</p>
					<p class="color-primary-dark">
						Primary-dark text color.
						<span class="text-uppercase">Primary-dark text color. </span>
						<span class="fst-italic">Primary-dark text color. </span>
					</p>
					<p class="color-primary-light">
						Primary-light text color.
						<span class="text-uppercase">Primary-light text color. </span>
						<span class="fst-italic">Primary-light text color. </span>
					</p>

					<p class="color-secondary">
						Secondary text color.
						<span class="text-uppercase">Secondary text color. </span>
						<span class="fst-italic">Secondary text color. </span>
					</p>
					<p class="color-secondary-dark">
						Secondary-dark text color.
						<span class="text-uppercase">Secondary-dark text color. </span>
						<span class="fst-italic">Secondary-dark text color. </span>
					</p>
					<p class="color-secondary-light">
						Secondary-light text color.
						<span class="text-uppercase">Secondary-light text color. </span>
						<span class="fst-italic">Secondary-light text color. </span>
					</p>

					<p class="color-accent">
						Accent text color.
						<span class="text-uppercase">Accent text color. </span>
						<span class="fst-italic">Accent text color. </span>
					</p>
					<p class="color-accent-dark">
						Accent-dark text color.
						<span class="text-uppercase">Accent-dark text color. </span>
						<span class="fst-italic">Accent-dark text color. </span>
					</p>
					<p class="color-accent-light">
						Accent-light text color.
						<span class="text-uppercase">Accent-light text color. </span>
						<span class="fst-italic">Accent-light text color. </span>
					</p>

					<div class="mt-sm">
						<p class="color-black">
							black text color.
							<span class="text-uppercase">black text color. </span>
							<span class="fst-italic">black text color. </span>
						</p>
						<p class="color-white bg-black p-sm">
							white text color.
							<span class="text-uppercase">white text color. </span>
							<span class="fst-italic">white text color. </span>
						</p>
					</div>
				</div>
			</section>
		</div>

		<!-- ====================   BLOCKQUOTE   ==================== -->

		<div class="accordion__item">
			<h2 class="accordion__header">
				<button data-accordion-button class="accordion__button" type="button">
					Blockquote
					<svg aria-hidden="true" class="accordion__icon">
						<use href="images/icons/sprite-mono.svg#arrow"></use>
					</svg>
				</button>
			</h2>
			<section data-accordion-content class="accordion__content">
				<figure>
					<blockquote>
						<p>
							<strong>Blockquote</strong> – HTML element indicates that the enclosed text is an extended quotation.
							Usually, this is rendered visually by indentation (see Notes for how to change it). A URL for the source
							of the quotation may be given using the cite attribute, while a text representation of the source can be
							given using the
							<code>cite</code>
							element.
							<figcaption class="mt-sm">
								<strong>Figcaption</strong> - First sentence in by George Orwell (Part 1, Chapter 1).
							</figcaption>
							<strong>Cite - </strong> <cite>Nineteen Eighty-Four</cite>
						</p>
					</blockquote>
				</figure>
			</section>
		</div>

		<!-- ====================   LISTS   ==================== -->

		<div class="accordion__item">
			<h2 class="accordion__header">
				<button data-accordion-button class="accordion__button" type="button">
					Lists
					<svg aria-hidden="true" class="accordion__icon">
						<use href="images/icons/sprite-mono.svg#arrow"></use>
					</svg>
				</button>
			</h2>

			<section data-accordion-content class="accordion__content">
				<div class="g-xl hstack gap-2">
					<ul>
						<li>Unordered list EXAMPLE</li>
						<li>Unordered list EXAMPLE</li>
						<li>Unordered list EXAMPLE</li>
					</ul>

					<ol>
						<li>Ordered list EXAMPLE</li>
						<li>Ordered list EXAMPLE</li>
						<li>Ordered list EXAMPLE</li>
					</ol>
				</div>
			</section>
		</div>
	</div>
</section>

<!-- ====================   COLORS   ==================== -->

<h2 data-animate="section-header" class="text-center text-uppercase">Colors</h2>
<div class="container-fluid">
	<div class="row row-cols-md-2 row-cols-xl-3 text-center fw-xl g-3">
		<div class="col-12">
			<div class="py-4 bg-primary fs-lg">
				<h3 class="color-white text-uppercase">Primary</h3>
				<h3 class="color-black text-uppercase">Primary</h3>
				<p class="color-white">.color-primary</p>
				<p class="color-black">.bg-primary</p>
			</div>
		</div>

		<div class="col-12">
			<div class="py-4 bg-primary-light fs-lg">
				<h3 class="color-white text-uppercase">Primary-light</h3>
				<h3 class="color-black text-uppercase">Primary-light</h3>
				<p class="color-white">.color-primary-light</p>
				<p class="color-black">.bg-primary-light</p>
			</div>
		</div>

		<div class="col-12">
			<div class="py-4 bg-primary-dark fs-lg">
				<h3 class="color-white text-uppercase">Primary-dark</h3>
				<h3 class="color-black text-uppercase">Primary-dark</h3>
				<p class="color-white">.color-primary-dark</p>
				<p class="color-black">.bg-primary-dark</p>
			</div>
		</div>

		<div class="col-12">
			<div class="py-4 bg-secondary fs-lg color-white">
				<h3 class="color-white text-uppercase">Secondary</h3>
				<h3 class="color-black text-uppercase">Secondary</h3>
				<p class="color-white">.color-secondary</p>
				<p class="color-black">.bg-secondary</p>
			</div>
		</div>

		<div class="col-12">
			<div class="py-4 bg-secondary-light fs-lg color-white">
				<h3 class="color-white text-uppercase">Secondary-light</h3>
				<h3 class="color-black text-uppercase">Secondary-light</h3>
				<p class="color-white">.color-secondary-light</p>
				<p class="color-black">.bg-secondary-light</p>
			</div>
		</div>

		<div class="col-12">
			<div class="py-4 bg-secondary-dark fs-lg color-white">
				<h3 class="color-white text-uppercase">Secondary-dark</h3>
				<h3 class="color-black text-uppercase">Secondary-dark</h3>
				<p class="color-white">.color-secondary-dark</p>
				<p class="color-black">.bg-secondary-dark</p>
			</div>
		</div>

		<div class="col-12">
			<div class="py-4 bg-accent fs-lg color-white">
				<h3 class="color-white text-uppercase">Accent</h3>
				<h3 class="color-black text-uppercase">Accent</h3>
				<p class="color-white">.color-accent</p>
				<p class="color-black">.bg-accent</p>
			</div>
		</div>

		<div class="col-12">
			<div class="py-4 bg-accent-light fs-lg color-white">
				<h3 class="color-white text-uppercase">Accent-light</h3>
				<h3 class="color-black text-uppercase">Accent-light</h3>
				<p class="color-white">.color-accent-light</p>
				<p class="color-black">.bg-accent-light</p>
			</div>
		</div>

		<div class="col-12">
			<div class="py-4 bg-accent-dark fs-lg color-white">
				<h3 class="color-white text-uppercase">Accent-dark</h3>
				<h3 class="color-black text-uppercase">Accent-dark</h3>
				<p class="color-white">.color-accent-dark</p>
				<p class="color-black">.bg-accent-dark</p>
			</div>
		</div>
		<div class="col-12">
			<div class="py-4 bg-neutral fs-lg color-white">
				<h3 class="color-white text-uppercase">neutral</h3>
				<h3 class="color-black text-uppercase">neutral</h3>
				<p class="color-white">.color-neutral</p>
				<p class="color-black">.bg-neutral</p>
			</div>
		</div>
		<div class="col-12">
			<div class="py-4 bg-neutral-light fs-lg color-white">
				<h3 class="color-white text-uppercase">neutral-light</h3>
				<h3 class="color-black text-uppercase">neutral-light</h3>
				<p class="color-white">.color-neutral-light</p>
				<p class="color-black">.bg-neutral-light</p>
			</div>
		</div>
		<div class="col-12">
			<div class="py-4 bg-neutral-dark fs-lg color-white">
				<h3 class="color-white text-uppercase">neutral-dark</h3>
				<h3 class="color-black text-uppercase">neutral-dark</h3>
				<p class="color-white">.color-neutral-dark</p>
				<p class="color-black">.bg-neutral-dark</p>
			</div>
		</div>
	</div>
</div>

<!-- ====================   BUTTONS   ==================== -->

<section class="container vstack gap-3">
	<h2 data-animate="section-header" class="text-center text-uppercase">Buttons</h2>

	<div class="hstack gap-2">
		<a class="button m-auto" href="index.html">Link</a>
		<a class="button button-reverse m-auto" href="index.html">Link-reverse</a>
		<a class="button button-outline m-auto" href="index.html">Link-outline</a>

		<button data-dialog-open type="button" class="button m-auto">Open dialog</button>

		<button type="button" class="button m-auto">Button</button>
		<button type="button" class="button button-reverse m-auto">Button-reverse</button>
		<button type="button" class="button button-outline m-auto">Button-outline</button>
	</div>
</section>

<!-- ====================   Cards  ==================== -->

<h2 data-animate="section-header" class="text-center text-uppercase">Cards</h2>
<section class="container">
	<div class="row row-cols-lg-3 g-3">
		<div class="col-12">
			<div class="card">
				<a class="card__img" href="index.html" tabindex="-1">
					<picture>
						<source
							sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
							srcset="
								images/test-image-320.avif   320w,
								images/test-image-640.avif   640w,
								images/test-image-960.avif   960w,
								images/test-image-1280.avif 1280w,
								images/test-image-1920.avif 1920w,
								images/test-image-2560.avif 2560w
							"
							type="image/avif"
						/>
						<source
							sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
							srcset="
								images/test-image-320.webp   320w,
								images/test-image-640.webp   640w,
								images/test-image-960.webp   960w,
								images/test-image-1280.webp 1280w,
								images/test-image-1920.webp 1920w,
								images/test-image-2560.webp 2560w
							"
							type="image/webp"
						/>
						<source
							sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
							srcset="
								images/test-image-320.jpg   320w,
								images/test-image-640.jpg   640w,
								images/test-image-960.jpg   960w,
								images/test-image-1280.jpg 1280w,
								images/test-image-1920.jpg 1920w,
								images/test-image-2560.jpg 2560w
							"
							type="image/jpeg"
						/>
						<img
							alt=""
							class="image"
							draggable="false"
							loading="lazy"
							height="2560"
							src="images/test-image-960.jpg"
							width="2560"
						/>
					</picture>
				</a>

				<div class="card__content">
					<p class="card__date">12 April 2022</p>

					<ul class="card__list">
						<li>
							<a href="index.html">Management</a>
						</li>

						<li>
							<a href="index.html">IT</a>
						</li>

						<li>
							<a href="index.html">Disaster Recovery</a>
						</li>
					</ul>

					<h3 class="card__header">
						<a class="link-heading" href="#"> Card tittle </a>
					</h3>

					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam deserunt ipsum harum accusamus saepe quam?
					</p>
					<div>
						<a href="index.html" class="box-link"> BOX-LINK </a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12">
			<div class="card">
				<a class="card__img" href="index.html" tabindex="-1">
					<picture>
						<source
							sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
							srcset="
								images/test-image-320.avif   320w,
								images/test-image-640.avif   640w,
								images/test-image-960.avif   960w,
								images/test-image-1280.avif 1280w,
								images/test-image-1920.avif 1920w,
								images/test-image-2560.avif 2560w
							"
							type="image/avif"
						/>
						<source
							sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
							srcset="
								images/test-image-320.webp   320w,
								images/test-image-640.webp   640w,
								images/test-image-960.webp   960w,
								images/test-image-1280.webp 1280w,
								images/test-image-1920.webp 1920w,
								images/test-image-2560.webp 2560w
							"
							type="image/webp"
						/>
						<source
							sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
							srcset="
								images/test-image-320.jpg   320w,
								images/test-image-640.jpg   640w,
								images/test-image-960.jpg   960w,
								images/test-image-1280.jpg 1280w,
								images/test-image-1920.jpg 1920w,
								images/test-image-2560.jpg 2560w
							"
							type="image/jpeg"
						/>
						<img
							alt=""
							class="image"
							draggable="false"
							loading="lazy"
							height="2560"
							src="images/test-image-960.jpg"
							width="2560"
						/>
					</picture>
				</a>

				<div class="card__content">
					<p class="card__date">12 April 2022</p>

					<ul class="card__list">
						<li>
							<a href="index.html">Management</a>
						</li>

						<li>
							<a href="index.html">IT</a>
						</li>

						<li>
							<a href="index.html">Disaster Recovery</a>
						</li>
					</ul>

					<h3 class="card__header">
						<a class="link-heading" href="#"> Card tittle </a>
					</h3>

					<p>
						Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente quis dolore, obcaecati sed pariatur
						fugiat, voluptatem voluptatum dolorum fuga provident ducimus error consectetur, fugit quae?
					</p>

					<div>
						<a href="index.html" class="box-link"> BOX-LINK </a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12">
			<div class="card">
				<a class="card__img" href="index.html" tabindex="-1">
					<picture>
						<source
							sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
							srcset="
								images/test-image-320.avif   320w,
								images/test-image-640.avif   640w,
								images/test-image-960.avif   960w,
								images/test-image-1280.avif 1280w,
								images/test-image-1920.avif 1920w,
								images/test-image-2560.avif 2560w
							"
							type="image/avif"
						/>
						<source
							sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
							srcset="
								images/test-image-320.webp   320w,
								images/test-image-640.webp   640w,
								images/test-image-960.webp   960w,
								images/test-image-1280.webp 1280w,
								images/test-image-1920.webp 1920w,
								images/test-image-2560.webp 2560w
							"
							type="image/webp"
						/>
						<source
							sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
							srcset="
								images/test-image-320.jpg   320w,
								images/test-image-640.jpg   640w,
								images/test-image-960.jpg   960w,
								images/test-image-1280.jpg 1280w,
								images/test-image-1920.jpg 1920w,
								images/test-image-2560.jpg 2560w
							"
							type="image/jpeg"
						/>
						<img
							alt=""
							class="image"
							draggable="false"
							loading="lazy"
							height="2560"
							src="images/test-image-960.jpg"
							width="2560"
						/>
					</picture>
				</a>

				<div class="card__content">
					<p class="card__date">12 April 2022</p>

					<ul class="card__list">
						<li>
							<a href="index.html">Management</a>
						</li>

						<li>
							<a href="index.html">IT</a>
						</li>

						<li>
							<a href="index.html">Disaster Recovery</a>
						</li>
					</ul>

					<h3 class="card__header">
						<a class="link-heading" href="#"> Card tittle </a>
					</h3>

					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam deserunt ipsum harum accusamus saepe quam?
					</p>
					<div>
						<a href="index.html" class="box-link"> BOX-LINK </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- ====================   TABS   ==================== -->

<h2 data-animate="section-header" class="text-center text-uppercase">Tabs</h2>
<section class="container">
	<div data-tabs class="tabbed-interface">
		<div class="tabbed-interface__body">
			<div role="tablist" class="tabbed-interface__tablist">
				<button type="button" class="tab active">Tab 1</button>
				<button type="button" class="tab">Tab 2</button>
				<button type="button" class="tab">Tab 3</button>
			</div>
			<div class="tabbed-interface__content-area">
				<div role="tabpanel" class="tabpanel active">
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam, cumque.</p>
					<p>Minima doloribus, enim laboriosam consequuntur sint maiores repudiandae voluptatibus nemo.</p>
					<p>Ullam nisi possimus maxime voluptatum quia laboriosam neque totam voluptatem?</p>
					<p>Eligendi quisquam ea cumque illo, magni sit accusantium voluptatibus? Officia.</p>
				</div>
				<div role="tabpanel" class="tabpanel">
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam.</p>
					<p>Minima doloribus, consequuntur sint maiores repudiandae voluptatibus nemo.</p>
					<p>Ullam nisi possimus maxime voluptatum quia laboriosam neque totam voluptatem?</p>
					<p>Eligendi quisquam ea cumque illo, magni sit voluptatibus? Officia.</p>
				</div>
				<div role="tabpanel" class="tabpanel">
					<p>Lorem sit amet consectetur, adipisicing elit. Veniam, cumque.</p>
					<p>Minima doloribus, laboriosam consequuntur sint maiores repudiandae voluptatibus nemo.</p>
					<p>Ullam nisi possimus maxime voluptatum quia laboriosam neque totam voluptatem?</p>
					<p>Eligendiea cumque illo, magni sit accusantium voluptatibus? Officia.</p>
				</div>
			</div>
		</div>
	</div>

	<div data-tabs="vertical" class="tabbed-interface tabbed-interface_vertical" aria-orientation="vertical">
		<div class="tabbed-interface__body tabbed-interface__body_vertical">
			<div role="tablist" class="tabbed-interface__tablist tabbed-interface__tablist_vertical">
				<button type="button" class="tab tab_vertical active">Tab 1</button>
				<button type="button" class="tab tab_vertical">Tab 2</button>
				<button type="button" class="tab tab_vertical">Tab 3</button>
			</div>
			<div class="tabbed-interface__content-area tabbed-interface__content-area_vertical">
				<div role="tabpanel" class="tabpanel tabpanel_vertical active">
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam, cumque.</p>
					<p>Minima doloribus, enim laboriosam consequuntur sint maiores repudiandae voluptatibus nemo.</p>
					<p>Ullam nisi possimus maxime voluptatum quia laboriosam neque totam voluptatem?</p>
					<p>Eligendi quisquam ea cumque illo, magni sit accusantium voluptatibus? Officia.</p>
				</div>
				<div role="tabpanel" class="tabpanel tabpanel_vertical">
					<p>Lorem ipsum dolor sit amet adipisicing elit. Veniam, cumque.</p>
					<p>Minima doloribus, enim laboriosam consequuntur sint maiores repudiandae voluptatibus nemo.</p>
					<p>Ullam nisi possimus maxime voluptatum quia laboritotam voluptatem?</p>
					<p>Eligendi quisquam ea cumque illo, magni cusantium voluptatibus? Officia.</p>
				</div>
				<div role="tabpanel" class="tabpanel tabpanel_vertical">
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam, cumque.</p>
					<p>Minima doloribus, enim maiores repudiandae voluptatibus nemo.</p>
					<p>Ullam nisi possimus maxime voluptatum quia laboriosam neque totam voluptatem?</p>
					<p>Eligendi quisquam ea cumque illo, magni sit accusantium voluptatibus? Officia.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!--  ====================   Slider   ==================== -->

<section class="container vstack gap-3">
	<h2 data-animate="section-header" class="text-center text-uppercase">Slider</h2>

	<div data-swiper class="swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="card">
					<a class="card__img" href="index.html" tabindex="-1">
						<picture>
							<source
								sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
								srcset="
									images/test-image-320.avif   320w,
									images/test-image-640.avif   640w,
									images/test-image-960.avif   960w,
									images/test-image-1280.avif 1280w,
									images/test-image-1920.avif 1920w,
									images/test-image-2560.avif 2560w
								"
								type="image/avif"
							/>
							<source
								sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
								srcset="
									images/test-image-320.webp   320w,
									images/test-image-640.webp   640w,
									images/test-image-960.webp   960w,
									images/test-image-1280.webp 1280w,
									images/test-image-1920.webp 1920w,
									images/test-image-2560.webp 2560w
								"
								type="image/webp"
							/>
							<source
								sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
								srcset="
									images/test-image-320.jpg   320w,
									images/test-image-640.jpg   640w,
									images/test-image-960.jpg   960w,
									images/test-image-1280.jpg 1280w,
									images/test-image-1920.jpg 1920w,
									images/test-image-2560.jpg 2560w
								"
								type="image/jpeg"
							/>
							<img
								alt=""
								class="image"
								draggable="false"
								loading="lazy"
								height="2560"
								src="images/test-image-960.jpg"
								width="2560"
							/>
						</picture>
					</a>

					<div class="card__content">
						<h3 class="card__header">
							<a class="link-heading" href="#"> Slide 1 </a>
						</h3>

						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam deserunt ipsum harum accusamus saepe quam?
						</p>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="card">
					<a class="card__img" href="index.html" tabindex="-1">
						<picture>
							<source
								sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
								srcset="
									images/test-image-320.avif   320w,
									images/test-image-640.avif   640w,
									images/test-image-960.avif   960w,
									images/test-image-1280.avif 1280w,
									images/test-image-1920.avif 1920w,
									images/test-image-2560.avif 2560w
								"
								type="image/avif"
							/>
							<source
								sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
								srcset="
									images/test-image-320.webp   320w,
									images/test-image-640.webp   640w,
									images/test-image-960.webp   960w,
									images/test-image-1280.webp 1280w,
									images/test-image-1920.webp 1920w,
									images/test-image-2560.webp 2560w
								"
								type="image/webp"
							/>
							<source
								sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
								srcset="
									images/test-image-320.jpg   320w,
									images/test-image-640.jpg   640w,
									images/test-image-960.jpg   960w,
									images/test-image-1280.jpg 1280w,
									images/test-image-1920.jpg 1920w,
									images/test-image-2560.jpg 2560w
								"
								type="image/jpeg"
							/>
							<img
								alt=""
								class="image"
								draggable="false"
								loading="lazy"
								height="2560"
								src="images/test-image-960.jpg"
								width="2560"
							/>
						</picture>
					</a>

					<div class="card__content">
						<h3 class="card__header">
							<a class="link-heading" href="#"> Slide 2 </a>
						</h3>

						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam deserunt aepe quam?</p>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="card">
					<a class="card__img" href="index.html" tabindex="-1">
						<picture>
							<source
								sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
								srcset="
									images/test-image-320.avif   320w,
									images/test-image-640.avif   640w,
									images/test-image-960.avif   960w,
									images/test-image-1280.avif 1280w,
									images/test-image-1920.avif 1920w,
									images/test-image-2560.avif 2560w
								"
								type="image/avif"
							/>
							<source
								sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
								srcset="
									images/test-image-320.webp   320w,
									images/test-image-640.webp   640w,
									images/test-image-960.webp   960w,
									images/test-image-1280.webp 1280w,
									images/test-image-1920.webp 1920w,
									images/test-image-2560.webp 2560w
								"
								type="image/webp"
							/>
							<source
								sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
								srcset="
									images/test-image-320.jpg   320w,
									images/test-image-640.jpg   640w,
									images/test-image-960.jpg   960w,
									images/test-image-1280.jpg 1280w,
									images/test-image-1920.jpg 1920w,
									images/test-image-2560.jpg 2560w
								"
								type="image/jpeg"
							/>
							<img
								alt=""
								class="image"
								draggable="false"
								loading="lazy"
								height="2560"
								src="images/test-image-960.jpg"
								width="2560"
							/>
						</picture>
					</a>

					<div class="card__content">
						<h3 class="card__header">
							<a class="link-heading" href="#"> Slide 3 </a>
						</h3>

						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam deserunt ipsum harum accusamus saepe quam?
						</p>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="card">
					<a class="card__img" href="index.html" tabindex="-1">
						<picture>
							<source
								sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
								srcset="
									images/test-image-320.avif   320w,
									images/test-image-640.avif   640w,
									images/test-image-960.avif   960w,
									images/test-image-1280.avif 1280w,
									images/test-image-1920.avif 1920w,
									images/test-image-2560.avif 2560w
								"
								type="image/avif"
							/>
							<source
								sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
								srcset="
									images/test-image-320.webp   320w,
									images/test-image-640.webp   640w,
									images/test-image-960.webp   960w,
									images/test-image-1280.webp 1280w,
									images/test-image-1920.webp 1920w,
									images/test-image-2560.webp 2560w
								"
								type="image/webp"
							/>
							<source
								sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
								srcset="
									images/test-image-320.jpg   320w,
									images/test-image-640.jpg   640w,
									images/test-image-960.jpg   960w,
									images/test-image-1280.jpg 1280w,
									images/test-image-1920.jpg 1920w,
									images/test-image-2560.jpg 2560w
								"
								type="image/jpeg"
							/>
							<img
								alt=""
								class="image"
								draggable="false"
								loading="lazy"
								height="2560"
								src="images/test-image-960.jpg"
								width="2560"
							/>
						</picture>
					</a>

					<div class="card__content">
						<h3 class="card__header">
							<a class="link-heading" href="#"> Slide 4 </a>
						</h3>

						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam deserunt ipsum harum accusamus saepe quam?
						</p>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="card">
					<a class="card__img" href="index.html" tabindex="-1">
						<picture>
							<source
								sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
								srcset="
									images/test-image-320.avif   320w,
									images/test-image-640.avif   640w,
									images/test-image-960.avif   960w,
									images/test-image-1280.avif 1280w,
									images/test-image-1920.avif 1920w,
									images/test-image-2560.avif 2560w
								"
								type="image/avif"
							/>
							<source
								sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
								srcset="
									images/test-image-320.webp   320w,
									images/test-image-640.webp   640w,
									images/test-image-960.webp   960w,
									images/test-image-1280.webp 1280w,
									images/test-image-1920.webp 1920w,
									images/test-image-2560.webp 2560w
								"
								type="image/webp"
							/>
							<source
								sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
								srcset="
									images/test-image-320.jpg   320w,
									images/test-image-640.jpg   640w,
									images/test-image-960.jpg   960w,
									images/test-image-1280.jpg 1280w,
									images/test-image-1920.jpg 1920w,
									images/test-image-2560.jpg 2560w
								"
								type="image/jpeg"
							/>
							<img
								alt=""
								class="image"
								draggable="false"
								loading="lazy"
								height="2560"
								src="images/test-image-960.jpg"
								width="2560"
							/>
						</picture>
					</a>

					<div class="card__content">
						<h3 class="card__header">
							<a class="link-heading" href="#"> Slide 5 </a>
						</h3>

						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam deserunt ipsum harum accusamus saepe quam?
						</p>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="card">
					<a class="card__img" href="index.html" tabindex="-1">
						<picture>
							<source
								sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
								srcset="
									images/test-image-320.avif   320w,
									images/test-image-640.avif   640w,
									images/test-image-960.avif   960w,
									images/test-image-1280.avif 1280w,
									images/test-image-1920.avif 1920w,
									images/test-image-2560.avif 2560w
								"
								type="image/avif"
							/>
							<source
								sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
								srcset="
									images/test-image-320.webp   320w,
									images/test-image-640.webp   640w,
									images/test-image-960.webp   960w,
									images/test-image-1280.webp 1280w,
									images/test-image-1920.webp 1920w,
									images/test-image-2560.webp 2560w
								"
								type="image/webp"
							/>
							<source
								sizes="(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw"
								srcset="
									images/test-image-320.jpg   320w,
									images/test-image-640.jpg   640w,
									images/test-image-960.jpg   960w,
									images/test-image-1280.jpg 1280w,
									images/test-image-1920.jpg 1920w,
									images/test-image-2560.jpg 2560w
								"
								type="image/jpeg"
							/>
							<img
								alt=""
								class="image"
								draggable="false"
								loading="lazy"
								height="2560"
								src="images/test-image-960.jpg"
								width="2560"
							/>
						</picture>
					</a>

					<div class="card__content">
						<h3 class="card__header">
							<a class="link-heading" href="#"> Slide 6 </a>
						</h3>

						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam deserunt ipsum harum accusamus saepe quam?
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hstack gap-2">
		<button data-swiper-prev type="button" class="swiper__button button swiper__button_prev">
			<svg aria-hidden="true" class="swiper__icon rotate-left">
				<use href="images/icons/sprite-mono.svg#arrow"></use>
			</svg>
		</button>

		<div data-swiper-pagination class="swiper__pagination"></div>
		<button data-swiper-next type="button" class="swiper__button button swiper__button_next">
			<svg aria-hidden="true" class="swiper__icon rotate-right">
				<use href="images/icons/sprite-mono.svg#arrow"></use>
			</svg>
		</button>
	</div>
</section>
