<ul class="social">
  <li class="social__item">
    <a href="#" class="social__link" data-tooltip aria-label="Linkedin">
      <svg aria-hidden="true" class="social__icon">
        <use href="images/icons/sprite-mono.svg#socials--linkedin"></use>
      </svg>
    </a>
  </li>

  <li class="social__item">
    <a href="#" class="social__link" data-tooltip aria-label="Facebook">
      <svg aria-hidden="true" class="social__icon">
        <use href="images/icons/sprite-mono.svg#socials--facebook"></use>
      </svg>
    </a>
  </li>

  <li class="social__item">
    <a href="#" class="social__link" data-tooltip aria-label="Instagram">
      <svg aria-hidden="true" class="social__icon">
        <use href="images/icons/sprite-mono.svg#socials--instagram"></use>
      </svg>
    </a>
  </li>
</ul>
