<ul class="social-icons">
	<li>
		<a href="#" data-tooltip aria-label="Linkedin">
			<svg aria-hidden="true" class="icon">
				<use href="images/icons/sprite-mono.svg#socials--linkedin"></use>
			</svg>
		</a>
	</li>

	<li>
		<a href="#" data-tooltip aria-label="Facebook">
			<svg aria-hidden="true" class="icon">
				<use href="images/icons/sprite-mono.svg#socials--facebook"></use>
			</svg>
		</a>
	</li>

	<li>
		<a href="#" data-tooltip aria-label="Instagram">
			<svg aria-hidden="true" class="icon">
				<use href="images/icons/sprite-mono.svg#socials--instagram"></use>
			</svg>
		</a>
	</li>
</ul>
