<div data-dropdown class="theme-toggle">
	<button type="button" class="theme-toggle__button">
		<svg aria-hidden="true" class="theme-toggle__icon theme-toggle__icon--dark">
			<use href="images/icons/sprite-mono.svg#moon"></use>
		</svg>
		<svg aria-hidden="true" class="theme-toggle__icon theme-toggle__icon--light">
			<use href="images/icons/sprite-mono.svg#sun"></use>
		</svg>
	</button>
	<menu data-dropdown-content class="theme-toggle__menu">
		<li>
			<button data-theme-toggler="dark" type="button" class="theme-toggle__button">
				<svg aria-hidden="true" class="icon">
					<use href="images/icons/sprite-mono.svg#moon"></use>
				</svg>
				Dark
			</button>
		</li>
		<li>
			<button data-theme-toggler="light" type="button" class="theme-toggle__button">
				<svg aria-hidden="true" class="icon">
					<use href="images/icons/sprite-mono.svg#sun"></use>
				</svg>
				Light
			</button>
		</li>
		<li>
			<button data-theme-toggler="system" type="button" class="theme-toggle__button active">
				<svg aria-hidden="true" class="icon">
					<use href="images/icons/sprite-mono.svg#system"></use>
				</svg>
				System
			</button>
		</li>
	</menu>
</div>