@mixin button-chevron {
	&:after {
		--chevron-line: 2px solid currentColor;
		--chevron-size: 0.5em;

		content: '';
		margin-left: 0.75rem;
		rotate: 135deg;
		width: var(--chevron-size);
		height: var(--chevron-size);
		border-top: var(--chevron-line);
		border-left: var(--chevron-line);
		transition: translate var(--transition), scale var(--transition);
	}

	@include hover {
		&:after {
			translate: 0.375rem;
			scale: 1.25;
		}
	}
}

@mixin button {
	@extend %button;
}

@mixin button-outline {
	@extend %button;
	@extend %button-outline;
}

@mixin button-reverse {
	@extend %button;
	@extend %button-reverse;
}
