.button,
%button {
	--button-text-color: var(--color-text-reverse);
	--button-text-color-accent: var(--color-text);
	--button-bg: var(--color-primary);
	--button-bg-accent: var(--color-primary-dark);
	
	@include text-preset(5);
	color: var(--button-text-color);
	background: var(--button-bg);
	border: var(--border-thickness) solid var(--button-bg);
	transition: var(--transition);
	//border-radius: var(--border-radius);
	//box-shadow: var(--shadow);
	padding: 0.75em 1.5em;
	min-width: 7.5em;
	min-height: 2.875em; 
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	
	@include hover(focus) {
		background: var(--button-bg-accent);
		border-color: var(--button-bg-accent);
		color: var(--button-text-color);
	}
}

.button-outline,
%button-outline {
	background: none;
	color: var(--button-bg);
	border-color: var(--button-bg);

	@include hover(focus) {
		background: var(--button-bg-accent);
		color: var(--button-text-color);
	}

	@include chevron();
}

.button-reverse,
%button-reverse {
	background: var(--button-bg-accent);
	border-color: var(--button-bg-accent);

	@include hover(focus) {
		background: var(--button-bg);
		border-color: var(--button-bg);
	}
}
