%button {
	--button-bg: var(--color-primary);
	--button-bg-accent: var(--color-primary-dark);

	font-weight: var(--fw-bold);
	color: var(--color-text-reverse);
	background: var(--button-bg);
	border: var(--border-thickness) solid var(--button-bg);
	transition: var(--transition);
	padding: var(--space-inset-squish-md);
	line-height: var(--lh-sm);
	text-decoration: none;
	text-align: center;
	justify-content: center;
	align-items: center;
	
	@include hover(focus) {
		background: var(--button-bg-accent);
		border-color: var(--button-bg-accent);
		color: var(--color-text-reverse);
	}
}

%button--outline {
	background: none;
	color: var(--button-bg);
	border-color: var(--button-bg);

	@include hover(focus) {
		background: var(--button-bg-accent);
		color: var(--color-text-reverse);
	}

	@include chevron();
}

%button--reverse {
	background: var(--button-bg-accent);
	border-color: var(--button-bg-accent);

	@include hover(focus) {
		background: var(--button-bg);
		border-color: var(--button-bg);
	}
}

%button--circle {
	width: 2.75em;
	height: 2.75em;
	border-radius: 50%;
	padding: 0;
}
