.button,
%button {
	--button-color: var(--color-white);
	--button-color-accent: var(--color-white);
	--button-bg: var(--color-primary);
	--button-bg-accent: var(--color-primary-dark);

	color: var(--button-color);
	background: var(--button-bg);
	font-weight: var(--fw-xl);
	border: var(--border-thickness) solid var(--button-bg);
	transition: var(--transition);
	//border-radius: var(--border-radius);
	//box-shadow: var(--shadow);
	padding: 0.75rem 1.5rem;
	min-width: 7.5rem;
	min-height: 2.875rem; // 46px
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	line-height: 1;

	@include hover() {
		background: var(--button-bg-accent);
		border-color: var(--button-bg-accent);
		color: var(--button-color-accent);
	}

	&:focus {
		background: var(--button-bg-accent);
		border-color: var(--button-bg-accent);
		color: var(--button-color-accent);
	}
}

.button-outline,
%button-outline {
	background: none;
	color: var(--button-bg);
	border-color: var(--button-bg);

	@include hover(focus) {
		background-color: var(--button-bg-accent);
		color: var(--button-color-accent);
	}

	@include chevron();
}

.button-reverse,
%button-reverse {
	color: var(--button-color-accent);
	background: var(--button-bg-accent);
	border-color: var(--button-bg-accent);

	@include hover(focus) {
		background-color: var(--button-bg);
		border-color: var(--button-bg);
		color: var(--button-color);
	}
}
