%button {
	--button-height: var(--target-size);
	--button-min-width: 7.5em;
	--button-space-x: 1.75em;
	--button-color: var(--color-text-reverse);
	--button-color-hover: var(--color-text-reverse);
	--button-bg: var(--color-primary);
	--button-bg-hover: var(--color-accent);
	--button-border-color: var(--button-bg-hover);
	--button-border-thickness: var(--border-thickness);
	--button-transition: var(--transition-md);
}

// primary button
%button {
	font-weight: var(--fw-bold);
	line-height: var(--lh-sm);
	min-height: var(--button-height);
	min-width: var(--button-min-width);
	padding: 0 var(--button-space-x);
	color: var(--button-color);
	background: var(--button-bg);
	transition: var(--button-transition);
	text-decoration: none;
	display: inline-flex;
	text-align: center;
	justify-content: center;
	align-items: center;

	@include hover(focus) {
		background: var(--button-bg-hover);
		color: var(--button-color-hover);
	}

	svg {
		fill: currentColor;
	}
}

// button variants - one per use
%button--outline {
	--button-color: var(--button-bg-hover);
	background: none;
	border: var(--button-border-thickness) solid var(--button-color);
}

// button states
%button--disabled {
	pointer-events: none;
	opacity: 60%;
}

// button shapes - one per use
%button--box {
	min-height: var(--button-height);
	min-width: var(--button-height);
	max-height: var(--button-height);
	max-width: var(--button-height);
	padding: unset;
}

%button--circle {
	@extend %button--box;
	border-radius: 50%;
}
