@mixin button-chevron {
	&:after {
		content: '';
		margin-left: 0.5rem;
		width: 0.5rem;
		height: 0.5rem;
		border-top: 2px solid lighten($color-primary, 25%);
		border-left: 2px solid lighten($color-primary, 25%);
		rotate: 135deg;
		transition: 0.3s ease-out;
	}
}

@mixin button-chevron-hover {
	translate: 0.5rem;
	scale: 1.25;
	border-top-color: $color-white;
	border-left-color: $color-white;
	rotate: 310deg;
}

@mixin button {
	@extend %button;
}

@mixin button-outline {
	@extend %button;
	@extend %button-outline;
}

@mixin button-reverse {
	@extend %button;
	@extend %button-reverse;
}
