.card-example {
	color: var(--color-white);
	padding: var(--spacer-2);
	gap: var(--spacer-2);
	user-select: none;
	background: var(--color-primary);
	border-radius: 1rem;

	&__title {
		font-size: var(--h1);
		font-weight: var(--fw-lg);
		transition: 0.4s ease-out;
		text-decoration: underline;
		text-underline-offset: 20%;
		display: inline-flex;
		padding: var(--spacer-1) var(--spacer-2);
		border: 10px solid transparent;
		border-radius: 2rem;
	}

	&__subtitle {
		text-align: right;
		font-weight: var(--fw-md);

		@include bp(xxl) {
			visibility: hidden;
			opacity: 0;
			transition: 0.3s ease-in-out;
		}
	}

	&__content {
		text-align: right;
		font-weight: var(--fw-md);
		@include bp(xxl) {
			visibility: hidden;
			opacity: 0;
			transition: 1s ease-in-out;
		}
	}

	&:hover {
		.card-example__title {
			translate: -8rem 6rem;
			color: rgb(255, 230, 0);
			background: var(--color-primary);
			text-decoration-color: transparent;
			border-color: var(--color-white);
		}

		.card-example__subtitle {
			visibility: visible;
			opacity: 1;
			translate: 0 5rem;
		}

		.card-example__content {
			visibility: visible;
			opacity: 1;
			translate: 0 7rem;
		}
	}

	@include hover(focus) {
	}
}
