// Creating gap, padding and margin classes from spacer variables inside map
@each $spacer-key, $spacer-value in $spacers {
  // gutters (flex-gap)
  .g {
    &-#{$spacer-key} {
      @include flex($flex-wrap: wrap, $gap: $spacer-value);
    }

    &x-#{$spacer-key} {
      @include flex($flex-wrap: wrap, $column-gap: $spacer-value);
    }

    &y-#{$spacer-key} {
      @include flex($flex-wrap: wrap, $row-gap: $spacer-value);
    }
  }

  // spacers - padding
  .p {
    &-#{$spacer-key} {
      padding: $spacer-value;
    }

    &x {
      &-#{$spacer-key} {
        padding-left: $spacer-value;
        padding-right: $spacer-value;
      }
    }

    &y {
      &-#{$spacer-key} {
        padding-top: $spacer-value;
        padding-bottom: $spacer-value;
      }
    }

    &l {
      &-#{$spacer-key} {
        padding-left: $spacer-value;
      }
    }

    &r {
      &-#{$spacer-key} {
        padding-right: $spacer-value;
      }
    }

    &t {
      &-#{$spacer-key} {
        padding-top: $spacer-value;
      }
    }

    &b {
      &-#{$spacer-key} {
        padding-bottom: $spacer-value;
      }
    }
  }

  // spacers - margins
  .m {
    &-auto {
      margin: auto;
    }
    &-#{$spacer-key} {
      margin: $spacer-value;
    }

    &x {
      &-auto {
        margin-left: auto;
        margin-right: auto;
      }
      &-#{$spacer-key} {
        margin-left: $spacer-value;
        margin-right: $spacer-value;
      }
    }

    &y {
      &-auto {
        margin-top: auto;
        margin-bottom: auto;
      }
      &-#{$spacer-key} {
        margin-top: $spacer-value;
        margin-bottom: $spacer-value;
      }
    }

    &l {
      &-auto {
        margin-left: auto;
      }
      &-#{$spacer-key} {
        margin-left: $spacer-value;
      }
    }

    &r {
      &-auto {
        margin-right: auto;
      }
      &-#{$spacer-key} {
        margin-right: $spacer-value;
      }
    }

    &t {
      &-auto {
        margin-top: auto;
      }
      &-#{$spacer-key} {
        margin-top: $spacer-value;
      }
    }

    &b {
      &-auto {
        margin-bottom: auto;
      }
      &-#{$spacer-key} {
        margin-bottom: $spacer-value;
      }
    }
  }
}
