:root {
  /* ==================================================== */
  /* ====================   COLORS   ==================== */
  /* ==================================================== */

  //BACKGROUND FOR CONTENT BLOCK
  //HAMBURGER FOCUS TRAP

  // basic colors
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);

  // brand colors
  --color-blue: hsl(198, 100%, 46%);
  --color-blue-light: hsl(198, 75%, 61%);
  --color-blue-dark: hsl(198, 97%, 37%);
  --color-yellow: hsl(42, 100%, 50%);
  --color-yellow-light: hsl(42, 100%, 65%);
  --color-yellow-dark: hsl(34, 100%, 50%);
  --color-orange: hsl(14, 92%, 54%);
  --color-orange-light: hsl(14, 95%, 64%);
  --color-orange-dark: hsl(14, 97%, 44%);

  // color variables
  --color-primary: var(--color-blue);
  --color-primary-light: var(--color-blue-light);
  --color-primary-dark: var(--color-blue-dark);
  --color-secondary: var(--color-yellow);
  --color-secondary-light: var(--color-yellow-light);
  --color-secondary-dark: var(--color-yellow-dark);
  --color-accent: var(--color-orange);
  --color-accent-light: var(--color-orange-light);
  --color-accent-dark: var(--color-orange-dark);
  --color-light: var(--color-white);
  --color-dark: var(--color-black);

  // base variables
  --color: var(--color-dark);
  --color-focus-outline: var(--color-primary);

  --color-bg-body: var(--color-light);
  --color-bg-header: var(--color-light);
  --color-bg-footer: var(--color-light);

  --color-selection: var(--color-light);
  --color-bg-selection: var(--color-accent);

  /* ======================================================== */
  /* ====================   TYPOGRAPHY   ==================== */
  /* ======================================================== */

  --ff-primary: 'Montserrat', Arial, sans-serif;

  // font sizes
  --fs: var(--fs-0);
  --fs-0: 1rem; // 16
  --fs-1: clamp(2.5rem, 2rem + 2.5vw, 3.88rem); // 62 > 40
  --fs-2: clamp(2.13rem, 1.81rem + 1.59vw, 3rem); // 48 > 34
  --fs-3: clamp(1.75rem, 1.57rem + 0.91vw, 2.25rem); // 36 > 28
  --fs-4: clamp(1.38rem, 1.28rem + 0.45vw, 1.63rem); // 26 > 22
  --fs-5: clamp(1rem, 0.95rem + 0.23vw, 1.13rem); // 18 > 16
  --fs-6: 0.875rem; // 14

  // line heights
  --lh: 1.65;
  --lh-sm: 1.2;
  --lh-lg: 2;
  --lh-headings: 1.2;
  --underline-offset: 30%;

  // weights
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fw: var(--fw-regular);
  --fw-headings: var(--fw-bold);

  /* ======================================================= */
  /* ====================   STRUCTURE   ==================== */
  /* ======================================================= */

  // spacers
  --spacer: clamp(1rem, calc(0.82rem + 0.91vw), 1.5rem); // 24 > 16
  --spacer-sm: clamp(0.5rem, calc(0.41rem + 0.45vw), 0.75rem); // 12 > 8
  --spacer-lg: clamp(1.5rem, calc(0.95rem + 2.73vw), 3rem); // 48 > 24
  --spacer-xl: clamp(2rem, calc(0.55rem + 7.27vw), 6rem); // 96 > 48

  // borders
  --border: 1px solid var(--color-dark);
  --br: 0.625rem;

  // line
  --hr: 1px solid var(--color-dark);

  // shadows
  --shadow: 5px 5px 0 var(--color-black);

  // transitions
  --transition: 0.3s ease-out;

  // z-index
  --z-hamburger-toggler: 600;
  --z-tooltip: 500;
  --z-dropdown: 400;
  --z-hamburger: 100;
  --z-hamburger-backdrop: 90;
  --z-header: 50;
  --z-footer: 40;
}
