/*--------------------------------------------------------------
# Import
--------------------------------------------------------------*/

// ABSTRACTS
@import 'abstracts/functions';
@import 'abstracts/variables';
@import 'abstracts/mixins';

// component mixins
@import 'modules/buttons/button-utility';
@import 'modules/links/link-utility';

// PLUGINS
@import 'plugins/bootstrap';
@import 'plugins/swiper';
@import 'plugins/animations';

// BASE
@import 'base/root';
@import 'base/themes';
@import 'base/base';
@import 'base/text-presets';
@import 'base/dark';
@import 'base/fonts';
@import 'base/containers';
@import 'base/selectors';
@import 'base/hero';

// LAYOUT
@import 'layout/header/header';
@import 'layout/footer';
@import 'layout/card';

// MODULES
@import 'modules/links/link';
@import 'modules/buttons/button';
@import 'modules/links/scroll-links';
@import 'modules/accordion';
@import 'modules/dialog';
@import 'modules/dropdown';
@import 'modules/icons';
@import 'modules/lists';
@import 'modules/tabs';
@import 'modules/tooltip';
@import 'modules/fields';

// PAGES
@import 'pages/home';
