@use 'sass:meta';

@mixin chevron($margin-left: 0.5rem) {
	&:after {
		--chevron-line: 2px solid currentColor;
		--chevron-size: 0.5em;

		content: '';
		margin-left: $margin-left;
		rotate: 135deg;
		width: var(--chevron-size);
		height: var(--chevron-size);
		border-top: var(--chevron-line);
		border-left: var(--chevron-line);
		transition: translate var(--transition), scale var(--transition);
		display: flex;
		align-self: center;
	}

	@include hover(focus) {
		&:after {
			translate: 0.188rem;
			scale: 1.25;
		}
	}
}
// Hover only for mouse users, focus only for keyboard
@mixin hover($focus: null) {
	@media (hover: hover) and (pointer: fine) {
		&:hover {
			@content;
		}
	}

	@if $focus == focus {
		&:focus-visible {
			@content;
		}
	}
}

// Invisible space for better link and button selecting
@mixin link-space($size: 44px, $width: 100%, $height: 100%) {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		display: block;
		width: $width;
		height: $height;
		min-width: $size;
		min-height: $size;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
	}
}

@mixin stretch() {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@mixin bp($breakpoint: md, $minmax: min) {
	$breakpoint-value: map-get($grid-breakpoints, $breakpoint);
	@if ($minmax == max) {
		$breakpoint-value: #{map-get($grid-breakpoints, $breakpoint) - 1};
	}
	@media (#{$minmax}-width: $breakpoint-value) {
		@content;
	}
}

// Creating classes from maps
// $base value is ignored during classes creation
@mixin modifiers($map, $attribute, $prefix: '-', $separator: '-', $base: null) {
	@each $key, $value in $map {
		&#{if($key != $base, #{$prefix}#{$key}, '')} {
			@if type-of($value) == 'map' {
				@include modifiers($value, $attribute, $separator);
			} @else {
				#{$attribute}: $value;
			}
		}
	}
}

// Creating css custom properties from sass variable maps
// for extra prefix use '--prefixname'
@mixin map-scss-vars-into-css-vars($map, $prefix: '-', $key: null) {
	@each $name, $value in $map {
		// copy the map key
		$key-copy: $key;
		// create name for CSS custom property that contains:
		// current key + child key from nested map
		@if $name != null {
			$key: #{$key}-#{$name};
		}

		@if meta.type-of($value) == 'map' {
			// if value is a map, invoke it once more
			@include map-scss-vars-into-css-vars($value, $prefix, $key);
		} @else {
			#{$prefix}#{$key}: #{$value};
		}
		// next iteration of loop should go with unchanged key
		$key: $key-copy;
	}
}
