$container-max-width: 1536px;

$colors: (
	white: hsl(0, 0%, 100%),
	grey: hsl(240, 1%, 65%),
	black: hsl(0, 5%, 15%),
	primary: (
		base: hsl(198 100% 46%),
		light: hsl(198, 100%, 71%),
		dark: hsl(198, 100%, 37%),
	),
	secondary: (
		base: hsl(42, 100%, 60%),
	),
	accent: (
		base: hsl(14, 100%, 54%),
	),
	neutral: (
		base: hsl(290, 60%, 74%),
	),
);

$font-weights: (
	sm: 300,
	'': 400,
	md: 500,
	lg: 600,
	xl: 700,
);

$grid-breakpoints: (
	xs: 0,
	sm: 640px,
	md: 768px,
	lg: 1024px,
	xl: 1280px,
	xxl: $container-max-width,
);

$spacers: (
	0: 0,
	1: var(--spacer-sm),
	2: var(--spacer),
	3: var(--spacer-md),
	4: var(--spacer-lg),
);

$font-sizes: (
	1: var(--fs-1),
	2: var(--fs-2),
	3: var(--fs-3),
	4: var(--fs-4),
	5: var(--fs-5),
	6: var(--fs-6),
);
