$container-max-width: 1600px;

/*
|--------------------------------------------------------------------------
|	SASS VARIABLES MAPS 
|--------------------------------------------------------------------------
*/

$colors: (
	white: var(--color-white),
	black: var(--color-black),
	primary: (
		base: var(--color-primary),
		dark: var(--color-primary-dark),
		light: var(--color-primary-light),
	),
	secondary: (
		base: var(--color-secondary),
	),
	accent: (
		base: var(--color-accent),
	),
);

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: $container-max-width,
);

$spacers: (
	0: 0,
	1: var(--spacer-sm),
	2: var(--spacer),
	3: var(--spacer-md),
	4: var(--spacer-lg),
);

$font-sizes: (
	1: var(--fs-1),
	2: var(--fs-2),
	3: var(--fs-3),
	4: var(--fs-4),
	5: var(--fs-5),
	6: var(--fs-6),
);

$font-weights: (
	sm: var(--fw-sm),
	base: var(--fw),
	md: var(--fw-md),
	lg: var(--fw-lg),
	xl: var(--fw-xl),
);
