:root {
  /* ==================================================== */
  /* ====================   COLORS   ==================== */
  /* ==================================================== */

  // banner vmax clamp https://ishadeed.com/articles/

  // basic colors
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);

  // brand colors
  --color-blue: hsl(198, 100%, 46%);
  --color-blue-light: hsl(198, 84%, 71%);
  --color-blue-dark: hsl(198, 97%, 37%);
  --color-yellow: hsl(42, 100%, 50%);
  --color-yellow-light: hsl(42, 100%, 65%);
  --color-yellow-dark: hsl(34, 100%, 50%);
  --color-orange: hsl(14, 92%, 54%);
  --color-orange-light: hsl(14, 95%, 64%);
  --color-orange-dark: hsl(14, 97%, 44%);

  // color variables
  --color-primary: var(--color-blue);
  --color-primary-light: var(--color-blue-light);
  --color-primary-dark: var(--color-blue-dark);
  --color-secondary: var(--color-yellow);
  --color-secondary-light: var(--color-yellow-light);
  --color-secondary-dark: var(--color-yellow-dark);
  --color-accent: var(--color-orange);
  --color-accent-light: var(--color-orange-light);
  --color-accent-dark: var(--color-orange-dark);
  --color-light: var(--color-white);
  --color-dark: var(--color-black);

  // base variables
  --color: var(--color-dark);
  --color-focus-outline: var(--color-primary);

  --color-bg-body: var(--color-light);
  --color-bg-header: var(--color-light);
  --color-bg-footer: var(--color-light);

  --color-selection: var(--color-light);
  --color-bg-selection: var(--color-accent);

  --color-active-page: var(--color-primary);

  /* ======================================================== */
  /* ====================   TYPOGRAPHY   ==================== */
  /* ======================================================== */

  --ff-primary: 'Montserrat', Arial, sans-serif;

  // font sizes
  --fs: var(--fs-0); //base font
  --fs-0: 1rem; 
  --fs-1: #{clamp-smart(40, 62)}; 
  --fs-2: #{clamp-smart(34, 48)}; 
  --fs-3: #{clamp-smart(28, 36)}; 
  --fs-4: #{clamp-smart(22, 26)}; 
  --fs-5: #{clamp-smart(16, 18)}; 
  --fs-6: 0.875rem; 
  
  // line heights
  --lh: 1.65;
  --lh-sm: 1.2;
  --lh-lg: 2;
  --lh-headings: 1.2;
  --underline-offset: 30%;

  // weights
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fw: var(--fw-regular);
  --fw-headings: var(--fw-bold);

  /* ======================================================= */
  /* ====================   STRUCTURE   ==================== */
  /* ======================================================= */

  // spacers
  --spacer: #{clamp-smart(16, 24)}; // 24 > 16
  --spacer-sm: #{clamp-smart(8, 12)}; // 12 > 8
  --spacer-lg: #{clamp-smart(24, 48)}; // 48 > 24
  --spacer-xl: #{clamp-smart(48, 96)}; // 96 > 48

  // borders
  --border: 1px solid var(--color-dark);
  --br: 0.625rem;

  // line
  --hr: 1px solid var(--color-dark);

  // shadows
  --shadow: box-shadow: 0.5rem 0 1rem 0.5rem rgba(0 0 0 / 0.25);

  // transitions
  --transition: 0.3s ease-out;

  // z-index
  --z-tooltip: 500;
  --z-dropdown: 400;
  --z-dialog: 300;
  --z-hamburger-toggler: 200;
  --z-hamburger: 100;
  --z-hamburger-backdrop: 90;
  --z-header: 50;
  --z-footer: 40;
}

