$grid-gutter-width: 0; // default bootstrap x gutter
$container-max-width: 1536px;

// add button disabled class [disabled] use swiper styles
$colors: (
	accent: var(--color-accent),
	text: (
		primary: var(--color-text-primary),
		secondary: var(--color-text-secondary),
		reverse: var(--color-text-reverse),
	),
	feedback: (
		error: var(--color-feedback-error),
		success: var(--color-feedback-success),
		warning: var(--color-feedback-warning),
	),
);

$backgrounds: (
	null: var(--color-bg),
	primary-light-1: var(--color-primary-light-1),
	primary-light: var(--color-primary-light),
	primary: var(--color-primary),
	primary-dark: var(--color-primary-dark),
	accent: var(--color-accent),
);

$font-sizes: (
	sm: calc(var(--fs-md) * 0.875),
	md: clamp-smart(14, 16),
	lg: calc(var(--fs-md) * 1.125),
);

$font-weights: (
	regular: 400,
	bold: 600,
);

$spacers: (
	0: 0,
	1: calc(var(--space-3) / 4),
	2: calc(var(--space-3) / 2),
	3: var(--fs-md),
	4: calc(var(--space-3) * 2),
	5: calc(var(--space-3) * 4),
);

$grid-breakpoints: (
	xs: 0,
	sm: 640px,
	md: 768px,
	lg: 1024px,
	xl: 1280px,
	xxl: $container-max-width,
);
