*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 15%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-size: 100%;
}

body {
  font-size: var(--fs);
  font-family: var(--ff-primary);
  font-weight: var(--fw);
  color: var(--color);
  background-color: var(--color-bg-body);
  line-height: var(--lh);
  text-underline-offset: var(--underline-offset);
  
  @include flex($flex-direction: column);
  min-height: 100vh;

  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;

  overflow-x: hidden;
}

select,
textarea,
input,
button {
  font-family: var(--ff-primary);
  font-size: var(--fs);
}

header {
  background-color: var(--color-bg-header);
}

.body-wrapper {
  overflow: hidden;
}

footer {
  z-index: var(--z-footer);
  background-color: var(--color-bg-footer);
  margin-top: auto;
}

menu,
ul,
ol,
dl {
  list-style-type: none;
  list-style-position: inside;
}

ol {
  list-style-type: decimal;
}

:focus-visible {
  outline-color: var(--color-focus-outline);
  //outline: none;
}

header,
button,
img,
picture {
  user-select: none;
}

img,
svg {
  vertical-align: middle;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 4 / 3;
}

.fs-0 {
  font-size: 1rem;
}

h1,
.h-1,
.fs-1 {
  font-size: var(--fs-1);
  line-height: var(--lh-headings);
}

h2,
.h-2,
.fs-2 {
  font-size: var(--fs-2);
  line-height: var(--lh-headings);
}

h3,
.h-3,
.fs-3 {
  font-size: var(--fs-3);
  line-height: var(--lh-headings);
}

h4,
.h-4,
.fs-4 {
  font-size: var(--fs-4);
}

h5,
.h-5,
.fs-5 {
  font-size: var(--fs-5);
}

h6,
.h-6,
.fs-6 {
  font-size: var(--fs-6);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h-1,
.h-2,
.h-3,
.h-4,
.h-5,
.h-6 {
  font-weight: var(--fw-headings);
}

dialog {
  position: fixed;
  inset: 0;
  margin: auto;
  opacity: 0;
  overflow: auto;
  visibility: hidden;

  &[open] {
    visibility: visible;
  }
}

button {
  border: none;
  background-color: transparent;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

input {
  outline: none;
  border: none;

  &[type='search']::-webkit-search-cancel-button {
    display: none;
  }
}

blockquote {
  padding: var(--spacer);
  border-left: 0.25rem solid var(--color-primary);
}

::selection {
  background-color: var(--color-bg-selection);
  color: var(--color-selection);
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
