.disable-select {
  user-select: none;
}

.color-light {
  color: var(--color-light);
}

.color-dark {
  color: var(--color-dark);
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-accent {
  color: var(--color-accent);
}

.color-bg-primary {
  background-color: var(--color-primary);
}

.color-bg-secondary {
  background-color: var(--color-secondary);
}

.color-bg-accent {
  background-color: var(--color-accent);
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.fs-italic {
  font-style: italic;
}

.fs-normal {
  font-style: normal;
}

.fw-light {
  font-weight: var(--fw-light);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-medium {
  font-weight: var(--fw-medium);
}

.nowrap {
  white-space: nowrap;
}

.visually-hidden {
  @include visually-hidden();
}

.link-space {
  @include link-space();

  &-none {
    position: auto;
    content: none;
  }
}

.stop-transition {
  transition: none !important;
}

.overflow-hidden {
  overflow: hidden;
}

/* ====================   ARROWS   ==================== */

.arrow {
  &-right-icon {
    rotate: -90deg;
  }

  &-left-icon {
    rotate: 90deg;
  }

  &-top-icon {
    rotate: -180deg;
  }
}

/* ====================   POSITION   ==================== */

.position {
  &-static {
    position: static;
  }

  &-relative {
    position: relative;
  }

  &-absolute {
    position: absolute;
  }

  &-fixed {
    position: fixed;
  }

  &-sticky {
    position: sticky;
  }
}




