.skip-link {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 999;
  background-color: var(--color-secondary);
  font-weight: bold;
  font-size: var(--fs-4);
  text-transform: uppercase;
  color: var(--color-light);
  padding: 0.5rem;
  translate: 0 -100%;

  transition: var(--transition);

  &:focus-visible {
    translate: none;
  }
}
