.navigation {
  @include fixed(right 0 top 0 bottom 0);
  @include flex($flex-direction: column, $justify-content: flex-start, $align-items: flex-start);
  visibility: hidden;
  min-width: 320px;
  width: auto;
  z-index: var(--z-hamburger);

  padding: 0 0.75rem 0.75rem 0.75rem;
  background-color: var(--color-light);
  translate: 100%;
  transition: var(--transition);

  @include media-breakpoint-up(lg) {
    visibility: visible;
    position: static;
    translate: 0;
    padding: 0;
  }

  &.active {
    overflow: hidden auto;
    visibility: visible;
    translate: 0;
    box-shadow: 0.5rem 0 1rem 0.5rem rgba(0 0 0 / 0.25);
  }

  .social {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}

/* ====================   HAMBURGER TOGGLER   ==================== */

.nav-toggler {
  @include flex($justify-content: flex-end, $align-items: center);
  margin-left: auto;

  &_open {
    flex-direction: column;
    min-height: 100%;

    &:focus-visible {
      outline: 2px solid var(--color-dark);
      outline-offset: 3px;
    }
  }

  &_close {
    @include sticky(top 0 right 0);
    margin-bottom: var(--spacer);
    z-index: var(--z-hamburger-toggler);
    border-bottom: 1px solid var(--color-dark);
    background-color: var(--color-light);
    min-height: 3.75rem;
    width: 100%;

    &:focus-visible {
      background-color: var(--color-primary);
      color: var(--color-light);
      border-color: var(--color-primary);
    }
  }

  &__text {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__icon {
    @include box(2.25rem, 1.125rem);
    &_open {
      margin-bottom: 0.375rem;
    }

    &_close {
      @include box(1.125rem, 1.125rem);
      margin-left: auto;
    }
  }

  /* ====================   MEDIA BREAKPOINTS   ==================== */

  @include media-breakpoint-up(lg) {
    display: none;
  }
}
