.header-sticky-wrapper {
  @include sticky(top 0 left 0);
  z-index: var(--z-header);
  box-shadow: none;
  transition: all 0.5s ease-out;
}

.headroom_unpinned {
 
}

.headroom_not-top {
  box-shadow: 0 -1rem 3rem 0 rgba(0 0 0 / 0.5);
}

.header {
  @include flex($flex-wrap: wrap, $align-items: center, $gap: var(--spacer));
  padding: 0.75rem;

  @include media-breakpoint-up(xxl) {
    padding: 0.75rem var(--spacer-lg);
  }
}

/* ====================   IMPORTS   ==================== */
@import 'nav-menu';
@import 'search';
@import 'hamburger';
