.header-sticky-wrapper {
  @include sticky(top 0 left 0);
  z-index: var(--z-header);
  box-shadow: none;
  translate: none;
  transition: all 0.5s ease-out;

  @include media-breakpoint-up(lg) {
    will-change: auto;
  }
}

.headroom_unpinned {
  @include media-breakpoint-up(lg) {
    translate: 0 -100%;
  }
}

.headroom_not-top {
  box-shadow: 0 -1rem 3rem 0 rgba(0 0 0 / 0.5);
}

.header {
  @include flex($flex-wrap: wrap, $align-items: center, $gap: var(--spacer));
  @include space(var(--spacer-sm), padding, vertical);
  @include media-breakpoint-up(sm) {
    gap: var(--spacer-lg);
  }

  @include media-breakpoint-up(xxl) {
    @include space(var(--spacer-lg), padding, horizontal);
  }
}



/* ====================   IMPORTS   ==================== */

@import 'navigation';
@import 'nav-menu';
@import 'nav-search';
@import 'hamburger-toggler';
