.navigation {
  @include fixed(right 0 top 0 bottom 0);
  @include flex($flex-direction: column, $justify-content: flex-start, $align-items: flex-start);
  @include space(0.75rem, padding, horizontal, bottom);
  width: auto;
  background-color: var(--color-light);
  z-index: var(--z-hamburger);
  visibility: hidden;
  translate: 100%;
  transition: var(--transition);

  @include media-breakpoint-up(xl) {
    padding: 0;
    visibility: visible;
    position: static;
    translate: 0;
  }

  &.active {
    overflow-x: hidden;
    overflow-y: auto;
    visibility: visible;
    translate: 0;
    box-shadow: 0.5rem 0 1rem 0.5rem rgba(0 0 0 / 0.25);
  }

  .social {
    margin-bottom: 0;

    @include media-breakpoint-up(xl) {
      display: none;
    }
  }
}

@include media-breakpoint-down(xl) {
  .navigation {
    will-change: auto;
  }
}


