[data-accordion-content] {
	max-height: 0;
	visibility: hidden;
	overflow: hidden;
}

[data-accordion-content].active {
	visibility: visible;
}

.accordion {
	--accordion-transition: 0.3s ease-in-out;
	--accordion-color: var(--color-primary);
	--accordion-accent-color: var(--color-white);

	display: flex;
	flex-direction: column;
	gap: var(--space-2);
}

.accordion__item {
	box-shadow: var(--shadow);
}

.accordion__button {
	@include text-preset(5);
	display: flex;
	justify-content: space-between;
	width: 100%;
	gap: var(--space-2);
	padding: var(--space-2);
	color: var(--accordion-color);
	transition: var(--transition);
	background: var(--color-bg-primary);

	@include hover(focus) {
		background-color: var(--accordion-color);
		color: var(--accordion-accent-color);

		.icon {
			fill: var(--accordion-accent-color);
		}
	}
}

.accordion__button.active {
	background: var(--color-primary-dark);
	color: var(--accordion-accent-color);

	.icon {
		fill: var(--accordion-accent-color);
		rotate: 180deg;
	}
}

.accordion__content {
	display: flex;
	flex-direction: column;
	transition: var(--accordion-transition);
	gap: var(--space-2);
	padding: 0 var(--space-2);
	background: var(--color-bg-body);

	> :first-child {
		margin-top: var(--space-2);
	}

	> :last-child {
		margin-bottom: var(--space-2);
	}
}

.accordion__icon {
	display: flex;
	align-self: center;
	transition: var(--accordion-transition);
}
