.accordion {
	--accordion-space: var(--space-4);
	--accordion-accent-color: var(--color-text-white);
	--accordion-transition: var(--transition-lg);
	--accordion-bg: var(--color-surface2);
}

[data-accordion-content] {
	max-height: 0;
	visibility: hidden;
	overflow: hidden;
}

[data-accordion-content].active {
	visibility: visible;
}

.accordion {
	display: flex;
	flex-direction: column;
}

.accordion__item {
	background: var(--accordion-bg);
	box-shadow: var(--bs-sm);
}

.accordion__button.active {
	background: var(--color-primary);
	color: var(--accordion-accent-color);
}

.accordion__button.active .accordion__icon {
	fill: var(--accordion-accent-color);
	rotate: 180deg;
}

.accordion__button {
	@include text-preset(3);
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: var(--accordion-space);
	transition: var(--transition-sm);

	@include hover(focus) {
		background: var(--color-accent);
		color: var(--accordion-accent-color);

		.icon {
			fill: var(--accordion-accent-color);
		}
	}
}

.accordion__content {
	display: flex;
	flex-direction: column;
	transition: var(--accordion-transition);
	gap: var(--space-4);
	padding: 0 var(--accordion-space);

	> :first-child {
		margin-top: var(--accordion-space);
	}

	> :last-child {
		margin-bottom: var(--accordion-space);
	}
}

.accordion__icon {
	display: flex;
	align-self: center;
	transition: rotate var(--accordion-transition);
}
