[data-accordion-content] {
	max-height: 0;
	visibility: hidden;
	overflow: hidden;
}

[data-accordion-content].active {
	visibility: visible;
}

.accordion {
	--accordion-transition: all 0.6s ease;
	--accordion-color: var(--color-primary);
	--accordion-accent-color: var(--color-white);

	display: flex;
	flex-direction: column;
	gap: var(--spacer-2);

	&__item {
	}

	&__header {
	}

	&__button {
		display: flex;
		justify-content: space-between;
		column-gap: var(--spacer-2);
		padding: var(--spacer-2);
		width: 100%;
		color: var(--accordion-color);
		background: var(--color-primary-bg);
		transition: var(--transition);
		font-weight: var(--fw-xl);
		font-size: var(--h4);

		&.active {
			background: var(--color-primary-dark);
			color: var(--accordion-accent-color);
			
			.accordion__icon {
				fill: var(--accordion-accent-color);
				rotate: 180deg;
			}
		}

		@include hover(focus) {
			background-color: var(--accordion-color);
			color: var(--accordion-accent-color);
			.accordion__icon {
				fill: var(--accordion-accent-color);
			}
		}
	}

	&__content {
		transition: var(--accordion-transition);
		display: flex;
		flex-direction: column;
		gap: var(--spacer-2);
		padding: 0 var(--spacer-2);
		background: var(--color-primary-bg);

		> :first-child {
			padding-top: var(--spacer-2);
		}

		> :last-child {
			padding-bottom: var(--spacer-2);
		}
	}

	&__icon {
		width: 1rem;
		height: 1rem;
		display: flex;
		align-self: center;
		fill: currentColor;
		transition: var(--accordion-transition);
	}
}
