:root {
	--dialog-transition: 0.15s ease-in-out;
}

.dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	visibility: hidden;
	opacity: 0;
	scale: 0;
	overflow-x: hidden;
	overflow-y: auto;
	overscroll-behavior: contain;
	z-index: 400;

	min-width: 280px;
	max-width: 35rem;
	max-height: 85vh;

	display: flex;
	flex-direction: column;
	gap: var(--space-4);
	padding: var(--space-4);
	background: var(--color-surface);
	transition: visibility var(--dialog-transition), opacity var(--dialog-transition), scale var(--dialog-transition);
}

.dialog--small {
	min-width: 260px;
	max-width: 25rem;
}

.dialog.active {
	visibility: visible;
	opacity: 1;
	scale: 1;
}

.dialog__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dialog__title {
	@include text-preset-3;
}

.dialog__controls {
	display: flex;
	justify-content: flex-end;
	gap: var(--space-3);
}

.dialog__backdrop {
	z-index: 400;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	background: var(--backdrop-color);
	backdrop-filter: blur(4px);
	transition: opacity var(--dialog-transition), visibility var(--dialog-transition);
}

.dialog__backdrop.active {
	visibility: visible;
	opacity: 1;
}

[data-dialog-close] {
	@include target-space;
}
