.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  row-gap: var(--spacer-2);
  z-index: var(--z-dialog);
  padding: var(--spacer-2);
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
  box-shadow: 0 0 2rem rgba(0 0 0 / 0.4);
  overflow: auto;
  overscroll-behavior: contain;
  visibility: hidden;
  opacity: 0;

  min-width: 300px;
  max-width: 35rem;
  max-height: 85vh;

  scale: 0;
  translate: -50% -50%;
  transition: 0.3s ease-in-out;

  &.active {
    visibility: visible;
    opacity: 1;
    scale: 1;
  }

  &_small {
    min-width: 260px;
    max-width: 25rem;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
  }

  &__title {
    font-size: var(--fs-5);
    color: var(--color-primary);
    font-weight: var(--fw-semibold);
  }

  &__controls {
    display: flex;
    justify-content: flex-end;
    gap: var(--spacer-1);
  }

  .cancel-icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}

/* ====================   DIALOG BACKDROP   ==================== */

.dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: var(--z-dialog);
  background: rgba(0 0 0 / 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.dialog-backdrop.active {
  opacity: 1;
  visibility: visible;
}
