.dropdown {
	position: relative;

	&__controls {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
	}

	&__content {
		position: absolute;
		left: 50%;
		visibility: hidden;
		opacity: 0;
		min-width: 9.375rem;
		transition: var(--transition);
		overflow: hidden;
		background-color: var(--color-white);
		box-shadow: 0 4px 8px rgba(0 0 0 / 0.15);
		translate: -50%;

		ul {
			list-style: none;
		}
	}

	&__link {
		padding: var(--spacer-1);
		width: 100%;
	}

	&__button {
		transition: var(--transition);

		&:focus-visible {
			scale: 1.5;
			translate: 3px;
			fill: var(--color-black);

			.nav-menu__icon {
				width: 1rem;
				height: 1rem;
			}
		}
	}

	&__icon {
		width: 1rem;
		height: 1rem;
		transition: var(--transition);
	}

	&.active {
		.dropdown__content {
			visibility: visible;
			opacity: 1;
		}

		.dropdown__icon {
			rotate: 90deg;
		}
	}
}
