.dropdown {
	position: relative;
}

.dropdown__content {
	position: absolute;
	left: 50%;
	visibility: hidden;
	opacity: 0;
	transition: var(--transition-duration) ease-in-out;
	overflow: hidden;
	background-color: var(--color-bg);
	box-shadow: 0 0 10px 0 rgba(0 0 0 / 0.12);
	translate: -50% -10px;
}

.dropdown.active .dropdown__content {
	visibility: visible;
	opacity: 1;
	translate: -50% 0;
}

.dropdown__controls {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}

.dropdown__button {
	align-items: center;
	@include link-space();
}

.dropdown__button:focus-visible {
	transition: var(--transition);

	.icon {
		fill: var(--color-text-accent);
		scale: 1.33;
	}
}

.dropdown .icon {
	transition: var(--transition);
	fill: var(--color-text-primary);
}

.dropdown.active .icon {
	rotate: 90deg;
}

// a11y fix for desktop screen resize. TODO better solution possible?
@include device-input(mouse) {
	.navigation.active .dropdown__content {
		visibility: visible;
		opacity: 1;
	}
}
