.dropdown {
	position: relative;

	&__controls {
		display: flex;
		align-items: stretch;
		justify-content: space-between;

		&:has(button) {
			.nav-menu__link {
				padding-right: 0;
			}
		}
	}

	&__content {
		position: absolute;
		left: 50%;
		visibility: hidden;
		opacity: 0;
		transition: var(--transition);
		overflow: hidden;
		background-color: var(--color-white);
		box-shadow: 0 2px 4px rgba(0 0 0 / 0.1);
		translate: -50%;
		border-top: var(--border);

		ul {
			list-style: none;
		}
	}

	&__link {
		padding: var(--spacer-1) calc(var(--spacer-1) * 1.5);
		width: 100%;
		font-weight: var(--fw-md);
		white-space: nowrap;
	}

	&__button {
		transition: var(--transition);

		&:focus-visible {
			scale: 1.5;
			translate: 3px;
		}
	}

	&__icon {
		width: 1rem;
		height: 1rem;
		transition: var(--transition);
	}

	&.active {
		.dropdown__content {
			visibility: visible;
			opacity: 1;
		}

		.dropdown__icon {
			rotate: 90deg;
		}
	}
}
