.dropdown {
	position: relative;
}

.dropdown__content {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	transition: var(--transition-sm);
	overflow: hidden;
	background-color: var(--color-bg);
	box-shadow: var(--shadow);
	margin: auto;
}

.dropdown.active .dropdown__content {
	visibility: visible;
	opacity: 1;
}

.dropdown__controls {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}

.dropdown__button {
	align-items: center;
	@include target-space();
}

.dropdown__button:focus-visible {
	transition: var(--transition-md);

	.icon {
		fill: var(--color-accent);
		scale: 1.33;
	}
}

.dropdown .icon {
	transition: var(--transition-md);
	fill: var(--color-text-primary);
}

.dropdown.active .icon {
	rotate: 90deg;
}

// a11y fix for desktop screen resize. TODO better solution possible?
@include device-input(mouse) {
	.hamburger.active .dropdown__content {
		visibility: visible;
		opacity: 1;
	}
}
