input,
textarea {
	padding: var(--space-2);
	border: var(--border);
	background: var(--color-bg-body);
	transition: border-color var(--transition), box-shadow var(--transition);

	&:focus-within {
		border-color: var(--color-primary);
		box-shadow: 0 0 0 4px var(--shadow-color);
	}
}

.contact-form {
	display: flex;
	flex-direction: column;
	gap: var(--space-3);

	&__input {
		margin-top: var(--space-1);
		width: 100%;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__label {
		@include text-preset(3);
	}

	textarea {
		min-width: 100%;
		max-width: 100%;
		min-height: 5rem;
	}
}

.contact-form__label.contact-form__item {

}
