input,
textarea {
	--input-height: var(--target-size);
	--input-space: 0.75rem;
}

input,
textarea {
	border: var(--border-thickness) solid transparent;
	border-bottom-color: var(--border-color);
	background: var(--color-surface);
	transition: border-color var(--transition-md), box-shadow var(--transition-md);

	&:focus-within {
		border-color: var(--border-color-accent);
		box-shadow: var(--input-focus-shadow);
	}
}

input:not([type='radio'], [type='checkbox']) {
	height: var(--input-height);
	padding: 0 var(--input-space);
}

input[type='radio'],
input[type='checkbox'] {
	background: var(--color-surface);
	border: var(--border);
	width: 1.5rem;
	height: 1.5rem;
	vertical-align: text-bottom;
	position: relative;
	cursor: pointer;
	margin-right: var(--space-1);
	@include target-space();

	&[disabled] {
		opacity: 0.4;
	}

	&::after {
		content: '';
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		top: 0;
		transition: var(--transition-sm), rotate none;
	}
}

input[type='radio']::after {
	height: 0;
	width: 0;
}

input[type='radio']:checked::after {
	border: 6px solid transparent;
	border-radius: var(--rounded-full);
	background: var(--color-accent);
}

input[type='radio']:checked,
input[type='checkbox']:checked {
	border-color: var(--color-accent);
}

input[type='radio'] {
	border-radius: var(--rounded-full);
}

input[type='checkbox']:checked::after {
	border-right: 3px solid var(--color-accent);
	border-bottom: 3px solid var(--color-accent);
	height: 50%;
	width: 30%;
	transform: rotate(45deg) translateY(-20%) translateX(-10%);
}

textarea {
	padding: var(--input-space);
	min-width: 100%;
	max-width: 100%;
	min-height: 7.5em;
}

fieldset {
	background: var(--color-surface);
	padding: var(--space-5);
	box-shadow: var(--shadow-sm);
}

legend {
	float: left;
	width: 100%;
}

.contact-form {
	display: flex;
	flex-direction: column;
	gap: var(--space-6);

	&__item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__label {
		@include text-preset(3);
	}

	&__input {
		margin-top: var(--space-1);
		width: 100%;
	}
}

.search {
	display: flex;
	gap: var(--space-2);
}

.search__input {
	border-bottom-color: var(--color-primary);
	width: 100%;
}

@include bp(sm) {
	.search {
		width: 100%;
	}

	.search__input {
		transition: max-width var(--transition-lg);
		max-width: 120px;
	}

	.search__input:focus-within {
		max-width: clamp-smart(250px, 400px);
	}
}

.search__input:focus-within::placeholder {
	color: transparent;
}

.search__button {
	@include button;
	@include button--box;
}
