form {
	--input-height: var(--target-size);
	--input-space: 0.75em;
	--input-border-color-focus: var(--color-accent);
	--input-focus-shadow: 0 0 0 4px var(--shadow-color);
}

input,
textarea {
	padding: 0 var(--input-space);
	border: var(--border);
	background: var(--color-bg-body);
	transition: border-color var(--transition-md), box-shadow var(--transition-md);

	&:focus-within {
		border-color: var(--input-border-color-focus);
		box-shadow: var(--input-focus-shadow);
	}
}

input {
	min-height: var(--input-height);
}

textarea {
	padding: var(--input-space);
	min-width: 100%;
	max-width: 100%;
	min-height: 7.5em;
}

.contact-form {
	display: flex;
	flex-direction: column;
	gap: var(--space-3);

	&__item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__label {
		@include text-preset(3);
	}

	&__input {
		margin-top: var(--space-1);
		width: 100%;
	}
}

.search {
	display: flex;
	gap: var(--space-2);
}

.search__input {
	width: 100%;
}

@include bp(sm) {
	.search {
		width: 100%;
	}

	.search__input {
		transition: max-width var(--transition-lg);
		max-width: 120px;
	}

	.search__input:focus-within {
		max-width: clamp-smart(250px, 400px);
	}
}

.search__input:focus-within::placeholder {
	color: transparent;
}

.search__button {
	@include button;
	@include button--box;
}
