input,
textarea {
	padding: var(--space-inset-sm);
	line-height: var(--lh-sm);
	border: var(--border);
	background: var(--bg-body);
	transition: border-color var(--transition), box-shadow var(--transition);

	&:focus-visible {
		border-color: var(--color-primary);
		box-shadow: 0 0 0 4px var(--shadow-color);
	}
}

.contact-form {
	--contact-form-gap: 0.375rem;

	gap: var(--space-2);
	display: flex;
	flex-direction: column;

	&__item {
		display: flex;
		flex-direction: column;
		gap: var(--contact-form-gap);
		align-items: flex-start;
	}

	&__title {
		@include text-preset(5);
	}

	textarea {
		min-width: 100%;
		max-width: 100%;
		min-height: 5rem;
	}
}

.contact-form__title.contact-form__item {
	display: flex;
	flex-direction: column;
	align-items: unset;
	gap: var(--contact-form-gap);
}

.contact-form__item a {
}
