input,
textarea {
	--input-border-color: var(--color-black);
	--input-bg-color: var(--color-white);

	padding: var(--spacer-1);
	border-color: var(--input-border-color);
	background: var(--input-bg-color);
	transition: var(--transition);

	&:focus-visible {
		border-color: var(--color-primary);
		box-shadow: 0 0 0 4px var(--shadow-color);
	}
}

::placeholder {
	color: var(--color-black);
	font-size: var(--fs-base);
}

.contact-form {
	gap: var(--spacer-2);
	display: flex;
	flex-direction: column;

	.contact-form__title.contact-form__item {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
	}

	&__title {
		color: var(--color-black);
		font-size: var(--h6);
		font-weight: var(--fw-lg);
		text-transform: uppercase;
		transition: var(--transition);

		&:has(:focus-visible) {
			color: var(--color-primary-light);
		}
	}

	textarea {
		min-width: 100%;
		max-width: 100%;
		min-height: 5rem;
	}
}
