.icon {
	fill: currentColor;
	width: 1em;
	height: 1em;
}

.brand-logo {
	font-size: var(--h2);
	font-weight: var(--fw-bold);
	color: var(--color-text-primary);
	display: flex;
	align-items: center;
	justify-content: center;
}

// set header inner height with logo size
.brand-logo--header {
	height: var(--header-height);
}

.brand-logo--large {
	width: clamp-smart(5em, 7.5em);
	height: clamp-smart(5em, 7.5em);
	color: var(--color-text-white);
}

.social-icons {
	gap: var(--space-3);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.social-icons a {
	@include button;
	@include button--box;
}
