.icon {
	fill: currentColor;
	width: 1em;
	height: 1em;
}

.brand-logo--large {
	width: clamp-smart(5em, 7.5em);
	height: clamp-smart(5em, 7.5em);
}

.social-icons {
	gap: var(--space-3);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.social-icons a {
	@include button;
	@include button--box;
}
