.icon {
	fill: currentColor;
	width: 1em;
	height: 1em;
}

.brand-logo {
	transition: var(--transition);
	height: clamp-smart(44, 80);
	width: clamp-smart(44, 80);

	@include hover(focus) {
		filter: contrast(200%);
	}
}

.brand-logo--large {
	height: clamp-smart(80, 120);
	width: clamp-smart(80, 120);
}

.social-icons {
	gap: var(--space-2);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
