.tooltip {
  position: absolute;
  visibility: hidden;
  padding: 0.375rem 0.625rem;
  color: var(--color-light);
  background-color: var(--color-dark);
  z-index: var(--z-tooltip);
  opacity: 0;
}

.tooltip.active {
  transition: var(--transition) 0.6s;
  visibility: visible;
  opacity: 1;
}

[data-tooltip='bottom'] .tooltip {
  left: 50%;
  bottom: -0.5rem;
  translate: -50% 100%;
}

[data-tooltip='top'] .tooltip {
  left: 50%;
  top: -0.5rem;
  translate: -50% -100%;
}

[data-tooltip='bottom-left'] .tooltip {
  left: 0;
  bottom: -0.5rem;
  translate: 0 100%;
}

[data-tooltip='bottom-right'] .tooltip {
  right: 0;
  bottom: -0.5rem;
  translate: 0 100%;
}

[data-tooltip='top-right'] .tooltip {
  right: 0;
  top: -0.5rem;
  translate: 0 -100%;
}

[data-tooltip='top-left'] .tooltip {
  left: 0;
  top: -0.5rem;
  translate: 0 -100%;
}

[data-tooltip='left'] .tooltip {
  left: -0.5rem;
  top: 50%;
  translate: -100% -50%;
}

[data-tooltip='right'] .tooltip {
  right: -0.5rem;
  top: 50%;
  translate: 100% -50%;
}
